In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from ast import literal_eval # 문자열 모형의 딕트를 스근하게 딕트로 바꾸어 준다. 
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [2]:
md = pd.read_csv('input/movies_metadata.csv')

In [3]:
md.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [4]:
md.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>revenue</th>
      <th>runtime</th>
      <th>vote_average</th>
      <th>vote_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4.546000e+04</td>
      <td>45203.000000</td>
      <td>45460.000000</td>
      <td>45460.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.120935e+07</td>
      <td>94.128199</td>
      <td>5.618207</td>
      <td>109.897338</td>
    </tr>
    <tr>
      <th>std</th>
      <td>6.433225e+07</td>
      <td>38.407810</td>
      <td>1.924216</td>
      <td>491.310374</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000e+00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.000000e+00</td>
      <td>85.000000</td>
      <td>5.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000000e+00</td>
      <td>95.000000</td>
      <td>6.000000</td>
      <td>10.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.000000e+00</td>
      <td>107.000000</td>
      <td>6.800000</td>
      <td>34.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2.787965e+09</td>
      <td>1256.000000</td>
      <td>10.000000</td>
      <td>14075.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

v는 영화의 득표수
m은 차트에 나열되기 위한 최소한의 투표수
R은 영화의 평균 평점
C는 전체 보고서에 평균 투표

In [35]:
vote_count = md[md['vote_count'].notnull()]['vote_count'].astype('int') 
vote_average = md[md['vote_average'].notnull()]['vote_average'].astype('int')
m = vote_count.quantile(0.95)
C = vote_average.mean()
C

5.244896612406511

In [37]:
md['release_date'].apply(lambda x : str(x).split('-')[0] if x != np.nan else np.nan)

0        1995
1        1995
2        1995
3        1995
4        1995
5        1995
6        1995
7        1995
8        1995
9        1995
10       1995
11       1995
12       1995
13       1995
14       1995
15       1995
16       1995
17       1995
18       1995
19       1995
20       1995
21       1995
22       1995
23       1995
24       1995
25       1995
26       1995
27       1995
28       1995
29       1995
         ...
45436    2010
45437    2017
45438    2015
45439    1944
45440    2007
45441    2002
45442    1905
45443    1901
45444    1905
45445    1906
45446    1909
45447    1904
45448    1904
45449    2005
45450    1900
45451    1900
45452    1981
45453    2017
45454    2015
45455    1972
45456    1946
45457    2000
45458    2000
45459    1995
45460    1991
45461     nan
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_date, Length: 45466, dtype: object

In [40]:
qualified = md[(md['vote_count'].notnull()) & (md['vote_average'].notnull()) & (md['vote_count'] >= m)][['title', 'year', 'vote_count', 'vote_average', 'popularity', 
                                                                                                         'genres']]
qualified['vote_count'] = qualified['vote_count'].astype(int)
qualified['vote_average'] = qualified['vote_average'].astype(int)

In [30]:
def weight_rate(x):
    v = x['vote_count']
    r = x['vote_average']
    return (v / (v + m)*r) + (m/(m+v)*C)

In [43]:
qualified['wr'] = qualified.apply(weight_rate, axis=1)

In [44]:
qualified = qualified.sort_values(by='wr', ascending=False)

In [45]:
qualified.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>genres</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>[Action, Thriller, Science Fiction, Mystery, A...</td>
      <td>7.917588</td>
    </tr>
    <tr>
      <th>12481</th>
      <td>The Dark Knight</td>
      <td>2008</td>
      <td>12269</td>
      <td>8</td>
      <td>123.167</td>
      <td>[Drama, Action, Crime, Thriller]</td>
      <td>7.905871</td>
    </tr>
    <tr>
      <th>22879</th>
      <td>Interstellar</td>
      <td>2014</td>
      <td>11187</td>
      <td>8</td>
      <td>32.2135</td>
      <td>[Adventure, Drama, Science Fiction]</td>
      <td>7.897107</td>
    </tr>
    <tr>
      <th>2843</th>
      <td>Fight Club</td>
      <td>1999</td>
      <td>9678</td>
      <td>8</td>
      <td>63.8696</td>
      <td>[Drama]</td>
      <td>7.881753</td>
    </tr>
    <tr>
      <th>4863</th>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>2001</td>
      <td>8892</td>
      <td>8</td>
      <td>32.0707</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.871787</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Pulp Fiction</td>
      <td>1994</td>
      <td>8670</td>
      <td>8</td>
      <td>140.95</td>
      <td>[Thriller, Crime]</td>
      <td>7.868660</td>
    </tr>
    <tr>
      <th>314</th>
      <td>The Shawshank Redemption</td>
      <td>1994</td>
      <td>8358</td>
      <td>8</td>
      <td>51.6454</td>
      <td>[Drama, Crime]</td>
      <td>7.864000</td>
    </tr>
    <tr>
      <th>7000</th>
      <td>The Lord of the Rings: The Return of the King</td>
      <td>2003</td>
      <td>8226</td>
      <td>8</td>
      <td>29.3244</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.861927</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>[Comedy, Drama, Romance]</td>
      <td>7.860656</td>
    </tr>
    <tr>
      <th>5814</th>
      <td>The Lord of the Rings: The Two Towers</td>
      <td>2002</td>
      <td>7641</td>
      <td>8</td>
      <td>29.4235</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.851924</td>
    </tr>
  </tbody>
</table>
</div>

In [50]:
md.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level=0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>level_0</th>
      <th>level_1</th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>2</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>2</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>0</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>1</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>1</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>2</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>0</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>1</td>
      <td>Crime</td>
    </tr>
    <tr>
      <th>14</th>
      <td>5</td>
      <td>2</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>15</th>
      <td>5</td>
      <td>3</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>16</th>
      <td>6</td>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>17</th>
      <td>6</td>
      <td>1</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>18</th>
      <td>7</td>
      <td>0</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>19</th>
      <td>7</td>
      <td>1</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>20</th>
      <td>7</td>
      <td>2</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>21</th>
      <td>7</td>
      <td>3</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>22</th>
      <td>8</td>
      <td>0</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>23</th>
      <td>8</td>
      <td>1</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>24</th>
      <td>8</td>
      <td>2</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>25</th>
      <td>9</td>
      <td>0</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>26</th>
      <td>9</td>
      <td>1</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>27</th>
      <td>9</td>
      <td>2</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>28</th>
      <td>10</td>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>29</th>
      <td>10</td>
      <td>1</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>91076</th>
      <td>45446</td>
      <td>1</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>91077</th>
      <td>45449</td>
      <td>0</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>91078</th>
      <td>45449</td>
      <td>1</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>91079</th>
      <td>45450</td>
      <td>0</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>91080</th>
      <td>45450</td>
      <td>1</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>91081</th>
      <td>45450</td>
      <td>2</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>91082</th>
      <td>45451</td>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>91083</th>
      <td>45451</td>
      <td>1</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>91084</th>
      <td>45452</td>
      <td>0</td>
      <td>Documentary</td>
    </tr>
    <tr>
      <th>91085</th>
      <td>45453</td>
      <td>0</td>
      <td>Crime</td>
    </tr>
    <tr>
      <th>91086</th>
      <td>45453</td>
      <td>1</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>91087</th>
      <td>45453</td>
      <td>2</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>91088</th>
      <td>45454</td>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>91089</th>
      <td>45454</td>
      <td>1</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>91090</th>
      <td>45456</td>
      <td>0</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>91091</th>
      <td>45456</td>
      <td>1</td>
      <td>Mystery</td>
    </tr>
    <tr>
      <th>91092</th>
      <td>45456</td>
      <td>2</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>91093</th>
      <td>45457</td>
      <td>0</td>
      <td>Mystery</td>
    </tr>
    <tr>
      <th>91094</th>
      <td>45457</td>
      <td>1</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>91095</th>
      <td>45458</td>
      <td>0</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>91096</th>
      <td>45459</td>
      <td>0</td>
      <td>Science Fiction</td>
    </tr>
    <tr>
      <th>91097</th>
      <td>45460</td>
      <td>0</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>91098</th>
      <td>45460</td>
      <td>1</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>91099</th>
      <td>45460</td>
      <td>2</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>91100</th>
      <td>45461</td>
      <td>0</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>91101</th>
      <td>45461</td>
      <td>1</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>91102</th>
      <td>45462</td>
      <td>0</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>91103</th>
      <td>45463</td>
      <td>0</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>91104</th>
      <td>45463</td>
      <td>1</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>91105</th>
      <td>45463</td>
      <td>2</td>
      <td>Thriller</td>
    </tr>
  </tbody>
</table>
<p>91106 rows × 3 columns</p>
</div>

In [51]:
md.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level=0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>level_0</th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>Crime</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>6</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>0</th>
      <td>7</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>9</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>10</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45446</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45449</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45449</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45450</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45450</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45450</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45451</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45451</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45452</td>
      <td>Documentary</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45453</td>
      <td>Crime</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45453</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45453</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45454</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45454</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45456</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45456</td>
      <td>Mystery</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45456</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45457</td>
      <td>Mystery</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45457</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45458</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45459</td>
      <td>Science Fiction</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45460</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45460</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45460</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45461</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45461</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45462</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45463</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45463</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45463</td>
      <td>Thriller</td>
    </tr>
  </tbody>
</table>
<p>91106 rows × 2 columns</p>
</div>

In [58]:
s = md.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level=1, drop=True)
s

0              Animation
0                 Comedy
0                 Family
1              Adventure
1                Fantasy
1                 Family
2                Romance
2                 Comedy
3                 Comedy
3                  Drama
3                Romance
4                 Comedy
5                 Action
5                  Crime
5                  Drama
5               Thriller
6                 Comedy
6                Romance
7                 Action
7              Adventure
7                  Drama
7                 Family
8                 Action
8              Adventure
8               Thriller
9              Adventure
9                 Action
9               Thriller
10                Comedy
10                 Drama
              ...
45446             Comedy
45449          Animation
45449             Family
45450            Fantasy
45450             Action
45450           Thriller
45451             Comedy
45451            Fantasy
45452        Documentary
45453              Crime
45453              Drama
45453           Thriller
45454             Comedy
45454              Drama
45456             Horror
45456            Mystery
45456           Thriller
45457            Mystery
45457             Horror
45458             Horror
45459    Science Fiction
45460              Drama
45460             Action
45460            Romance
45461              Drama
45461             Family
45462              Drama
45463             Action
45463              Drama
45463           Thriller
Length: 91106, dtype: object

In [60]:
s.name = 'genres'
s_gen = md.drop('genres', axis=1).join(s)

In [69]:
def chart_bar(genre, percenTage=0.85):
    df = s_gen[s_gen['genres'] == genre]
    vote_count = df[df['vote_count'].notnull()]['vote_count'].astype(int)
    vote_average = df[df['vote_average'].notnull()]['vote_average'].astype(int)
    m = vote_count.quantile(percenTage)
    c = vote_average.mean()

    qualified = df[(df['vote_count'].notnull()) & (df['vote_count'] >= m) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count'] / (x['vote_count'] + m)*x['vote_average']) + (m/(m+x['vote_count'])*c), axis=1) 
    qualified = qualified.sort_values('wr', ascending=False)
    return qualified

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10309</th>
      <td>Dilwale Dulhania Le Jayenge</td>
      <td>1995</td>
      <td>661</td>
      <td>9</td>
      <td>34.457</td>
      <td>8.565285</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>7.971357</td>
    </tr>
    <tr>
      <th>876</th>
      <td>Vertigo</td>
      <td>1958</td>
      <td>1162</td>
      <td>8</td>
      <td>18.2082</td>
      <td>7.811667</td>
    </tr>
  </tbody>
</table>
</div>

In [71]:
chart_bar('Romance').head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10309</th>
      <td>Dilwale Dulhania Le Jayenge</td>
      <td>1995</td>
      <td>661</td>
      <td>9</td>
      <td>34.457</td>
      <td>8.565285</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>7.971357</td>
    </tr>
    <tr>
      <th>876</th>
      <td>Vertigo</td>
      <td>1958</td>
      <td>1162</td>
      <td>8</td>
      <td>18.2082</td>
      <td>7.811667</td>
    </tr>
  </tbody>
</table>
</div>

In [72]:
chart_bar('Adventure').head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>7.906526</td>
    </tr>
    <tr>
      <th>22879</th>
      <td>Interstellar</td>
      <td>2014</td>
      <td>11187</td>
      <td>8</td>
      <td>32.2135</td>
      <td>7.883426</td>
    </tr>
    <tr>
      <th>4863</th>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>2001</td>
      <td>8892</td>
      <td>8</td>
      <td>32.0707</td>
      <td>7.854939</td>
    </tr>
  </tbody>
</table>
</div>