start Movie Recommaned

1. library

In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from ast import literal_eval # 문자열 모형의 딕트를 스근하게 딕트로 바꾸어 준다. 
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

2. Read Data

In [2]:
md = pd.read_csv('input/movies_metadata.csv')

In [3]:
md.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

enginnering genres

In [4]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [5]:
md['genres']

0                        [Animation, Comedy, Family]
1                       [Adventure, Fantasy, Family]
2                                  [Romance, Comedy]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]
5                   [Action, Crime, Drama, Thriller]
6                                  [Comedy, Romance]
7                 [Action, Adventure, Drama, Family]
8                      [Action, Adventure, Thriller]
9                      [Adventure, Action, Thriller]
10                          [Comedy, Drama, Romance]
11                                  [Comedy, Horror]
12                    [Family, Animation, Adventure]
13                                  [History, Drama]
14                               [Action, Adventure]
15                                    [Drama, Crime]
16                                  [Drama, Romance]
17                                   [Crime, Comedy]
18                        [Crime, Comedy, Adventure]
19                           [Action, Comedy, Crime]
20                         [Comedy, Thriller, Crime]
21                                 [Drama, Thriller]
22              [Action, Adventure, Crime, Thriller]
23       [Drama, Fantasy, Science Fiction, Thriller]
24                                  [Drama, Romance]
25                                           [Drama]
26                           [Comedy, Drama, Family]
27                                  [Drama, Romance]
28             [Fantasy, Science Fiction, Adventure]
29                                    [Drama, Crime]
                            ...
45436            [Action, Mystery, Thriller, Horror]
45437           [Family, Animation, Romance, Comedy]
45438                                        [Drama]
45439                       [Drama, Fantasy, Horror]
45440                      [Drama, Family, TV Movie]
45441                                       [Comedy]
45442                                             []
45443             [Comedy, Fantasy, Science Fiction]
45444                                      [Fantasy]
45445                              [Fantasy, Comedy]
45446                              [Fantasy, Comedy]
45447                                             []
45448                                             []
45449                            [Animation, Family]
45450                    [Fantasy, Action, Thriller]
45451                              [Comedy, Fantasy]
45452                                  [Documentary]
45453                       [Crime, Drama, Thriller]
45454                                [Comedy, Drama]
45455                                             []
45456                    [Horror, Mystery, Thriller]
45457                              [Mystery, Horror]
45458                                       [Horror]
45459                              [Science Fiction]
45460                       [Drama, Action, Romance]
45461                                [Drama, Family]
45462                                        [Drama]
45463                      [Action, Drama, Thriller]
45464                                             []
45465                                             []
Name: genres, Length: 45466, dtype: object

engineering Vote

In [8]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [9]:
m = vote_counts.quantile(0.95)
m

434.0

engineering Year

In [10]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [11]:
md['year']

0        1995
1        1995
2        1995
3        1995
4        1995
5        1995
6        1995
7        1995
8        1995
9        1995
10       1995
11       1995
12       1995
13       1995
14       1995
15       1995
16       1995
17       1995
18       1995
19       1995
20       1995
21       1995
22       1995
23       1995
24       1995
25       1995
26       1995
27       1995
28       1995
29       1995
         ...
45436    2010
45437    2017
45438    2015
45439    1944
45440    2007
45441    2002
45442    1905
45443    1901
45444    1905
45445    1906
45446    1909
45447    1904
45448    1904
45449    2005
45450    1900
45451    1900
45452    1981
45453    2017
45454    2015
45455    1972
45456    1946
45457    2000
45458    2000
45459    1995
45460    1991
45461     NaT
45462    2011
45463    2003
45464    1917
45465    2017
Name: year, Length: 45466, dtype: object

In [12]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][
    ['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)

In [ ]:
qualified = qualified.sort_values(by='year', ascending=False)
qualified

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Toy Story</td>
      <td>1995</td>
      <td>5415</td>
      <td>7</td>
      <td>21.9469</td>
      <td>[Animation, Comedy, Family]</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Jumanji</td>
      <td>1995</td>
      <td>2413</td>
      <td>6</td>
      <td>17.0155</td>
      <td>[Adventure, Fantasy, Family]</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Heat</td>
      <td>1995</td>
      <td>1886</td>
      <td>7</td>
      <td>17.9249</td>
      <td>[Action, Crime, Drama, Thriller]</td>
    </tr>
    <tr>
      <th>9</th>
      <td>GoldenEye</td>
      <td>1995</td>
      <td>1194</td>
      <td>6</td>
      <td>14.686</td>
      <td>[Adventure, Action, Thriller]</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Casino</td>
      <td>1995</td>
      <td>1343</td>
      <td>7</td>
      <td>10.1374</td>
      <td>[Drama, Crime]</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Four Rooms</td>
      <td>1995</td>
      <td>539</td>
      <td>6</td>
      <td>9.02659</td>
      <td>[Crime, Comedy]</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Ace Ventura: When Nature Calls</td>
      <td>1995</td>
      <td>1128</td>
      <td>6</td>
      <td>8.20545</td>
      <td>[Crime, Comedy, Adventure]</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Twelve Monkeys</td>
      <td>1995</td>
      <td>2470</td>
      <td>7</td>
      <td>12.2973</td>
      <td>[Science Fiction, Thriller, Mystery]</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Babe</td>
      <td>1995</td>
      <td>756</td>
      <td>6</td>
      <td>14.4048</td>
      <td>[Fantasy, Drama, Comedy, Family]</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Clueless</td>
      <td>1995</td>
      <td>828</td>
      <td>6</td>
      <td>9.88238</td>
      <td>[Comedy, Drama, Romance]</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Mortal Kombat</td>
      <td>1995</td>
      <td>452</td>
      <td>5</td>
      <td>10.8701</td>
      <td>[Action, Fantasy]</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Se7en</td>
      <td>1995</td>
      <td>5915</td>
      <td>8</td>
      <td>18.4574</td>
      <td>[Crime, Mystery, Thriller]</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Pocahontas</td>
      <td>1995</td>
      <td>1509</td>
      <td>6</td>
      <td>13.2801</td>
      <td>[Adventure, Animation, Drama, Family]</td>
    </tr>
    <tr>
      <th>49</th>
      <td>The Usual Suspects</td>
      <td>1995</td>
      <td>3334</td>
      <td>8</td>
      <td>16.3025</td>
      <td>[Drama, Crime, Thriller]</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Friday</td>
      <td>1995</td>
      <td>513</td>
      <td>7</td>
      <td>14.5696</td>
      <td>[Comedy]</td>
    </tr>
    <tr>
      <th>69</th>
      <td>From Dusk Till Dawn</td>
      <td>1996</td>
      <td>1644</td>
      <td>6</td>
      <td>15.3392</td>
      <td>[Horror, Action, Thriller, Crime]</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Broken Arrow</td>
      <td>1996</td>
      <td>459</td>
      <td>5</td>
      <td>14.9576</td>
      <td>[Action, Adventure, Drama, Thriller]</td>
    </tr>
    <tr>
      <th>95</th>
      <td>La Haine</td>
      <td>1995</td>
      <td>695</td>
      <td>7</td>
      <td>12.1082</td>
      <td>[Drama]</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Happy Gilmore</td>
      <td>1996</td>
      <td>767</td>
      <td>6</td>
      <td>9.59226</td>
      <td>[Comedy]</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Braveheart</td>
      <td>1995</td>
      <td>3404</td>
      <td>7</td>
      <td>20.7551</td>
      <td>[Action, Drama, History, War]</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Taxi Driver</td>
      <td>1976</td>
      <td>2632</td>
      <td>8</td>
      <td>14.0927</td>
      <td>[Crime, Drama]</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Bad Boys</td>
      <td>1995</td>
      <td>1729</td>
      <td>6</td>
      <td>9.26218</td>
      <td>[Action, Comedy, Crime, Thriller]</td>
    </tr>
    <tr>
      <th>144</th>
      <td>The Basketball Diaries</td>
      <td>1995</td>
      <td>472</td>
      <td>7</td>
      <td>7.41514</td>
      <td>[Drama, Crime]</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Apollo 13</td>
      <td>1995</td>
      <td>1637</td>
      <td>7</td>
      <td>18.7615</td>
      <td>[Drama]</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Batman Forever</td>
      <td>1995</td>
      <td>1529</td>
      <td>5</td>
      <td>13.3214</td>
      <td>[Action, Crime, Fantasy]</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Casper</td>
      <td>1995</td>
      <td>1045</td>
      <td>6</td>
      <td>12.8125</td>
      <td>[Fantasy, Comedy, Family]</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Crimson Tide</td>
      <td>1995</td>
      <td>508</td>
      <td>7</td>
      <td>8.65736</td>
      <td>[Action, Thriller, Drama]</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Desperado</td>
      <td>1995</td>
      <td>898</td>
      <td>6</td>
      <td>6.95046</td>
      <td>[Thriller, Action, Crime]</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Die Hard: With a Vengeance</td>
      <td>1995</td>
      <td>2094</td>
      <td>6</td>
      <td>15.1389</td>
      <td>[Action, Thriller]</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Judge Dredd</td>
      <td>1995</td>
      <td>643</td>
      <td>5</td>
      <td>8.18481</td>
      <td>[Science Fiction]</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>42214</th>
      <td>King Arthur: Legend of the Sword</td>
      <td>2017</td>
      <td>1506</td>
      <td>6</td>
      <td>44.251369</td>
      <td>[Action, Drama, Fantasy]</td>
    </tr>
    <tr>
      <th>42222</th>
      <td>Beauty and the Beast</td>
      <td>2017</td>
      <td>5530</td>
      <td>6</td>
      <td>287.253654</td>
      <td>[Family, Fantasy, Romance]</td>
    </tr>
    <tr>
      <th>42235</th>
      <td>The Boss Baby</td>
      <td>2017</td>
      <td>2336</td>
      <td>6</td>
      <td>13.392824</td>
      <td>[Animation, Comedy, Family]</td>
    </tr>
    <tr>
      <th>42271</th>
      <td>Resident Evil: The Final Chapter</td>
      <td>2016</td>
      <td>1139</td>
      <td>5</td>
      <td>0.75571</td>
      <td>[Action, Horror, Science Fiction]</td>
    </tr>
    <tr>
      <th>42309</th>
      <td>Ghost in the Shell</td>
      <td>2017</td>
      <td>2547</td>
      <td>5</td>
      <td>68.726676</td>
      <td>[Action, Science Fiction, Thriller]</td>
    </tr>
    <tr>
      <th>42355</th>
      <td>Fifty Shades Darker</td>
      <td>2017</td>
      <td>2341</td>
      <td>6</td>
      <td>29.130443</td>
      <td>[Drama, Romance]</td>
    </tr>
    <tr>
      <th>42537</th>
      <td>To the Bone</td>
      <td>2017</td>
      <td>714</td>
      <td>7</td>
      <td>9.128637</td>
      <td>[Drama]</td>
    </tr>
    <tr>
      <th>42853</th>
      <td>Life</td>
      <td>2017</td>
      <td>1959</td>
      <td>6</td>
      <td>36.263803</td>
      <td>[Horror, Science Fiction, Thriller]</td>
    </tr>
    <tr>
      <th>42868</th>
      <td>The Lost City of Z</td>
      <td>2016</td>
      <td>598</td>
      <td>6</td>
      <td>21.791111</td>
      <td>[Action, Adventure, Drama, History]</td>
    </tr>
    <tr>
      <th>42886</th>
      <td>Two Is a Family</td>
      <td>2016</td>
      <td>765</td>
      <td>7</td>
      <td>17.181564</td>
      <td>[Drama, Comedy]</td>
    </tr>
    <tr>
      <th>42901</th>
      <td>Power Rangers</td>
      <td>2017</td>
      <td>1321</td>
      <td>6</td>
      <td>23.247298</td>
      <td>[Action, Adventure, Science Fiction]</td>
    </tr>
    <tr>
      <th>42902</th>
      <td>Alien: Covenant</td>
      <td>2017</td>
      <td>2677</td>
      <td>5</td>
      <td>72.884078</td>
      <td>[Horror, Science Fiction, Thriller]</td>
    </tr>
    <tr>
      <th>43059</th>
      <td>Going in Style</td>
      <td>2017</td>
      <td>543</td>
      <td>6</td>
      <td>15.157255</td>
      <td>[Crime, Comedy, Drama]</td>
    </tr>
    <tr>
      <th>43186</th>
      <td>Gifted</td>
      <td>2017</td>
      <td>549</td>
      <td>7</td>
      <td>16.025911</td>
      <td>[Drama]</td>
    </tr>
    <tr>
      <th>43190</th>
      <td>Band of Brothers</td>
      <td>2001</td>
      <td>725</td>
      <td>8</td>
      <td>7.903731</td>
      <td>[Action, Drama, War]</td>
    </tr>
    <tr>
      <th>43220</th>
      <td>Everything, Everything</td>
      <td>2017</td>
      <td>670</td>
      <td>7</td>
      <td>12.108048</td>
      <td>[Drama, Romance]</td>
    </tr>
    <tr>
      <th>43231</th>
      <td>Baywatch</td>
      <td>2017</td>
      <td>1829</td>
      <td>6</td>
      <td>35.637691</td>
      <td>[Action, Comedy]</td>
    </tr>
    <tr>
      <th>43238</th>
      <td>The Mummy</td>
      <td>2017</td>
      <td>2122</td>
      <td>5</td>
      <td>33.704935</td>
      <td>[Thriller, Action, Adventure]</td>
    </tr>
    <tr>
      <th>43255</th>
      <td>The Fate of the Furious</td>
      <td>2017</td>
      <td>3803</td>
      <td>6</td>
      <td>48.573287</td>
      <td>[Action, Crime, Thriller]</td>
    </tr>
    <tr>
      <th>43294</th>
      <td>Cars 3</td>
      <td>2017</td>
      <td>718</td>
      <td>6</td>
      <td>19.148182</td>
      <td>[Family, Comedy, Animation, Adventure]</td>
    </tr>
    <tr>
      <th>43644</th>
      <td>Baby Driver</td>
      <td>2017</td>
      <td>2083</td>
      <td>7</td>
      <td>228.032744</td>
      <td>[Action, Crime]</td>
    </tr>
    <tr>
      <th>43645</th>
      <td>Okja</td>
      <td>2017</td>
      <td>795</td>
      <td>7</td>
      <td>15.738471</td>
      <td>[Adventure, Drama, Fantasy, Science Fiction]</td>
    </tr>
    <tr>
      <th>44009</th>
      <td>Despicable Me 3</td>
      <td>2017</td>
      <td>2002</td>
      <td>6</td>
      <td>36.631519</td>
      <td>[Action, Animation, Adventure, Family, Comedy]</td>
    </tr>
    <tr>
      <th>44274</th>
      <td>War for the Planet of the Apes</td>
      <td>2017</td>
      <td>1675</td>
      <td>6</td>
      <td>146.161786</td>
      <td>[Drama, Science Fiction, War]</td>
    </tr>
    <tr>
      <th>44337</th>
      <td>Valerian and the City of a Thousand Planets</td>
      <td>2017</td>
      <td>905</td>
      <td>6</td>
      <td>15.262706</td>
      <td>[Adventure, Science Fiction, Action]</td>
    </tr>
    <tr>
      <th>44624</th>
      <td>What Happened to Monday</td>
      <td>2017</td>
      <td>598</td>
      <td>7</td>
      <td>60.581223</td>
      <td>[Science Fiction, Thriller]</td>
    </tr>
    <tr>
      <th>44632</th>
      <td>Atomic Blonde</td>
      <td>2017</td>
      <td>748</td>
      <td>6</td>
      <td>14.455104</td>
      <td>[Action, Thriller]</td>
    </tr>
    <tr>
      <th>44678</th>
      <td>Dunkirk</td>
      <td>2017</td>
      <td>2712</td>
      <td>7</td>
      <td>30.938854</td>
      <td>[Action, Drama, History, Thriller, War]</td>
    </tr>
    <tr>
      <th>44842</th>
      <td>Transformers: The Last Knight</td>
      <td>2017</td>
      <td>1440</td>
      <td>6</td>
      <td>39.186819</td>
      <td>[Action, Science Fiction, Thriller, Adventure]</td>
    </tr>
    <tr>
      <th>45014</th>
      <td>The Dark Tower</td>
      <td>2017</td>
      <td>688</td>
      <td>5</td>
      <td>50.903593</td>
      <td>[Action, Western, Science Fiction, Fantasy, Ho...</td>
    </tr>
  </tbody>
</table>
<p>2274 rows × 6 columns</p>
</div>

In [17]:
def weighted_rating(x):
    print(x)
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

I use the TMDB Ratings to come up with our Top Movies Chart. I will use IMDB's weighted rating formula to construct my chart. Mathematically, it is represented as follows:

Weighted Rating (WR) =  (v/(v+m).R)+(m/(v+m).C) 
where,

v는 영화의 득표 수입니다.
m은 차트에 나열되기 위해 필요한 최소 투표 수입니다.
R 영화의 평균 등급 
C 전체 보고서의 평균

In [18]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

title                                              The Dark Tower
year                                                         2017
vote_count                                                    688
vote_average                                                    5
popularity                                              50.903593
genres          [Action, Western, Science Fiction, Fantasy, Ho...
Name: 45014, dtype: object
title           xXx: Return of Xander Cage
year                                  2017
vote_count                            1497
vote_average                             5
popularity                       17.918269
genres          [Action, Adventure, Crime]
Name: 41972, dtype: object
title             The Fate of the Furious
year                                 2017
vote_count                           3803
vote_average                            6
popularity                      48.573287
genres          [Action, Crime, Thriller]
Name: 43255, dtype: object
title           Valerian and the City of a Thousand Planets
year                                                   2017
vote_count                                              905
vote_average                                              6
popularity                                        15.262706
genres                 [Adventure, Science Fiction, Action]
Name: 44337, dtype: object
title                                          Despicable Me 3
year                                                      2017
vote_count                                                2002
vote_average                                                 6
popularity                                           36.631519
genres          [Action, Animation, Adventure, Family, Comedy]
Name: 44009, dtype: object
title               What Happened to Monday
year                                   2017
vote_count                              598
vote_average                              7
popularity                        60.581223
genres          [Science Fiction, Thriller]
Name: 44624, dtype: object
title                Atomic Blonde
year                          2017
vote_count                     748
vote_average                     6
popularity               14.455104
genres          [Action, Thriller]
Name: 44632, dtype: object
title                                          Life
year                                           2017
vote_count                                     1959
vote_average                                      6
popularity                                36.263803
genres          [Horror, Science Fiction, Thriller]
Name: 42853, dtype: object
title                                           Dunkirk
year                                               2017
vote_count                                         2712
vote_average                                          7
popularity                                    30.938854
genres          [Action, Drama, History, Thriller, War]
Name: 44678, dtype: object
title                            Transformers: The Last Knight
year                                                      2017
vote_count                                                1440
vote_average                                                 6
popularity                                           39.186819
genres          [Action, Science Fiction, Thriller, Adventure]
Name: 44842, dtype: object
title                                                   Okja
year                                                    2017
vote_count                                               795
vote_average                                               7
popularity                                         15.738471
genres          [Adventure, Drama, Fantasy, Science Fiction]
Name: 43645, dtype: object
title           War for the Planet of the Apes
year                                      2017
vote_count                                1675
vote_average                                 6
popularity                          146.161786
genres           [Drama, Science Fiction, War]
Name: 44274, dtype: object
title                                           Cars 3
year                                              2017
vote_count                                         718
vote_average                                         6
popularity                                   19.148182
genres          [Family, Comedy, Animation, Adventure]
Name: 43294, dtype: object
title               Baby Driver
year                       2017
vote_count                 2083
vote_average                  7
popularity           228.032744
genres          [Action, Crime]
Name: 43644, dtype: object
title                   Baywatch
year                        2017
vote_count                  1829
vote_average                   6
popularity             35.637691
genres          [Action, Comedy]
Name: 43231, dtype: object
title           Everything, Everything
year                              2017
vote_count                         670
vote_average                         7
popularity                   12.108048
genres                [Drama, Romance]
Name: 43220, dtype: object
title                                  Power Rangers
year                                            2017
vote_count                                      1321
vote_average                                       6
popularity                                 23.247298
genres          [Action, Adventure, Science Fiction]
Name: 42901, dtype: object
title                               Alien: Covenant
year                                           2017
vote_count                                     2677
vote_average                                      5
popularity                                72.884078
genres          [Horror, Science Fiction, Thriller]
Name: 42902, dtype: object
title                               The Mummy
year                                     2017
vote_count                               2122
vote_average                                5
popularity                          33.704935
genres          [Thriller, Action, Adventure]
Name: 43238, dtype: object
title                   Going in Style
year                              2017
vote_count                         543
vote_average                         6
popularity                   15.157255
genres          [Crime, Comedy, Drama]
Name: 43059, dtype: object
title               Rings
year                 2017
vote_count           1075
vote_average            4
popularity      24.535733
genres           [Horror]
Name: 42096, dtype: object
title           To the Bone
year                   2017
vote_count              714
vote_average              7
popularity         9.128637
genres              [Drama]
Name: 42537, dtype: object
title              Gifted
year                 2017
vote_count            549
vote_average            7
popularity      16.025911
genres            [Drama]
Name: 43186, dtype: object
title                            Ghost in the Shell
year                                           2017
vote_count                                     2547
vote_average                                      5
popularity                                68.726676
genres          [Action, Science Fiction, Thriller]
Name: 42309, dtype: object
title                                  The Lego Batman Movie
year                                                    2017
vote_count                                              1473
vote_average                                               7
popularity                                         17.070748
genres          [Action, Animation, Comedy, Family, Fantasy]
Name: 41976, dtype: object
title           All Eyez on Me
year                      2017
vote_count                 436
vote_average                 6
popularity            9.809168
genres          [Drama, Music]
Name: 40721, dtype: object
title                         The Boss Baby
year                                   2017
vote_count                             2336
vote_average                              6
popularity                        13.392824
genres          [Animation, Comedy, Family]
Name: 42235, dtype: object
title                 Beauty and the Beast
year                                  2017
vote_count                            5530
vote_average                             6
popularity                      287.253654
genres          [Family, Fantasy, Romance]
Name: 42222, dtype: object
title                        Before I Fall
year                                  2017
vote_count                             651
vote_average                             6
popularity                       38.995136
genres          [Mystery, Drama, Thriller]
Name: 42185, dtype: object
title           T2 Trainspotting
year                        2017
vote_count                   795
vote_average                   7
popularity             17.645877
genres            [Crime, Drama]
Name: 42175, dtype: object
title                     Kong: Skull Island
year                                    2017
vote_count                              3161
vote_average                               6
popularity                         29.429112
genres          [Action, Adventure, Fantasy]
Name: 42171, dtype: object
title                                      Logan
year                                        2017
vote_count                                  6310
vote_average                                   7
popularity                             54.581997
genres          [Action, Drama, Science Fiction]
Name: 42170, dtype: object
title                               Get Out
year                                   2017
vote_count                             2978
vote_average                              7
popularity                        36.894806
genres          [Mystery, Thriller, Horror]
Name: 42169, dtype: object
title                John Wick: Chapter 2
year                                 2017
vote_count                           2924
vote_average                            6
popularity                      49.247505
genres          [Thriller, Action, Crime]
Name: 42168, dtype: object
title           King Arthur: Legend of the Sword
year                                        2017
vote_count                                  1506
vote_average                                   6
popularity                             44.251369
genres                  [Action, Drama, Fantasy]
Name: 42214, dtype: object
title           Fifty Shades Darker
year                           2017
vote_count                     2341
vote_average                      6
popularity                29.130443
genres             [Drama, Romance]
Name: 42355, dtype: object
title                         Guardians of the Galaxy Vol. 2
year                                                    2017
vote_count                                              4858
vote_average                                               7
popularity                                           185.331
genres          [Action, Adventure, Comedy, Science Fiction]
Name: 26566, dtype: object
title                                    A Cure for Wellness
year                                                    2017
vote_count                                               939
vote_average                                               6
popularity                                          13.28436
genres          [Mystery, Thriller, Horror, Science Fiction]
Name: 41929, dtype: object
title                                 47 Meters Down
year                                            2017
vote_count                                       548
vote_average                                       5
popularity                                 52.854103
genres          [Drama, Thriller, Horror, Adventure]
Name: 39694, dtype: object
title                           Wonder Woman
year                                    2017
vote_count                              5025
vote_average                               7
popularity                        294.337037
genres          [Action, Adventure, Fantasy]
Name: 33356, dtype: object
title                                   The Circle
year                                          2017
vote_count                                    1015
vote_average                                     5
popularity                               88.439243
genres          [Drama, Thriller, Science Fiction]
Name: 33361, dtype: object
title                                   The Space Between Us
year                                                    2017
vote_count                                               564
vote_average                                               7
popularity                                         11.824404
genres          [Romance, Adventure, Science Fiction, Drama]
Name: 41488, dtype: object
title                            A Dog's Purpose
year                                        2017
vote_count                                   657
vote_average                                   6
popularity                              9.863789
genres          [Comedy, Drama, Family, Fantasy]
Name: 41814, dtype: object
title           Pirates of the Caribbean: Dead Men Tell No Tales
year                                                        2017
vote_count                                                  2814
vote_average                                                   6
popularity                                               133.828
genres                      [Adventure, Action, Fantasy, Comedy]
Name: 26560, dtype: object
title              Underworld: Blood Wars
year                                 2016
vote_count                           1619
vote_average                            5
popularity                       20.02976
genres          [Action, Fantasy, Horror]
Name: 41502, dtype: object
title           Hidden Figures
year                      2016
vote_count                2178
vote_average                 7
popularity           16.816834
genres                 [Drama]
Name: 41540, dtype: object
title                   Rogue One: A Star Wars Story
year                                            2016
vote_count                                      5111
vote_average                                       7
popularity                                 36.567575
genres          [Action, Adventure, Science Fiction]
Name: 41489, dtype: object
title              Fences
year                 2016
vote_count            750
vote_average            6
popularity      11.599716
genres            [Drama]
Name: 41562, dtype: object
title                         The Great Wall
year                                    2016
vote_count                              1465
vote_average                               5
popularity                         15.884744
genres          [Action, Adventure, Fantasy]
Name: 41642, dtype: object
title                The Founder
year                        2016
vote_count                   855
vote_average                   7
popularity             17.523343
genres          [Drama, History]
Name: 41654, dtype: object
title            Why Him?
year                 2016
vote_count           1203
vote_average            6
popularity      14.531429
genres           [Comedy]
Name: 41680, dtype: object
title                        Split
year                          2016
vote_count                    4461
vote_average                     7
popularity               28.920839
genres          [Horror, Thriller]
Name: 41492, dtype: object
title                                    Moana
year                                      2016
vote_count                                3471
vote_average                                 7
popularity                            9.143457
genres          [Adventure, Animation, Family]
Name: 41457, dtype: object
title           Office Christmas Party
year                              2016
vote_count                         541
vote_average                         5
popularity                    8.228918
genres                        [Comedy]
Name: 41471, dtype: object
title             Jackie
year                2016
vote_count           737
vote_average           6
popularity      8.362716
genres           [Drama]
Name: 41468, dtype: object
title           Collateral Beauty
year                         2016
vote_count                   1553
vote_average                    6
popularity              14.575883
genres           [Drama, Romance]
Name: 41280, dtype: object
title           The Autopsy of Jane Doe
year                               2016
vote_count                          799
vote_average                          6
popularity                    31.772396
genres                [Horror, Mystery]
Name: 41150, dtype: object
title           The Fundamentals of Caring
year                                  2016
vote_count                             560
vote_average                             7
popularity                        6.138199
genres                     [Comedy, Drama]
Name: 39048, dtype: object
title           Jack Reacher: Never Go Back
year                                   2016
vote_count                             1843
vote_average                              5
popularity                         15.60562
genres                             [Action]
Name: 41053, dtype: object
title                Lion
year                 2016
vote_count           1699
vote_average            8
popularity      17.085145
genres            [Drama]
Name: 41128, dtype: object
title           Manchester by the Sea
year                             2016
vote_count                       1553
vote_average                        7
popularity                  12.821257
genres                        [Drama]
Name: 41127, dtype: object
title                                             Passengers
year                                                    2016
vote_count                                              4134
vote_average                                               6
popularity                                         20.303632
genres          [Adventure, Drama, Romance, Science Fiction]
Name: 41536, dtype: object
title                                   Trolls
year                                      2016
vote_count                                1054
vote_average                                 6
popularity                            16.83711
genres          [Adventure, Animation, Family]
Name: 40969, dtype: object
title                                            Allied
year                                               2016
vote_count                                         1415
vote_average                                          6
popularity                                    13.085186
genres          [Action, Drama, War, Romance, Thriller]
Name: 40914, dtype: object
title                                La La Land
year                                       2016
vote_count                                 4745
vote_average                                  7
popularity                            19.681686
genres          [Comedy, Drama, Music, Romance]
Name: 40882, dtype: object
title              Inferno
year                  2016
vote_count            2316
vote_average             5
popularity       18.311054
genres          [Thriller]
Name: 40951, dtype: object
title                                                Sing
year                                                 2016
vote_count                                           2363
vote_average                                            6
popularity                                      20.045673
genres          [Animation, Comedy, Drama, Family, Music]
Name: 41688, dtype: object
title                               Assassin's Creed
year                                            2016
vote_count                                      2776

title           The Invitation
year                      2015
vote_count                 486
vote_average                 6
popularity            9.248388
genres              [Thriller]
Name: 33474, dtype: object
title                    No Escape
year                          2015
vote_count                     798
vote_average                     6
popularity                 14.1326
genres          [Action, Thriller]
Name: 32371, dtype: object
title           The Brand New Testament
year                               2015
vote_count                          435
vote_average                          6
popularity                     6.488451
genres                [Comedy, Fantasy]
Name: 33026, dtype: object
title                            Solace
year                               2015
vote_count                          740
vote_average                          6
popularity                    12.642675
genres          [Crime, Drama, Mystery]
Name: 34516, dtype: object
title                      Everest
year                          2015
vote_count                    1805
vote_average                     6
popularity               10.758754
genres          [Adventure, Drama]
Name: 33022, dtype: object
title           The Night Before
year                        2015
vote_count                   548
vote_average                   6
popularity             10.516094
genres                  [Comedy]
Name: 33011, dtype: object
title                 Knock Knock
year                         2015
vote_count                    880
vote_average                    4
popularity              11.898793
genres          [Drama, Thriller]
Name: 32891, dtype: object
title           Beasts of No Nation
year                           2015
vote_count                      476
vote_average                      7
popularity                11.732546
genres                 [Drama, War]
Name: 32811, dtype: object
title           The Danish Girl
year                       2015
vote_count                 1689
vote_average                  7
popularity              11.2457
genres                  [Drama]
Name: 32757, dtype: object
title             Bridge of Spies
year                         2015
vote_count                   2633
vote_average                    7
popularity              13.707888
genres          [Thriller, Drama]
Name: 33369, dtype: object
title                      Legend
year                         2015
vote_count                    994
vote_average                    6
popularity                11.1878
genres          [Crime, Thriller]
Name: 32730, dtype: object
title                Suffragette
year                        2015
vote_count                   440
vote_average                   7
popularity               8.09344
genres          [Drama, History]
Name: 32626, dtype: object
title                          Victor Frankenstein
year                                          2015
vote_count                                     697
vote_average                                     5
popularity                                 9.44781
genres          [Drama, Science Fiction, Thriller]
Name: 32486, dtype: object
title                       Joy
year                       2015
vote_count                 1619
vote_average                  6
popularity              12.9759
genres          [Drama, Comedy]
Name: 32459, dtype: object
title                  Hotel Transylvania 2
year                                   2015
vote_count                             1528
vote_average                              6
popularity                        11.760218
genres          [Animation, Comedy, Family]
Name: 33246, dtype: object
title                         The Little Prince
year                                       2015
vote_count                                  771
vote_average                                  7
popularity                            11.376954
genres          [Adventure, Animation, Fantasy]
Name: 33324, dtype: object
title           Straight Outta Compton
year                              2015
vote_count                        1381
vote_average                         7
popularity                     21.1831
genres                  [Drama, Music]
Name: 32372, dtype: object
title                                      Pixels
year                                         2015
vote_count                                   2564
vote_average                                    5
popularity                                 21.148
genres          [Action, Comedy, Science Fiction]
Name: 30398, dtype: object
title             American Ultra
year                        2015
vote_count                  1099
vote_average                   6
popularity               9.53483
genres          [Comedy, Action]
Name: 32370, dtype: object
title                       Love
year                        2015
vote_count                   449
vote_average                   5
popularity               2.32832
genres          [Drama, Romance]
Name: 32139, dtype: object
title                               The Walk
year                                    2015
vote_count                              1151
vote_average                               6
popularity                           9.42579
genres          [Adventure, Drama, Thriller]
Name: 31484, dtype: object
title                    The Visit
year                          2015
vote_count                    1405
vote_average                     6
popularity                 15.0211
genres          [Horror, Thriller]
Name: 32304, dtype: object
title                        Room
year                         2015
vote_count                   2838
vote_average                    8
popularity                12.4433
genres          [Drama, Thriller]
Name: 32144, dtype: object
title                                   Descendants
year                                           2015
vote_count                                      505
vote_average                                      6
popularity                                  12.6037
genres          [Adventure, Action, Comedy, Family]
Name: 32138, dtype: object
title                          Dark Places
year                                  2015
vote_count                             488
vote_average                             5
popularity                         9.18858
genres          [Drama, Mystery, Thriller]
Name: 31751, dtype: object
title                                     Anomalisa
year                                           2015
vote_count                                      472
vote_average                                      6
popularity                                  10.4284
genres          [Animation, Comedy, Drama, Romance]
Name: 32032, dtype: object
title           The Intern
year                  2015
vote_count            1926
vote_average             7
popularity         15.6517
genres            [Comedy]
Name: 32117, dtype: object
title                                          Minions
year                                              2015
vote_count                                        4729
vote_average                                         6
popularity                                     547.488
genres          [Family, Animation, Adventure, Comedy]
Name: 30700, dtype: object
title                                             Sicario
year                                                 2015
vote_count                                           2465
vote_average                                            7
popularity                                        19.5112
genres          [Action, Crime, Drama, Mystery, Thriller]
Name: 31954, dtype: object
title                  Southpaw
year                       2015
vote_count                 2112
vote_average                  7
popularity              12.3701
genres          [Action, Drama]
Name: 31953, dtype: object
title                      The Gift
year                           2015
vote_count                     1077
vote_average                      6
popularity                  8.58586
genres          [Thriller, Mystery]
Name: 32174, dtype: object
title             Irrational Man
year                        2015
vote_count                   600
vote_average                   6
popularity               6.86281
genres          [Mystery, Drama]
Name: 31876, dtype: object
title                                    The Revenant
year                                             2015
vote_count                                       6558
vote_average                                        7
popularity                                    23.5012
genres          [Western, Drama, Adventure, Thriller]
Name: 31865, dtype: object
title                                 Hardcore Henry
year                                            2015
vote_count                                       780
vote_average                                       6
popularity                                 14.544852
genres          [Action, Adventure, Science Fiction]
Name: 33050, dtype: object
title                   Eye in the Sky
year                              2015
vote_count                         532
vote_average                         7
popularity                   10.564701
genres          [Drama, Thriller, War]
Name: 37562, dtype: object
title                   Magic Mike XXL
year                              2015
vote_count                         716
vote_average                         6
popularity                     8.76993
genres          [Comedy, Drama, Music]
Name: 31322, dtype: object
title           The Hunger Games: Mockingjay - Part 2
year                                             2015
vote_count                                       4117
vote_average                                        6
popularity                                    26.6282
genres           [Action, Adventure, Science Fiction]
Name: 30396, dtype: object
title                 Mr. Holmes
year                        2015
vote_count                   686
vote_average                   6
popularity               19.2569
genres          [Drama, Mystery]
Name: 30468, dtype: object
title                                      Self/less
year                                            2015
vote_count                                      1122
vote_average                                       6
popularity                                   25.3016
genres          [Science Fiction, Mystery, Thriller]
Name: 30534, dtype: object
title           Sinister 2
year                  2015
vote_count             605
vote_average             5
popularity         17.6029
genres            [Horror]
Name: 32307, dtype: object
title                  The Last Witch Hunter
year                                    2015
vote_count                              1345
vote_average                               5
popularity                           13.4124
genres          [Fantasy, Action, Adventure]
Name: 30541, dtype: object
title                             Krampus
year                                 2015
vote_count                            601
vote_average                            5
popularity                        15.5533
genres          [Horror, Comedy, Fantasy]
Name: 30542, dtype: object
title               The Man from U.N.C.L.E.
year                                   2015
vote_count                             2306
vote_average                              7
popularity                          14.6569
genres          [Comedy, Action, Adventure]
Name: 31444, dtype: object
title              Ted 2
year                2015
vote_count          2524
vote_average           6
popularity       42.0615
genres          [Comedy]
Name: 30690, dtype: object
title                        The Good Dinosaur
year                                      2015
vote_count                                1782
vote_average                                 6
popularity                             12.3196
genres          [Adventure, Animation, Family]
Name: 30759, dtype: object
title               Black Mass
year                      2015
vote_count                1262
vote_average                 6
popularity             10.6107
genres          [Crime, Drama]
Name: 30760, dtype: object
title                              Spectre
year                                  2015
vote_count                            4552
vote_average                             6
popularity                         24.9266
genres          [Action, Adventure, Crime]
Name: 30761, dtype: object
title                 Steve Jobs
year                        2015
vote_count                  1608
vote_average                   6
popularity               16.2249
genres          [Drama, History]
Name: 30942, dtype: object
title                         Macbeth
year                             2015
vote_count                        497
vote_average                        6
popularity                    12.4935
genres          [History, Drama, War]
Name: 30943, dtype: object
title           Vacation
year                2015
vote_count          1218
vote_average           6
popularity       11.3304
genres          [Comedy]
Name: 30958, dtype: object
title                            Amy
year                            2015
vote_count                       482
vote_average                       7
popularity                   11.1202
genres          [Documentary, Music]
Name: 31244, dtype: object
title                            Spotlight
year                                  2015
vote_count                            2751
vote_average                             7
popularity                        14.63239
genres          [Drama, Thriller, History]
Name: 33041, dtype: object
title           Scouts Guide to the Zombie Apocalypse
year                                             2015
vote_count                                        526
vote_average                                        6
popularity                                    20.6834
genres                               [Comedy, Horror]
Name: 32619, dtype: object
title              Burnt
year                2015
vote_count           974
vote_average           6
popularity      8.066726
genres           [Drama]
Name: 33063, dtype: object
title                                 Fantastic Four
year                                            2015
vote_count                                      2322
vote_average                                       4
popularity                                   17.2465
genres          [Action, Adventure, Science Fiction]
Name: 26563, dtype: object
title                                            Kung Fury
year                                                  2015
vote_count                                             762
vote_average                                             7
popularity                                         7.74114
genres          [Action, Comedy, Science Fiction, Fantasy]
Name: 30061, dtype: object
title                                                 The Lobster
year                                                         2015
vote_count                                                   1340
vote_average                                                    6
popularity                                                 11.223
genres          [Thriller, Comedy, Drama, Romance, Science Fic...
Name: 29916, dtype: object
title             Maggie
year                2015
vote_count           604
vote_average           5
popularity       12.0209
genres          [Horror]
Name: 29921, dtype: object
title                       Hot Pursuit
year                               2015
vote_count                          659
vote_average                          5
popularity                      6.90658
genres          [Action, Comedy, Crime]
Name: 29926, dtype: object
title                                   The Martian
year                                           2015
vote_count                                     7442
vote_average                                      7
popularity                                  25.6299
genres          [Drama, Adventure, Science Fiction]
Name: 30051, dtype: object
title                  Poltergeist
year                          2015
vote_count                     924
vote_average                     5
popularity                 15.9685
genres          [Horror, Thriller]
Name: 28763, dtype: object
title                             Frozen Fever
year                                      2015
vote_count                                 630
vote_average                                 6
popularity                             9.50933
genres          [Adventure, Animation, Family]
Name: 28665, dtype: object
title                     Youth
year                       2015
vote_count                  625
vote_average                  6
popularity              8.71766
genres          [Comedy, Drama]
Name: 30079, dtype: object
title                                    Chappie
year                                        2015
vote_count                                  3124
vote_average                                   6
popularity                               30.2064
genres          [Crime, Action, Science Fiction]
Name: 25797, dtype: object
title                        Avengers: Age of Ultron
year                                            2015
vote_count                                      6908
vote_average                                       7
popularity                                   37.3794
genres          [Action, Adventure, Science Fiction]
Name: 26558, dtype: object
title                            Star Wars: The Force Awakens
year                                                     2015
vote_count                                               7993
vote_average                                                7
popularity                                             31.626
genres          [Action, Adventure, Science Fiction, Fantasy]
Name: 26555, dtype: object
title                Insidious: Chapter 3
year                                 2015
vote_count                           1005
vote_average                            6
popularity                        10.0988
genres          [Drama, Horror, Thriller]
Name: 26554, dtype: object
title                                       Mad Max: Fury Road
year                                                      2015
vote_count                                                9629
vote_average                                                 7
popularity                                             29.3618
genres          [Action, Adventure, Science Fiction, Thriller]
Name: 26553, dtype: object
title                   It Follows
year                          2015
vote_count                    1894
vote_average                     6
popularity                 20.3593
genres          [Horror, Thriller]
Name: 26031, dtype: object
title           Pitch Perfect 2
year                       2015
vote_count                 1997
vote_average                  6
popularity              15.8626
genres          [Comedy, Music]
Name: 29799, dtype: object
title                            Regression
year                                   2015
vote_count                              600
vote_average                              5
popularity                          10.0363
genres          [Horror, Mystery, Thriller]
Name: 29576, dtype: object
title                          Blackhat
year                               2015
vote_count                          842
vote_average                          5
popularity                      14.9324
genres          [Crime, Drama, Mystery]
Name: 25836, dtype: object
title                                                        Home
year                                                         2015
vote_count                                                   1539
vote_average                                                    6

title                             The Guest
year                                   2014
vote_count                              661
vote_average                              6
popularity                          6.44196
genres          [Mystery, Thriller, Action]
Name: 24038, dtype: object
title           As Above, So Below
year                          2014
vote_count                     788
vote_average                     6
popularity                 10.8466
genres          [Horror, Thriller]
Name: 24015, dtype: object
title           If I Stay
year                 2014
vote_count           1415
vote_average            7
popularity        9.65924
genres            [Drama]
Name: 23962, dtype: object
title           The Hundred-Foot Journey
year                                2014
vote_count                           516
vote_average                           7
popularity                       14.4668
genres                           [Drama]
Name: 23877, dtype: object
title                                Teenage Mutant Ninja Turtles
year                                                         2014
vote_count                                                   2677
vote_average                                                    5
popularity                                                 22.338
genres          [Science Fiction, Action, Adventure, Fantasy, ...
Name: 23897, dtype: object
title                             Need for Speed
year                                        2014
vote_count                                  1560
vote_average                                   6
popularity                               18.2714
genres          [Action, Crime, Drama, Thriller]
Name: 22981, dtype: object
title                          I Origins
year                                2014
vote_count                          1089
vote_average                           7
popularity                       11.9012
genres          [Science Fiction, Drama]
Name: 23743, dtype: object
title           A Most Wanted Man
year                         2014
vote_count                    545
vote_average                    6
popularity                10.4324
genres                 [Thriller]
Name: 23780, dtype: object
title                      Hercules
year                           2014
vote_count                     1707
vote_average                      5
popularity                  19.6069
genres          [Action, Adventure]
Name: 23772, dtype: object
title                       The Expendables 3
year                                     2014
vote_count                               1830
vote_average                                6
popularity                            14.7535
genres          [Action, Adventure, Thriller]
Name: 23767, dtype: object
title                            The Signal
year                                   2014
vote_count                              639
vote_average                              5
popularity                          8.53679
genres          [Thriller, Science Fiction]
Name: 23758, dtype: object
title                        Guardians of the Galaxy
year                                            2014
vote_count                                     10014
vote_average                                       7
popularity                                   53.2916
genres          [Action, Science Fiction, Adventure]
Name: 23753, dtype: object
title           The Purge: Anarchy
year                          2014
vote_count                    2008
vote_average                     6
popularity                  27.756
genres          [Horror, Thriller]
Name: 23748, dtype: object
title           Sex Tape
year                2014
vote_count          1733
vote_average           5
popularity       27.4707
genres          [Comedy]
Name: 23737, dtype: object
title                Transformers: Age of Extinction
year                                            2014
vote_count                                      3136
vote_average                                       5
popularity                                   18.4956
genres          [Science Fiction, Action, Adventure]
Name: 23617, dtype: object
title                Deliver Us from Evil
year                                 2014
vote_count                            705
vote_average                            5
popularity                        8.53678
genres          [Thriller, Crime, Horror]
Name: 23717, dtype: object
title                       Dawn of the Planet of the Apes
year                                                  2014
vote_count                                            4511
vote_average                                             7
popularity                                         75.3852
genres          [Science Fiction, Action, Drama, Thriller]
Name: 23692, dtype: object
title                            Gone Girl
year                                  2014
vote_count                            6023
vote_average                             7
popularity                         154.801
genres          [Mystery, Thriller, Drama]
Name: 23675, dtype: object
title           Whiplash
year                2014
vote_count          4376
vote_average           8
popularity          64.3
genres           [Drama]
Name: 23673, dtype: object
title                        The Babadook
year                                 2014
vote_count                           1890
vote_average                            6
popularity                        8.83279
genres          [Drama, Thriller, Horror]
Name: 23665, dtype: object
title                              X-Men: Days of Future Past
year                                                     2014
vote_count                                               6155
vote_average                                                7
popularity                                            26.0586
genres          [Action, Adventure, Fantasy, Science Fiction]
Name: 23359, dtype: object
title                    Step Up All In
year                               2014
vote_count                          649
vote_average                          6
popularity                      8.58893
genres          [Romance, Drama, Music]
Name: 23830, dtype: object
title           Boyhood
year               2014
vote_count         2008
vote_average          7
popularity      6.43059
genres          [Drama]
Name: 23594, dtype: object
title                                      Godzilla
year                                           2014
vote_count                                     3232
vote_average                                      6
popularity                                  14.0192
genres          [Action, Science Fiction, Thriller]
Name: 23360, dtype: object
title           Serial (Bad) Weddings
year                             2014
vote_count                       1114
vote_average                        6
popularity                     10.927
genres                       [Comedy]
Name: 23467, dtype: object
title                    Veronica Mars
year                              2014
vote_count                         482
vote_average                         6
popularity                     7.51016
genres          [Comedy, Drama, Crime]
Name: 22985, dtype: object
title                                  How to Train Your Dragon 2
year                                                         2014
vote_count                                                   3163
vote_average                                                    7
popularity                                                12.2567
genres          [Fantasy, Action, Adventure, Animation, Comedy...
Name: 23557, dtype: object
title                    22 Jump Street
year                               2014
vote_count                         3375
vote_average                          7
popularity                      10.9015
genres          [Crime, Comedy, Action]
Name: 23553, dtype: object
title           The Fault in Our Stars
year                              2014
vote_count                        3868
vote_average                         7
popularity                     16.2747
genres                [Romance, Drama]
Name: 23512, dtype: object
title                       The Equalizer
year                                 2014
vote_count                           2997
vote_average                            7
popularity                        17.6181
genres          [Thriller, Action, Crime]
Name: 23555, dtype: object
title                                              Maleficent
year                                                     2014
vote_count                                               4607
vote_average                                                7
popularity                                            19.4674
genres          [Fantasy, Adventure, Action, Family, Romance]
Name: 23437, dtype: object
title                    Edge of Tomorrow
year                                 2014
vote_count                           4979
vote_average                            7
popularity                         31.983
genres          [Action, Science Fiction]
Name: 23465, dtype: object
title              Tammy
year                2014
vote_count           508
vote_average           5
popularity       7.35952
genres          [Comedy]
Name: 23659, dtype: object
title           A Million Ways to Die in the West
year                                         2014
vote_count                                   1494
vote_average                                    5
popularity                                10.3839
genres                          [Comedy, Western]
Name: 23459, dtype: object
title            Blended
year                2014
vote_count          1028
vote_average           6
popularity       10.3955
genres          [Comedy]
Name: 23421, dtype: object
title               Chef
year                2014
vote_count          1203
vote_average           7
popularity       8.72031
genres          [Comedy]
Name: 23379, dtype: object
title                   Blue Ruin
year                         2014
vote_count                    464
vote_average                    6
popularity                11.5094
genres          [Crime, Thriller]
Name: 23367, dtype: object
title           Walk of Shame
year                     2014
vote_count                561
vote_average                5
popularity            7.84471
genres               [Comedy]
Name: 23364, dtype: object
title                   Birdman
year                       2014
vote_count                 4657
vote_average                  7
popularity              18.1933
genres          [Drama, Comedy]
Name: 23561, dtype: object
title                              Frank
year                                2014
vote_count                           667
vote_average                           6
popularity                       5.84784
genres          [Comedy, Drama, Mystery]
Name: 23631, dtype: object
title             Magic in the Moonlight
year                                2014
vote_count                           749
vote_average                           6
popularity                       6.62608
genres          [Comedy, Drama, Romance]
Name: 23861, dtype: object
title                   Brick Mansions
year                              2014
vote_count                         628
vote_average                         5
popularity                     7.48296
genres          [Action, Crime, Drama]
Name: 23263, dtype: object
title                                            Rio 2
year                                              2014
vote_count                                         997
vote_average                                         6
popularity                                     8.18534
genres          [Animation, Adventure, Comedy, Family]
Name: 23224, dtype: object
title           Neighbors
year                 2014
vote_count           2773
vote_average            6
popularity        11.9057
genres           [Comedy]
Name: 23309, dtype: object
title           Beauty and the Beast
year                            2014
vote_count                       669
vote_average                       5
popularity                   19.6288
genres            [Fantasy, Romance]
Name: 23216, dtype: object
title                                                Pompeii
year                                                    2014
vote_count                                              1294
vote_average                                               5
popularity                                           12.2042
genres          [Action, Adventure, History, Romance, Drama]
Name: 23289, dtype: object
title                       Locke
year                         2014
vote_count                    780
vote_average                    6
popularity                12.7924
genres          [Drama, Thriller]
Name: 23276, dtype: object
title                     Vampire Academy
year                                 2014
vote_count                            603
vote_average                            5
popularity                        12.2272
genres          [Comedy, Action, Fantasy]
Name: 23257, dtype: object
title                                         Transcendence
year                                                   2014
vote_count                                             2339
vote_average                                              5
popularity                                          9.73018
genres          [Thriller, Science Fiction, Drama, Mystery]
Name: 23234, dtype: object
title              I, Frankenstein
year                          2014
vote_count                     701
vote_average                     5
popularity                 9.41582
genres          [Horror, Thriller]
Name: 22646, dtype: object
title                              Non-Stop
year                                   2014
vote_count                             2302
vote_average                              6
popularity                          19.6502
genres          [Action, Thriller, Mystery]
Name: 22899, dtype: object
title                               Under the Skin
year                                          2014
vote_count                                    1118
vote_average                                     6
popularity                                 6.70797
genres          [Thriller, Science Fiction, Drama]
Name: 22980, dtype: object
title               The Amazing Spider-Man 2
year                                    2014
vote_count                              4274
vote_average                               6
popularity                           26.2369
genres          [Action, Adventure, Fantasy]
Name: 23187, dtype: object
title                          The Raid 2
year                                 2014
vote_count                            832
vote_average                            7
popularity                        8.43488
genres          [Action, Crime, Thriller]
Name: 23170, dtype: object
title                         Noah
year                          2014
vote_count                    2408
vote_average                     5
popularity                 14.9245
genres          [Drama, Adventure]
Name: 23062, dtype: object
title                                Lucy
year                                 2014
vote_count                           6048
vote_average                            6
popularity                        36.4476
genres          [Action, Science Fiction]
Name: 23358, dtype: object
title            Captain America: The Winter Soldier
year                                            2014
vote_count                                      5881
vote_average                                       7
popularity                                   18.7177
genres          [Action, Adventure, Science Fiction]
Name: 23053, dtype: object
title                    Mr. Peabody & Sherman
year                                      2014
vote_count                                 861
vote_average                                 6
popularity                             9.49384
genres          [Animation, Adventure, Family]
Name: 22979, dtype: object
title             The Other Woman
year                         2014
vote_count                   1467
vote_average                    6
popularity                9.38935
genres          [Comedy, Romance]
Name: 23245, dtype: object
title                 Ride Along
year                        2014
vote_count                   867
vote_average                   6
popularity               9.89575
genres          [Action, Comedy]
Name: 22520, dtype: object
title                             RoboCop
year                                 2014
vote_count                           2385
vote_average                            5
popularity                        10.2465
genres          [Action, Science Fiction]
Name: 22723, dtype: object
title                                   Sabotage
year                                        2014
vote_count                                   560
vote_average                                   5
popularity                               6.96651
genres          [Action, Drama, Thriller, Crime]
Name: 22761, dtype: object
title                                  Interstellar
year                                           2014
vote_count                                    11187
vote_average                                      8
popularity                                  32.2135
genres          [Adventure, Drama, Science Fiction]
Name: 22879, dtype: object
title           That Awkward Moment
year                           2014
vote_count                     1020
vote_average                      6
popularity                   8.0604
genres            [Comedy, Romance]
Name: 22877, dtype: object
title           The Grand Budapest Hotel
year                                2014
vote_count                          4644
vote_average                           8
popularity                        14.442
genres                   [Comedy, Drama]
Name: 22841, dtype: object
title                                Winter's Tale
year                                          2014
vote_count                                     501
vote_average                                     6
popularity                                 7.36353
genres          [Drama, Fantasy, Mystery, Romance]
Name: 22787, dtype: object
title               Endless Love
year                        2014
vote_count                   555
vote_average                   6
popularity               8.75728
genres          [Drama, Romance]
Name: 22786, dtype: object
title                             3 Days to Kill
year                                        2014
vote_count                                   896
vote_average                                   6
popularity                               17.8611
genres          [Action, Drama, Thriller, Crime]
Name: 22895, dtype: object
title           300: Rise of an Empire
year                              2014
vote_count                        2438
vote_average                         6
popularity                     12.9047
genres                   [Action, War]
Name: 22927, dtype: object
title                                      Divergent
year                                            2014
vote_count                                      4784
vote_average                                       6
popularity                                   21.5726
genres          [Adventure, Action, Science Fiction]
Name: 22525, dtype: object
title                                            The Lego Movie
year                                                       2014
vote_count                                                 3127
vote_average                                                  7
popularity                                              16.4181
genres          [Adventure, Animation, Comedy, Family, Fantasy]
Name: 22718, dtype: object

title                                    After Earth
year                                            2013
vote_count                                      2579
vote_average                                       5
popularity                                   10.7476
genres          [Science Fiction, Action, Adventure]
Name: 21018, dtype: object
title           Dallas Buyers Club
year                          2013
vote_count                    2973
vote_average                     7
popularity                 14.7857
genres            [Drama, History]
Name: 21948, dtype: object
title                      Snitch
year                         2013
vote_count                   1155
vote_average                    5
popularity                13.5427
genres          [Thriller, Drama]
Name: 20498, dtype: object
title                             The Best Offer
year                                        2013
vote_count                                   719
vote_average                                   7
popularity                                8.9956
genres          [Drama, Romance, Crime, Mystery]
Name: 21125, dtype: object
title                         Turbo
year                           2013
vote_count                     1094
vote_average                      6
popularity                  8.97975
genres          [Animation, Family]
Name: 21293, dtype: object
title                                  The Colony
year                                         2013
vote_count                                    465
vote_average                                    5
popularity                                9.72666
genres          [Action, Science Fiction, Horror]
Name: 21281, dtype: object
title                The Conjuring
year                          2013
vote_count                    3169
vote_average                     7
popularity                 14.9017
genres          [Horror, Thriller]
Name: 21276, dtype: object
title                      Justice League: The Flashpoint Paradox
year                                                         2013
vote_count                                                    458
vote_average                                                    7
popularity                                                9.52756
genres          [Fantasy, Science Fiction, Animation, Action, ...
Name: 21264, dtype: object
title                                   R.I.P.D.
year                                        2013
vote_count                                  1280
vote_average                                   5
popularity                               9.36968
genres          [Fantasy, Action, Comedy, Crime]
Name: 21262, dtype: object
title           Scary Movie 5
year                     2013
vote_count                813
vote_average                4
popularity            14.2728
genres               [Comedy]
Name: 20791, dtype: object
title                The Spectacular Now
year                                2013
vote_count                          1074
vote_average                           6
popularity                       8.09896
genres          [Comedy, Drama, Romance]
Name: 21219, dtype: object
title                        The Lone Ranger
year                                    2013
vote_count                              2361
vote_average                               5
popularity                           12.7291
genres          [Action, Adventure, Western]
Name: 21175, dtype: object
title                          The Heat
year                               2013
vote_count                         1595
vote_average                          6
popularity                      12.7064
genres          [Action, Comedy, Crime]
Name: 21171, dtype: object
title                  Hummingbird
year                          2013
vote_count                     587
vote_average                     5
popularity                 8.80103
genres          [Action, Thriller]
Name: 21168, dtype: object
title                             The World's End
year                                         2013
vote_count                                   1820
vote_average                                    6
popularity                                9.83038
genres          [Comedy, Action, Science Fiction]
Name: 21163, dtype: object
title                    White House Down
year                                 2013
vote_count                           1910
vote_average                            6
popularity                        9.92022
genres          [Action, Drama, Thriller]
Name: 21162, dtype: object
title                       Despicable Me 2
year                                   2013
vote_count                             4729
vote_average                              7
popularity                          24.8236
genres          [Animation, Comedy, Family]
Name: 21161, dtype: object
title                         Europa Report
year                                   2013
vote_count                              549
vote_average                              6
popularity                          6.96426
genres          [Science Fiction, Thriller]
Name: 21151, dtype: object
title                                              Elysium
year                                                  2013
vote_count                                            3510
vote_average                                             6
popularity                                         15.2327
genres          [Science Fiction, Action, Drama, Thriller]
Name: 21131, dtype: object
title                                                 World War Z
year                                                         2013
vote_count                                                   5683
vote_average                                                    6
popularity                                                26.1149
genres          [Action, Drama, Horror, Science Fiction, Thril...
Name: 21130, dtype: object
title                    Sharknado
year                          2013
vote_count                     484
vote_average                     3
popularity                 4.92819
genres          [TV Movie, Horror]
Name: 21238, dtype: object
title               Jack the Giant Slayer
year                                 2013
vote_count                           2634
vote_average                            5
popularity                        11.6061
genres          [Action, Family, Fantasy]
Name: 20527, dtype: object
title           Monsters University
year                           2013
vote_count                     3622
vote_average                      7
popularity                  16.2675
genres          [Animation, Family]
Name: 21101, dtype: object
title                                    Dark Skies
year                                           2013
vote_count                                      668
vote_average                                      6
popularity                                  26.9723
genres          [Science Fiction, Thriller, Horror]
Name: 20505, dtype: object
title                    Fast & Furious 6
year                                 2013
vote_count                           5282
vote_average                            6
popularity                        1.65764
genres          [Action, Thriller, Crime]
Name: 20970, dtype: object
title           The Bling Ring
year                      2013
vote_count                1205
vote_average                 5
popularity             7.91303
genres          [Drama, Crime]
Name: 21099, dtype: object
title                                            Man of Steel
year                                                     2013
vote_count                                               6462
vote_average                                                6
popularity                                            18.5388
genres          [Action, Adventure, Fantasy, Science Fiction]
Name: 21068, dtype: object
title           The Way Way Back
year                        2013
vote_count                   695
vote_average                   7
popularity               10.3427
genres           [Comedy, Drama]
Name: 21054, dtype: object
title              Now You See Me
year                         2013
vote_count                   5635
vote_average                    7
popularity                 17.852
genres          [Thriller, Crime]
Name: 21025, dtype: object
title                                              Epic
year                                               2013
vote_count                                         1143
vote_average                                          6
popularity                                      11.9134
genres          [Animation, Adventure, Family, Fantasy]
Name: 20971, dtype: object
title               Mud
year               2013
vote_count         1080
vote_average          7
popularity      7.88158
genres          [Drama]
Name: 20850, dtype: object
title           The Internship
year                      2013
vote_count                1691
vote_average                 6
popularity            0.393865
genres                [Comedy]
Name: 20932, dtype: object
title           The Hangover Part III
year                             2013
vote_count                       2991
vote_average                        6
popularity                    25.0856
genres                       [Comedy]
Name: 20968, dtype: object
title                        Star Trek Into Darkness
year                                            2013
vote_count                                      4479
vote_average                                       7
popularity                                   15.7813
genres          [Action, Adventure, Science Fiction]
Name: 20922, dtype: object
title            This Is the End
year                        2013
vote_count                  2394
vote_average                   6
popularity                11.414
genres          [Action, Comedy]
Name: 20829, dtype: object
title           The Great Gatsby
year                        2013
vote_count                  3885
vote_average                   7
popularity               17.5989
genres          [Drama, Romance]
Name: 20910, dtype: object
title                                     Iron Man 3
year                                            2013
vote_count                                      8951
vote_average                                       6
popularity                                   23.7212
genres          [Action, Adventure, Science Fiction]
Name: 20830, dtype: object
title                                    Pacific Rim
year                                            2013
vote_count                                      4903
vote_average                                       6
popularity                                   33.9494
genres          [Action, Science Fiction, Adventure]
Name: 21123, dtype: object
title                         Pain & Gain
year                                 2013
vote_count                           1595
vote_average                            6
popularity                          9.218
genres          [Thriller, Crime, Action]
Name: 20799, dtype: object
title                  Only God Forgives
year                                2013
vote_count                           886
vote_average                           5
popularity                       6.06947
genres          [Drama, Thriller, Crime]
Name: 20967, dtype: object
title                42
year               2013
vote_count          795
vote_average          6
popularity      11.6372
genres          [Drama]
Name: 20759, dtype: object
title           Safe Haven
year                  2013
vote_count             840
vote_average             6
popularity         7.59842
genres           [Romance]
Name: 20457, dtype: object
title            Before Midnight
year                        2013
vote_count                   583
vote_average                   7
popularity               11.3032
genres          [Romance, Drama]
Name: 20488, dtype: object
title                                      Trance
year                                         2013
vote_count                                    975
vote_average                                    6
popularity                                 7.8763
genres          [Thriller, Crime, Drama, Mystery]
Name: 20721, dtype: object
title           Evil Dead
year                 2013
vote_count           1754
vote_average            6
popularity        12.0152
genres           [Horror]
Name: 20720, dtype: object
title                                                    The Host
year                                                         2013
vote_count                                                   1859
vote_average                                                    6
popularity                                                 11.342
genres          [Action, Adventure, Romance, Science Fiction, ...
Name: 20670, dtype: object
title                                     The Purge
year                                           2013
vote_count                                     2498
vote_average                                      6
popularity                                  23.2077
genres          [Science Fiction, Horror, Thriller]
Name: 21080, dtype: object
title           The Place Beyond the Pines
year                                  2013
vote_count                            1689
vote_average                             6
popularity                         7.49266
genres                      [Drama, Crime]
Name: 20663, dtype: object
title           Olympus Has Fallen
year                          2013
vote_count                    3010
vote_average                     6
popularity                 10.9782
genres          [Action, Thriller]
Name: 20620, dtype: object
title                    The Call
year                         2013
vote_count                   1275
vote_average                    6
popularity                8.61108
genres          [Crime, Thriller]
Name: 20619, dtype: object
title           Spring Breakers
year                       2013
vote_count                 1580
vote_average                  5
popularity              14.8302
genres           [Drama, Crime]
Name: 20598, dtype: object
title                                                The Croods
year                                                       2013
vote_count                                                 2447
vote_average                                                  6
popularity                                              14.7579
genres          [Adventure, Animation, Comedy, Family, Fantasy]
Name: 20550, dtype: object
title                              Dead Man Down
year                                        2013
vote_count                                   646
vote_average                                   5
popularity                               7.15039
genres          [Thriller, Action, Crime, Drama]
Name: 20549, dtype: object
title             Oz: The Great and Powerful
year                                    2013
vote_count                              3576
vote_average                               5
popularity                           11.1373
genres          [Fantasy, Adventure, Family]
Name: 20544, dtype: object
title                              Stoker
year                                 2013
vote_count                            895
vote_average                            6
popularity                        7.22282
genres          [Drama, Horror, Thriller]
Name: 20539, dtype: object
title                                    G.I. Joe: Retaliation
year                                                      2013
vote_count                                                3045
vote_average                                                 5
popularity                                             10.5606
genres          [Adventure, Action, Science Fiction, Thriller]
Name: 20536, dtype: object
title           21 & Over
year                 2013
vote_count            748
vote_average            5
popularity        11.2936
genres           [Comedy]
Name: 20450, dtype: object
title                                                Oblivion
year                                                     2013
vote_count                                               4862
vote_average                                                6
popularity                                            14.6541
genres          [Action, Science Fiction, Adventure, Mystery]
Name: 20750, dtype: object
title           The Incredible Burt Wonderstone
year                                       2013
vote_count                                  732
vote_average                                  5
popularity                              9.38577
genres                                 [Comedy]
Name: 20597, dtype: object
title           A Good Day to Die Hard
year                              2013
vote_count                        3519
vote_average                         5
popularity                     12.4719
genres              [Action, Thriller]
Name: 20447, dtype: object
title               Mama
year                2013
vote_count          1452
vote_average           6
popularity       16.0185
genres          [Horror]
Name: 20262, dtype: object
title                 Beautiful Creatures
year                                 2013
vote_count                           1017
vote_average                            5
popularity                        20.4852
genres          [Fantasy, Drama, Romance]
Name: 20442, dtype: object
title            Texas Chainsaw 3D
year                          2013
vote_count                     475
vote_average                     5
popularity                 7.21483
genres          [Horror, Thriller]
Name: 20203, dtype: object
title            Identity Thief
year                       2013
vote_count                 1667
vote_average                  5
popularity              7.32117
genres          [Comedy, Crime]
Name: 20413, dtype: object
title                       Side Effects
year                                2013
vote_count                          1340
vote_average                           6
popularity                       11.6458
genres          [Thriller, Crime, Drama]
Name: 20410, dtype: object
title                    Parker
year                       2013
vote_count                 1467
vote_average                  5
popularity              13.9639
genres          [Action, Crime]
Name: 20324, dtype: object
title           Movie 43
year                2013
vote_count           816
vote_average           4
popularity       10.8954
genres          [Comedy]
Name: 20314, dtype: object
title                        Broken City
year                                2013
vote_count                           601
vote_average                           5
popularity                       12.1362
genres          [Thriller, Crime, Drama]
Name: 20273, dtype: object
title           Hansel & Gretel: Witch Hunters
year                                      2013
vote_count                                3290
vote_average                                 5
popularity                             10.3372
genres               [Fantasy, Horror, Action]
Name: 20335, dtype: object
title                                       RED 2
year                                         2013
vote_count                                   1548
vote_average                                    6
popularity                                11.0423
genres          [Action, Comedy, Crime, Thriller]
Name: 21309, dtype: object
title                  Bullet to the Head
year                                 2013
vote_count                            490
vote_average                            5
popularity                        8.26008
genres          [Action, Crime, Thriller]
Name: 18238, dtype: object
title                         Warm Bodies
year                                 2013

title           A Separation
year                    2011
vote_count               474
vote_average               7
popularity           7.93963
genres               [Drama]
Name: 17821, dtype: object
title                       Rise of the Planet of the Apes
year                                                  2011
vote_count                                            4452
vote_average                                             7
popularity                                         41.6138
genres          [Thriller, Action, Drama, Science Fiction]
Name: 17588, dtype: object
title                                                      Priest
year                                                         2011
vote_count                                                    710
vote_average                                                    5
popularity                                                8.25995
genres          [Action, Science Fiction, Fantasy, Thriller, H...
Name: 17108, dtype: object
title           Friends with Benefits
year                             2011
vote_count                       2306
vote_average                        6
popularity                     10.009
genres              [Romance, Comedy]
Name: 17508, dtype: object
title                                                The Smurfs
year                                                       2011
vote_count                                                 1201
vote_average                                                  5
popularity                                              10.2198
genres          [Animation, Family, Adventure, Comedy, Fantasy]
Name: 17498, dtype: object
title                    One Day
year                        2011
vote_count                  1006
vote_average                   7
popularity                11.239
genres          [Drama, Romance]
Name: 17454, dtype: object
title               Crazy, Stupid, Love.
year                                2011
vote_count                          2522
vote_average                           7
popularity                       10.2462
genres          [Comedy, Drama, Romance]
Name: 17447, dtype: object
title                 Bridesmaids
year                         2011
vote_count                   1697
vote_average                    6
popularity                6.81099
genres          [Comedy, Romance]
Name: 17107, dtype: object
title                                      Drive
year                                        2011
vote_count                                  3832
vote_average                                   7
popularity                               15.3889
genres          [Drama, Action, Thriller, Crime]
Name: 17439, dtype: object
title           Harry Potter and the Deathly Hallows: Part 2
year                                                    2011
vote_count                                              6141
vote_average                                               7
popularity                                           24.9907
genres                          [Family, Fantasy, Adventure]
Name: 17437, dtype: object
title                            Monte Carlo
year                                    2011
vote_count                               611
vote_average                               6
popularity                           8.34835
genres          [Adventure, Comedy, Romance]
Name: 17432, dtype: object
title                                           Cars 2
year                                              2011
vote_count                                        2088
vote_average                                         5
popularity                                      13.693
genres          [Animation, Family, Adventure, Comedy]
Name: 17361, dtype: object
title           Horrible Bosses
year                       2011
vote_count                 2341
vote_average                  6
popularity              9.85696
genres          [Comedy, Crime]
Name: 17358, dtype: object
title                           Zookeeper
year                                 2011
vote_count                            509
vote_average                            5
popularity                        11.3411
genres          [Comedy, Romance, Family]
Name: 17357, dtype: object
title           Your Highness
year                     2011
vote_count                511
vote_average                5
popularity            5.67375
genres               [Comedy]
Name: 17296, dtype: object
title             Captain America: The First Avenger
year                                            2011
vote_count                                      7174
vote_average                                       6
popularity                                   19.3236
genres          [Action, Adventure, Science Fiction]
Name: 17444, dtype: object
title                                       Cowboys & Aliens
year                                                    2011
vote_count                                              2054
vote_average                                               5
popularity                                           10.9587
genres          [Action, Science Fiction, Thriller, Western]
Name: 16492, dtype: object
title                 Transformers: Dark of the Moon
year                                            2011
vote_count                                      3351
vote_average                                       6
popularity                                   4.50351
genres          [Action, Science Fiction, Adventure]
Name: 17293, dtype: object
title           The Tree of Life
year                        2011
vote_count                  1009
vote_average                   6
popularity               11.2045
genres          [Drama, Fantasy]
Name: 17130, dtype: object
title                            Attack the Block
year                                         2011
vote_count                                    748
vote_average                                    6
popularity                                9.93263
genres          [Action, Comedy, Science Fiction]
Name: 17204, dtype: object
title                    Midnight in Paris
year                                  2011
vote_count                            2049
vote_average                             7
popularity                         11.4326
genres          [Fantasy, Comedy, Romance]
Name: 17125, dtype: object
title                             X-Men: First Class
year                                            2011
vote_count                                      5252
vote_average                                       7
popularity                                  0.738633
genres          [Action, Science Fiction, Adventure]
Name: 17217, dtype: object
title                          Submarine
year                                2011
vote_count                           452
vote_average                           7
popularity                        7.3461
genres          [Drama, Comedy, Romance]
Name: 17218, dtype: object
title               Kung Fu Panda 2
year                           2011
vote_count                     1925
vote_average                      6
popularity                  11.4819
genres          [Animation, Family]
Name: 17213, dtype: object
title                                            Green Lantern
year                                                      2011
vote_count                                                2551
vote_average                                                 5
popularity                                             13.9856
genres          [Adventure, Action, Thriller, Science Fiction]
Name: 17272, dtype: object
title           Pirates of the Caribbean: On Stranger Tides
year                                                   2011
vote_count                                             5068
vote_average                                              6
popularity                                          27.8877
genres                         [Adventure, Action, Fantasy]
Name: 17124, dtype: object
title           Mr. Popper's Penguins
year                             2011
vote_count                        775
vote_average                        5
popularity                    15.2143
genres               [Comedy, Family]
Name: 17282, dtype: object
title           Bad Teacher
year                   2011
vote_count             1634
vote_average              5
popularity          7.31069
genres             [Comedy]
Name: 17283, dtype: object
title                                        Super 8
year                                            2011
vote_count                                      2496
vote_average                                       6
popularity                                   19.5299
genres          [Thriller, Science Fiction, Mystery]
Name: 17238, dtype: object
title                                   Thor
year                                    2011
vote_count                              6678
vote_average                               6
popularity                           29.1585
genres          [Adventure, Fantasy, Action]
Name: 16974, dtype: object
title                               Blitz
year                                 2011
vote_count                            496
vote_average                            6
popularity                        9.49186
genres          [Crime, Action, Thriller]
Name: 17534, dtype: object
title           The Hangover Part II
year                            2011
vote_count                      3836
vote_average                       6
popularity                   21.8935
genres                      [Comedy]
Name: 17136, dtype: object
title             Just Go with It
year                         2011
vote_count                   1588
vote_average                    6
popularity                9.26796
genres          [Romance, Comedy]
Name: 16818, dtype: object
title                        The Mechanic
year                                 2011
vote_count                           1066
vote_average                            6
popularity                        9.83234
genres          [Action, Thriller, Crime]
Name: 16760, dtype: object
title                           Fast Five
year                                 2011
vote_count                           2491
vote_average                            7
popularity                        1.42036
genres          [Action, Thriller, Crime]
Name: 17052, dtype: object
title                                              Rio
year                                              2011
vote_count                                        2213
vote_average                                         6
popularity                                     10.4032
genres          [Animation, Adventure, Comedy, Family]
Name: 16964, dtype: object
title                    Scream 4
year                         2011
vote_count                    930
vote_average                    6
popularity                10.0007
genres          [Horror, Mystery]
Name: 16963, dtype: object
title                                   Hanna
year                                     2011
vote_count                               1284
vote_average                                6
popularity                             8.0712
genres          [Action, Thriller, Adventure]
Name: 16946, dtype: object
title                          Sucker Punch
year                                   2011
vote_count                             1661
vote_average                              5
popularity                          13.7795
genres          [Action, Fantasy, Thriller]
Name: 16842, dtype: object
title                  Jane Eyre
year                        2011
vote_count                   438
vote_average                   7
popularity               7.08908
genres          [Drama, Romance]
Name: 16834, dtype: object
title                                    Source Code
year                                            2011
vote_count                                      2752
vote_average                                       7
popularity                                   9.79696
genres          [Thriller, Science Fiction, Mystery]
Name: 16833, dtype: object
title                 Battle: Los Angeles
year                                 2011
vote_count                           1462
vote_average                            5
popularity                        6.75375
genres          [Action, Science Fiction]
Name: 16769, dtype: object
title                             Beastly
year                                 2011
vote_count                            878
vote_average                            5
popularity                        7.36456
genres          [Drama, Fantasy, Romance]
Name: 16206, dtype: object
title                  The Green Hornet
year                               2011
vote_count                         1274
vote_average                          5
popularity                      7.88801
genres          [Action, Crime, Comedy]
Name: 16437, dtype: object
title           Water for Elephants
year                           2011
vote_count                      879
vote_average                      6
popularity                  7.64947
genres             [Drama, Romance]
Name: 17031, dtype: object
title                                         I Am Number Four
year                                                      2011
vote_count                                                1606
vote_average                                                 5
popularity                                             9.38838
genres          [Action, Thriller, Science Fiction, Adventure]
Name: 16763, dtype: object
title                       Red Riding Hood
year                                   2011
vote_count                              958
vote_average                              5
popularity                          10.1743
genres          [Fantasy, Thriller, Horror]
Name: 16827, dtype: object
title                          The Adjustment Bureau
year                                            2011
vote_count                                      1677
vote_average                                       6
popularity                                    9.4203
genres          [Science Fiction, Thriller, Romance]
Name: 16742, dtype: object
title                 The Lincoln Lawyer
year                                2011
vote_count                           923
vote_average                           7
popularity                       6.80744
genres          [Crime, Drama, Thriller]
Name: 16623, dtype: object
title           Hall Pass
year                 2011
vote_count            627
vote_average            5
popularity        9.13273
genres           [Comedy]
Name: 16761, dtype: object
title                                                     Rango
year                                                       2011
vote_count                                                 2094
vote_average                                                  6
popularity                                              10.5819
genres          [Animation, Comedy, Family, Western, Adventure]
Name: 16738, dtype: object
title                                      Limitless
year                                            2011
vote_count                                      3888
vote_average                                       7
popularity                                    12.115
genres          [Thriller, Mystery, Science Fiction]
Name: 16572, dtype: object
title                    Season of the Witch
year                                    2011
vote_count                               756
vote_average                               5
popularity                           13.4712
genres          [Adventure, Fantasy, Action]
Name: 16463, dtype: object
title           No Strings Attached
year                           2011
vote_count                     1367
vote_average                      6
popularity                  8.88057
genres            [Comedy, Romance]
Name: 16621, dtype: object
title                        Melancholia
year                                2011
vote_count                           915
vote_average                           7
popularity                       8.12477
genres          [Drama, Science Fiction]
Name: 16972, dtype: object
title                               Unknown
year                                   2011
vote_count                             1288
vote_average                              6
popularity                          14.4436
genres          [Action, Mystery, Thriller]
Name: 16670, dtype: object
title                                  Drive Angry
year                                          2011
vote_count                                     608
vote_average                                     5
popularity                                 7.66883
genres          [Fantasy, Thriller, Action, Crime]
Name: 16737, dtype: object
title           The Change-Up
year                     2011
vote_count                753
vote_average                5
popularity            6.90614
genres               [Comedy]
Name: 17599, dtype: object
title                                           Paul
year                                            2011
vote_count                                      1825
vote_average                                       6
popularity                                   10.2438
genres          [Adventure, Comedy, Science Fiction]
Name: 16705, dtype: object
title               Gnomeo & Juliet
year                           2011
vote_count                      547
vote_average                      5
popularity                  9.24447
genres          [Animation, Family]
Name: 16675, dtype: object
title           Tucker and Dale vs Evil
year                               2010
vote_count                          860
vote_average                          7
popularity                      6.77187
genres                 [Comedy, Horror]
Name: 16384, dtype: object
title                                     Faster
year                                        2010
vote_count                                   577
vote_average                                   6
popularity                               9.01497
genres          [Crime, Drama, Action, Thriller]
Name: 16331, dtype: object
title              Little Fockers
year                         2010
vote_count                   1092
vote_average                    5
popularity                9.73941
genres          [Comedy, Romance]
Name: 16346, dtype: object
title           Gulliver's Travels
year                          2010
vote_count                     633
vote_average                     4
popularity                  7.5658
genres                    [Comedy]
Name: 16347, dtype: object
title                  Burlesque
year                        2010
vote_count                   581
vote_average                   6
popularity               9.27654
genres          [Drama, Romance]
Name: 16379, dtype: object
title           Three Steps Above Heaven
year                                2010
vote_count                           513
vote_average                           7
popularity                       6.28597
genres                  [Romance, Drama]
Name: 18952, dtype: object
title                          The Way Back
year                                   2010
vote_count                              462
vote_average                              6
popularity                          9.40208
genres          [Drama, Adventure, History]
Name: 16442, dtype: object
title                I Spit on Your Grave
year                                 2010
vote_count                            537
vote_average                            6
popularity                        12.8053
genres          [Thriller, Crime, Horror]
Name: 16585, dtype: object
title           Elite Squad: The Enemy Within
year                                     2010

title                           Hot Tub Time Machine
year                                            2010
vote_count                                       911
vote_average                                       5
popularity                                   11.9677
genres          [Science Fiction, Comedy, Adventure]
Name: 14977, dtype: object
title                                             Repo Men
year                                                  2010
vote_count                                             627
vote_average                                             6
popularity                                         7.50297
genres          [Action, Science Fiction, Thriller, Crime]
Name: 14963, dtype: object
title           The Bounty Hunter
year                         2010
vote_count                    878
vote_average                    5
popularity                6.71526
genres                   [Action]
Name: 14943, dtype: object
title               Frozen
year                  2010
vote_count             586
vote_average             5
popularity         10.2457
genres          [Thriller]
Name: 14926, dtype: object
title                Remember Me
year                        2010
vote_count                   980
vote_average                   6
popularity               8.30772
genres          [Drama, Romance]
Name: 14915, dtype: object
title                From Paris with Love
year                                 2010
vote_count                            684
vote_average                            6
popularity                        6.88559
genres          [Action, Crime, Thriller]
Name: 14899, dtype: object
title                                          Green Zone
year                                                 2010
vote_count                                            730
vote_average                                            6
popularity                                         11.174
genres          [War, Action, Adventure, Drama, Thriller]
Name: 14894, dtype: object
title                    Alice in Wonderland
year                                    2010
vote_count                              4773
vote_average                               6
popularity                           17.2851
genres          [Family, Fantasy, Adventure]
Name: 14892, dtype: object
title                    Clash of the Titans
year                                    2010
vote_count                              2280
vote_average                               5
popularity                           11.9723
genres          [Adventure, Fantasy, Action]
Name: 15006, dtype: object
title                       Dear John
year                             2010
vote_count                       1302
vote_average                        6
popularity                    8.37148
genres          [Drama, Romance, War]
Name: 14873, dtype: object
title             Valentine's Day
year                         2010
vote_count                   1043
vote_average                    5
popularity                7.46672
genres          [Comedy, Romance]
Name: 14822, dtype: object
title                         The Crazies
year                                 2010
vote_count                            649
vote_average                            6
popularity                        10.9146
genres          [Mystery, Horror, Action]
Name: 14872, dtype: object
title                      The Last Song
year                                2010
vote_count                           959
vote_average                           7
popularity                       5.54107
genres          [Drama, Family, Romance]
Name: 15129, dtype: object
title                                     Iron Man 2
year                                            2010
vote_count                                      6969
vote_average                                       6
popularity                                   19.0833
genres          [Adventure, Action, Science Fiction]
Name: 15153, dtype: object
title             Legion
year                2010
vote_count           643
vote_average           5
popularity       13.7959
genres          [Horror]
Name: 14740, dtype: object
title                            Edge of Darkness
year                                         2010
vote_count                                    496
vote_average                                    6
popularity                                9.55407
genres          [Crime, Drama, Mystery, Thriller]
Name: 14778, dtype: object
title                               The Book of Eli
year                                           2010
vote_count                                     2207
vote_average                                      6
popularity                                  14.3985
genres          [Action, Thriller, Science Fiction]
Name: 14631, dtype: object
title           Charlie St. Cloud
year                         2010
vote_count                    589
vote_average                    6
popularity                6.27313
genres                    [Drama]
Name: 15579, dtype: object
title                         The Wolfman
year                                 2010
vote_count                            562
vote_average                            5
popularity                        9.29721
genres          [Drama, Horror, Thriller]
Name: 14823, dtype: object
title           Percy Jackson & the Olympians: The Lightning T...
year                                                         2010
vote_count                                                   2079
vote_average                                                    6
popularity                                                 9.7859
genres                               [Adventure, Fantasy, Family]
Name: 14841, dtype: object
title                           Cop Out
year                               2010
vote_count                          518
vote_average                          5
popularity                      14.3131
genres          [Action, Comedy, Crime]
Name: 14842, dtype: object
title              The Ghost Writer
year                           2010
vote_count                      681
vote_average                      6
popularity                  6.76482
genres          [Thriller, Mystery]
Name: 14845, dtype: object
title                          Exam
year                           2009
vote_count                      531
vote_average                      6
popularity                  5.81037
genres          [Thriller, Mystery]
Name: 15320, dtype: object
title                                        Splice
year                                           2009
vote_count                                      682
vote_average                                      5
popularity                                  8.18141
genres          [Horror, Thriller, Science Fiction]
Name: 15300, dtype: object
title           The Human Centipede (First Sequence)
year                                            2009
vote_count                                       528
vote_average                                       4
popularity                                   12.8459
genres                                      [Horror]
Name: 15132, dtype: object
title                                Chloe
year                                  2009
vote_count                             514
vote_average                             5
popularity                         10.4459
genres          [Drama, Thriller, Mystery]
Name: 14978, dtype: object
title                               Case 39
year                                   2009
vote_count                              580
vote_average                              6
popularity                          9.64409
genres          [Horror, Mystery, Thriller]
Name: 14968, dtype: object
title                          Dorian Gray
year                                  2009
vote_count                             588
vote_average                             5
popularity                         11.0696
genres          [Fantasy, Drama, Thriller]
Name: 14904, dtype: object
title                       [REC]²
year                          2009
vote_count                     496
vote_average                     6
popularity                 8.85317
genres          [Thriller, Horror]
Name: 14884, dtype: object
title                       The Girl Who Played with Fire
year                                                 2009
vote_count                                            561
vote_average                                            6
popularity                                         14.386
genres          [Drama, Action, Thriller, Crime, Mystery]
Name: 14839, dtype: object
title           Triangle
year                2009
vote_count           623
vote_average           6
popularity       10.2174
genres          [Horror]
Name: 14784, dtype: object
title                           3 Idiots
year                                2009
vote_count                           850
vote_average                           7
popularity                       7.67562
genres          [Drama, Comedy, Romance]
Name: 14732, dtype: object
title           The Girl Who Kicked the Hornet's Nest
year                                             2009
vote_count                                        451
vote_average                                        7
popularity                                    8.40501
genres             [Action, Thriller, Crime, Mystery]
Name: 14632, dtype: object
title                     The Princess and the Frog
year                                           2009
vote_count                                     1293
vote_average                                      6
popularity                                  16.6165
genres          [Romance, Family, Animation, Music]
Name: 14496, dtype: object
title           Hachi: A Dog's Tale
year                           2009
vote_count                     1769
vote_average                      7
popularity                  8.62136
genres              [Drama, Family]
Name: 14625, dtype: object
title                                                 Daybreakers
year                                                         2009
vote_count                                                    646
vote_average                                                    6
popularity                                                10.0386
genres          [Fantasy, Horror, Action, Thriller, Science Fi...
Name: 14620, dtype: object
title           American Pie Presents: The Book of Love
year                                               2009
vote_count                                          454
vote_average                                          5
popularity                                      7.43211
genres                                         [Comedy]
Name: 14572, dtype: object
title               Alvin and the Chipmunks: The Squeakquel
year                                                   2009
vote_count                                              688
vote_average                                              5
popularity                                          9.90996
genres          [Comedy, Family, Animation, Fantasy, Music]
Name: 14562, dtype: object
title                               Sherlock Holmes
year                                           2009
vote_count                                     5883
vote_average                                      7
popularity                                   15.686
genres          [Action, Adventure, Crime, Mystery]
Name: 14557, dtype: object
title                   Invictus
year                        2009
vote_count                  1150
vote_average                   7
popularity               9.10984
genres          [Drama, History]
Name: 14494, dtype: object
title           The Lovely Bones
year                        2009
vote_count                  1101
vote_average                   6
popularity               12.7388
genres          [Fantasy, Drama]
Name: 14493, dtype: object
title               A Single Man
year                        2009
vote_count                   475
vote_average                   7
popularity               10.9525
genres          [Drama, Romance]
Name: 14489, dtype: object
title                                                   Planet 51
year                                                         2009
vote_count                                                    573
vote_average                                                    5
popularity                                                10.4424
genres          [Science Fiction, Animation, Family, Comedy, A...
Name: 14484, dtype: object
title                         Brothers
year                              2009
vote_count                         650
vote_average                         6
popularity                     9.10892
genres          [Drama, Thriller, War]
Name: 14452, dtype: object
title                   The Secret in Their Eyes
year                                        2009
vote_count                                   638
vote_average                                   7
popularity                               11.2516
genres          [Crime, Drama, Mystery, Romance]
Name: 14115, dtype: object
title           I Love You Phillip Morris
year                                 2009
vote_count                            514
vote_average                            6
popularity                        5.77375
genres           [Comedy, Drama, Romance]
Name: 14792, dtype: object
title                                           Mr. Nobody
year                                                  2009
vote_count                                            1616
vote_average                                             7
popularity                                         11.8171
genres          [Science Fiction, Drama, Romance, Fantasy]
Name: 15530, dtype: object
title               The Invention of Lying
year                                  2009
vote_count                             523
vote_average                             6
popularity                         7.08716
genres          [Comedy, Romance, Fantasy]
Name: 14231, dtype: object
title           The Blind Side
year                      2009
vote_count                1626
vote_average                 7
popularity             12.7531
genres                 [Drama]
Name: 14465, dtype: object
title                                                  Avatar
year                                                     2009
vote_count                                              12114
vote_average                                                7
popularity                                            185.071
genres          [Action, Adventure, Fantasy, Science Fiction]
Name: 14551, dtype: object
title            The Time Traveler's Wife
year                                 2009
vote_count                            815
vote_average                            6
popularity                        13.6826
genres          [Drama, Romance, Fantasy]
Name: 14024, dtype: object
title            A Christmas Carol
year                          2009
vote_count                    1137
vote_average                     6
popularity                 12.8693
genres          [Animation, Drama]
Name: 14394, dtype: object
title           Where the Wild Things Are
year                                 2009
vote_count                            580
vote_average                            6
popularity                        12.3622
genres                  [Family, Fantasy]
Name: 14283, dtype: object
title                                Fantastic Mr. Fox
year                                              2009
vote_count                                        1206
vote_average                                         7
popularity                                     8.69589
genres          [Adventure, Animation, Comedy, Family]
Name: 14378, dtype: object
title                                           2012
year                                            2009
vote_count                                      4994
vote_average                                       5
popularity                                   16.6986
genres          [Action, Adventure, Science Fiction]
Name: 14416, dtype: object
title                      Saw VI
year                         2009
vote_count                    755
vote_average                    6
popularity                17.3609
genres          [Horror, Mystery]
Name: 14359, dtype: object
title              Up in the Air
year                        2009
vote_count                  1246
vote_average                   6
popularity               8.33856
genres          [Drama, Romance]
Name: 14334, dtype: object
title                               The Box
year                                   2009
vote_count                              610
vote_average                              5
popularity                          10.4249
genres          [Thriller, Science Fiction]
Name: 14417, dtype: object
title                         Mary and Max
year                                  2009
vote_count                             596
vote_average                             7
popularity                         8.88839
genres          [Animation, Comedy, Drama]
Name: 14310, dtype: object
title                Law Abiding Citizen
year                                2009
vote_count                          1522
vote_average                           7
popularity                        16.639
genres          [Drama, Crime, Thriller]
Name: 14301, dtype: object
title             A Serious Man
year                       2009
vote_count                  492
vote_average                  6
popularity              7.97142
genres          [Comedy, Drama]
Name: 14216, dtype: object
title                 Zombieland
year                        2009
vote_count                  3655
vote_average                   7
popularity                11.063
genres          [Comedy, Horror]
Name: 14236, dtype: object
title                                    Surrogates
year                                           2009
vote_count                                     1219
vote_average                                      5
popularity                                  16.2119
genres          [Action, Science Fiction, Thriller]
Name: 14234, dtype: object
title                                The Fourth Kind
year                                            2009
vote_count                                       451
vote_average                                       5
popularity                                    13.752
genres          [Mystery, Science Fiction, Thriller]
Name: 14421, dtype: object
title           Cloudy with a Chance of Meatballs
year                                         2009
vote_count                                   1799
vote_average                                    6
popularity                                11.6657
genres                [Animation, Comedy, Family]
Name: 14167, dtype: object
title                                         Gamer
year                                           2009
vote_count                                      778
vote_average                                      5
popularity                                  9.73068
genres          [Action, Thriller, Science Fiction]
Name: 14166, dtype: object
title           The Final Destination
year                             2009
vote_count                        851
vote_average                        5
popularity                    8.80572
genres              [Horror, Mystery]
Name: 14165, dtype: object
title            Jennifer's Body
year                        2009
vote_count                   858
vote_average                   5
popularity               13.4831
genres          [Comedy, Horror]
Name: 14156, dtype: object
title           The Men Who Stare at Goats
year                                  2009

title                      Doubt
year                        2008
vote_count                   445
vote_average                   7
popularity               9.27826
genres          [Drama, Mystery]
Name: 13184, dtype: object
title                  The Hurt Locker
year                              2008
vote_count                        1881
vote_average                         7
popularity                     9.40372
genres          [Drama, Thriller, War]
Name: 13817, dtype: object
title                   Asterix at the Olympic Games
year                                            2008
vote_count                                       486
vote_average                                       5
popularity                                   9.67194
genres          [Fantasy, Adventure, Comedy, Family]
Name: 14710, dtype: object
title                               Inkheart
year                                    2008
vote_count                               610
vote_average                               6
popularity                           13.5709
genres          [Adventure, Family, Fantasy]
Name: 13318, dtype: object
title                             Ip Man
year                                2008
vote_count                          1309
vote_average                           7
popularity                       6.00426
genres          [Drama, Action, History]
Name: 13286, dtype: object
title                         Ponyo
year                           2008
vote_count                      953
vote_average                      7
popularity                  8.47095
genres          [Animation, Family]
Name: 13264, dtype: object
title                Marley & Me
year                        2008
vote_count                  1392
vote_average                   6
popularity               9.72975
genres          [Comedy, Family]
Name: 13258, dtype: object
title                          City of Ember
year                                    2008
vote_count                               614
vote_average                               6
popularity                           8.06147
genres          [Adventure, Family, Fantasy]
Name: 13001, dtype: object
title           Role Models
year                   2008
vote_count              575
vote_average              6
popularity          7.64621
genres             [Comedy]
Name: 13064, dtype: object
title                              Quantum of Solace
year                                            2008
vote_count                                      3015
vote_average                                       6
popularity                                   13.6781
genres          [Adventure, Action, Thriller, Crime]
Name: 13061, dtype: object
title                     Hellboy II: The Golden Army
year                                             2008
vote_count                                       1555
vote_average                                        6
popularity                                    11.9287
genres          [Adventure, Fantasy, Science Fiction]
Name: 12365, dtype: object
title                               Saw V
year                                 2008
vote_count                            848
vote_average                            6
popularity                        10.1655
genres          [Horror, Thriller, Crime]
Name: 13092, dtype: object
title           Australia
year                 2008
vote_count            712
vote_average            6
popularity        9.56614
genres            [Drama]
Name: 13128, dtype: object
title                       The Bank Job
year                                2008
vote_count                           708
vote_average                           6
popularity                        8.7327
genres          [Thriller, Crime, Drama]
Name: 12442, dtype: object
title                                       Horton Hears a Who!
year                                                       2008
vote_count                                                  927
vote_average                                                  6
popularity                                               8.3267
genres          [Animation, Comedy, Family, Adventure, Fantasy]
Name: 12444, dtype: object
title                                     10,000 BC
year                                           2008
vote_count                                      934
vote_average                                      5
popularity                                  13.9938
genres          [Adventure, Action, Drama, Fantasy]
Name: 12441, dtype: object
title           The Other Boleyn Girl
year                             2008
vote_count                        498
vote_average                        6
popularity                    9.77883
genres                        [Drama]
Name: 12424, dtype: object
title            Step Up 2: The Streets
year                               2008
vote_count                          658
vote_average                          6
popularity                      7.66758
genres          [Music, Drama, Romance]
Name: 12417, dtype: object
title              The Spiderwick Chronicles
year                                    2008
vote_count                               593
vote_average                               6
popularity                           11.1338
genres          [Adventure, Family, Fantasy]
Name: 12416, dtype: object
title                  27 Dresses
year                         2008
vote_count                   1013
vote_average                    6
popularity                10.3422
genres          [Comedy, Romance]
Name: 12300, dtype: object
title           Definitely, Maybe
year                         2008
vote_count                    638
vote_average                    6
popularity                12.5537
genres          [Comedy, Romance]
Name: 12408, dtype: object
title                                          Jumper
year                                             2008
vote_count                                       1855
vote_average                                        5
popularity                                     11.039
genres          [Adventure, Fantasy, Science Fiction]
Name: 12405, dtype: object
title                            Fool's Gold
year                                    2008
vote_count                               454
vote_average                               5
popularity                            9.4548
genres          [Romance, Comedy, Adventure]
Name: 12395, dtype: object
title                              Bedtime Stories
year                                          2008
vote_count                                     924
vote_average                                     5
popularity                                 10.7394
genres          [Fantasy, Comedy, Family, Romance]
Name: 13241, dtype: object
title                                   Cloverfield
year                                           2008
vote_count                                     2297
vote_average                                      6
popularity                                  12.8681
genres          [Action, Thriller, Science Fiction]
Name: 12328, dtype: object
title                              Vantage Point
year                                        2008
vote_count                                   731
vote_average                                   6
popularity                               7.00164
genres          [Drama, Action, Thriller, Crime]
Name: 12415, dtype: object
title                        In Bruges
year                              2008
vote_count                        1414
vote_average                         7
popularity                     9.89565
genres          [Comedy, Drama, Crime]
Name: 12368, dtype: object
title                       21
year                      2008
vote_count                1406
vote_average                 6
popularity             8.33756
genres          [Drama, Crime]
Name: 12508, dtype: object
title           Never Back Down
year                       2008
vote_count                  511
vote_average                  6
popularity              14.7539
genres          [Drama, Action]
Name: 12490, dtype: object
title                                       Twilight
year                                            2008
vote_count                                      3688
vote_average                                       5
popularity                                    31.282
genres          [Adventure, Fantasy, Drama, Romance]
Name: 13133, dtype: object
title                       Milk
year                        2008
vote_count                   628
vote_average                   7
popularity               10.6801
genres          [History, Drama]
Name: 13131, dtype: object
title                                             Bolt
year                                              2008
vote_count                                        1798
vote_average                                         6
popularity                                     15.5809
genres          [Animation, Family, Adventure, Comedy]
Name: 13129, dtype: object
title                                Defiance
year                                     2008
vote_count                                580
vote_average                                6
popularity                            13.9909
genres          [Action, Drama, History, War]
Name: 13255, dtype: object
title                        Rambo
year                          2008
vote_count                    1009
vote_average                     6
popularity                 9.91556
genres          [Action, Thriller]
Name: 12356, dtype: object
title                                  Valkyrie
year                                       2008
vote_count                                 1195
vote_average                                  6
popularity                              8.63546
genres          [Drama, Thriller, History, War]
Name: 13224, dtype: object
title           Let the Right One In
year                            2008
vote_count                       997
vote_average                       7
popularity                   7.27424
genres               [Horror, Drama]
Name: 12891, dtype: object
title           The Chronicles of Narnia: Prince Caspian
year                                                2008
vote_count                                          1668
vote_average                                           6
popularity                                       12.4909
genres                      [Adventure, Family, Fantasy]
Name: 12614, dtype: object
title                     Hancock
year                         2008
vote_count                   3050
vote_average                    6
popularity                11.0173
genres          [Fantasy, Action]
Name: 12706, dtype: object
title                          Bronson
year                              2008
vote_count                         756
vote_average                         6
popularity                     9.52104
genres          [Drama, Action, Crime]
Name: 14052, dtype: object
title                  Mamma Mia!
year                         2008
vote_count                   1435
vote_average                    6
popularity                10.5344
genres          [Comedy, Romance]
Name: 12768, dtype: object
title                               Mirrors
year                                   2008
vote_count                              494
vote_average                              6
popularity                          8.61262
genres          [Horror, Mystery, Thriller]
Name: 12898, dtype: object
title             The House Bunny
year                         2008
vote_count                    548
vote_average                    5
popularity                9.92011
genres          [Romance, Comedy]
Name: 12894, dtype: object
title                                             Babylon A.D.
year                                                      2008
vote_count                                                 687
vote_average                                                 5
popularity                                             9.27381
genres          [Action, Adventure, Science Fiction, Thriller]
Name: 12912, dtype: object
title                                    Death Race
year                                           2008
vote_count                                     1205
vote_average                                      6
popularity                                    13.53
genres          [Action, Thriller, Science Fiction]
Name: 12893, dtype: object
title                            Get Smart
year                                  2008
vote_count                            1072
vote_average                             6
popularity                         11.3578
genres          [Action, Comedy, Thriller]
Name: 12713, dtype: object
title             Tropic Thunder
year                        2008
vote_count                  1707
vote_average                   6
popularity               8.98094
genres          [Action, Comedy]
Name: 12883, dtype: object
title           Harold & Kumar Escape from Guantanamo Bay
year                                                 2008
vote_count                                            508
vote_average                                            6
popularity                                        13.0653
genres                                [Comedy, Adventure]
Name: 12545, dtype: object
title           Pineapple Express
year                         2008
vote_count                   1169
vote_average                    6
popularity                8.46137
genres           [Action, Comedy]
Name: 12866, dtype: object
title                                   Star Wars: The Clone Wars
year                                                         2008
vote_count                                                    434
vote_average                                                    5
popularity                                                8.52486
genres          [Thriller, Animation, Action, Science Fiction,...
Name: 12885, dtype: object
title           The Mummy: Tomb of the Dragon Emperor
year                                             2008
vote_count                                       1418
vote_average                                        5
popularity                                    14.2502
genres                   [Adventure, Action, Fantasy]
Name: 12849, dtype: object
title                        The X Files: I Want to Believe
year                                                   2008
vote_count                                              534
vote_average                                              5
popularity                                          9.86358
genres          [Drama, Mystery, Science Fiction, Thriller]
Name: 12828, dtype: object
title           Step Brothers
year                     2008
vote_count               1084
vote_average                6
popularity            8.57964
genres               [Comedy]
Name: 12826, dtype: object
title                          Journey to the Center of the Earth
year                                                         2008
vote_count                                                   1353
vote_average                                                    5
popularity                                                  10.42
genres          [Action, Science Fiction, Adventure, Comedy, F...
Name: 12789, dtype: object
title           Welcome to the Sticks
year                             2008
vote_count                        638
vote_average                        6
popularity                    7.25013
genres                       [Comedy]
Name: 12770, dtype: object
title           Vicky Cristina Barcelona
year                                2008
vote_count                          1050
vote_average                           6
popularity                       9.64854
genres                  [Drama, Romance]
Name: 12855, dtype: object
title            Yes Man
year                2008
vote_count          1869
vote_average           6
popularity       9.75629
genres          [Comedy]
Name: 13221, dtype: object
title           Forgetting Sarah Marshall
year                                 2008
vote_count                           1194
vote_average                            6
popularity                        15.1067
genres           [Comedy, Romance, Drama]
Name: 12540, dtype: object
title           Burn After Reading
year                          2008
vote_count                    1251
vote_average                     6
popularity                 13.2068
genres             [Comedy, Drama]
Name: 12910, dtype: object
title                             Martyrs
year                                 2008
vote_count                            581
vote_average                            7
popularity                        7.71633
genres          [Horror, Drama, Thriller]
Name: 12983, dtype: object
title                         The Happening
year                                   2008
vote_count                              968
vote_average                              4
popularity                          6.22229
genres          [Thriller, Science Fiction]
Name: 12699, dtype: object
title                    The Curious Case of Benjamin Button
year                                                    2008
vote_count                                              3398
vote_average                                               7
popularity                                           17.9348
genres          [Fantasy, Drama, Thriller, Mystery, Romance]
Name: 13219, dtype: object
title               The Wrestler
year                        2008
vote_count                  1031
vote_average                   7
popularity               7.90396
genres          [Drama, Romance]
Name: 13204, dtype: object
title                 The Reader
year                        2008
vote_count                   835
vote_average                   7
popularity               7.93173
genres          [Drama, Romance]
Name: 13189, dtype: object
title           Gran Torino
year                   2008
vote_count             3181
vote_average              7
popularity          14.7942
genres              [Drama]
Name: 13187, dtype: object
title           Revolutionary Road
year                          2008
vote_count                     824
vote_average                     6
popularity                 12.2659
genres            [Drama, Romance]
Name: 13245, dtype: object
title                        Body of Lies
year                                 2008
vote_count                            919
vote_average                            6
popularity                        12.8861
genres          [Action, Drama, Thriller]
Name: 13000, dtype: object
title                             Eagle Eye
year                                   2008
vote_count                             1038
vote_average                              6
popularity                          14.3249
genres          [Mystery, Thriller, Action]
Name: 12975, dtype: object
title                        WALL·E
year                           2008
vote_count                     6439
vote_average                      7
popularity                  16.0884
genres          [Animation, Family]
Name: 12704, dtype: object
title                            The Incredible Hulk
year                                            2008
vote_count                                      3086
vote_average                                       6
popularity                                   19.1255
genres          [Science Fiction, Action, Adventure]
Name: 12700, dtype: object
title           Seven Pounds
year                    2008
vote_count              2092
vote_average               7
popularity           21.7083
genres               [Drama]
Name: 13198, dtype: object
title           You Don't Mess with the Zohan
year                                     2008

title           The Lives of Others
year                           2006
vote_count                      977
vote_average                      7
popularity                  9.02255
genres            [Drama, Thriller]
Name: 10863, dtype: object
title           The Hills Have Eyes
year                           2006
vote_count                      726
vote_average                      6
popularity                  18.9605
genres           [Horror, Thriller]
Name: 10857, dtype: object
title                         Inside Man
year                                2006
vote_count                          1671
vote_average                           7
popularity                       13.3935
genres          [Crime, Drama, Thriller]
Name: 10843, dtype: object
title                                  Monster House
year                                            2006
vote_count                                       912
vote_average                                       6
popularity                                   15.4024
genres          [Animation, Comedy, Family, Fantasy]
Name: 11114, dtype: object
title                            Ice Age: The Meltdown
year                                              2006
vote_count                                        3034
vote_average                                         6
popularity                                      16.646
genres          [Animation, Family, Comedy, Adventure]
Name: 10826, dtype: object
title                                      16 Blocks
year                                            2006
vote_count                                       675
vote_average                                       6
popularity                                   11.8878
genres          [Action, Adventure, Crime, Thriller]
Name: 10817, dtype: object
title           Scary Movie 4
year                     2006
vote_count                779
vote_average                5
popularity            13.0967
genres               [Comedy]
Name: 10927, dtype: object
title                                   Ultraviolet
year                                           2006
vote_count                                      468
vote_average                                      4
popularity                                  11.0967
genres          [Science Fiction, Action, Thriller]
Name: 10813, dtype: object
title                          Eight Below
year                                  2006
vote_count                             553
vote_average                             6
popularity                         13.8769
genres          [Adventure, Drama, Family]
Name: 10808, dtype: object
title                                 A Scanner Darkly
year                                              2006
vote_count                                         540
vote_average                                         6
popularity                                      11.643
genres          [Animation, Science Fiction, Thriller]
Name: 9510, dtype: object
title                                   The Pink Panther
year                                                2006
vote_count                                           570
vote_average                                           5
popularity                                       10.5205
genres          [Action, Comedy, Crime, Mystery, Family]
Name: 10793, dtype: object
title                       Scoop
year                         2006
vote_count                    435
vote_average                    6
popularity                8.16339
genres          [Comedy, Mystery]
Name: 11121, dtype: object
title           Final Destination 3
year                           2006
vote_count                     1000
vote_average                      5
popularity                   11.873
genres            [Horror, Mystery]
Name: 10776, dtype: object
title                                  Underworld: Evolution
year                                                    2006
vote_count                                              1548
vote_average                                               6
popularity                                           12.4968
genres          [Fantasy, Action, Science Fiction, Thriller]
Name: 10709, dtype: object
title                                       Munich
year                                          2005
vote_count                                     706
vote_average                                     7
popularity                                 9.66876
genres          [Drama, Action, History, Thriller]
Name: 10641, dtype: object
title           Thank You for Smoking
year                             2005
vote_count                        670
vote_average                        7
popularity                    9.36953
genres                [Comedy, Drama]
Name: 10841, dtype: object
title                        Nanny McPhee
year                                 2005
vote_count                            742
vote_average                            6
popularity                        9.80655
genres          [Fantasy, Comedy, Family]
Name: 10762, dtype: object
title                        Lord of War
year                                2005
vote_count                          1356
vote_average                           7
popularity                       8.74522
genres          [Crime, Drama, Thriller]
Name: 10336, dtype: object
title                           Hoodwinked!
year                                   2005
vote_count                              491
vote_average                              6
popularity                          6.39898
genres          [Animation, Comedy, Family]
Name: 10707, dtype: object
title             Hostel
year                2005
vote_count           913
vote_average           5
popularity       12.0939
genres          [Horror]
Name: 10702, dtype: object
title           Fun with Dick and Jane
year                              2005
vote_count                         639
vote_average                         5
popularity                     13.4734
genres                        [Comedy]
Name: 10646, dtype: object
title           Cheaper by the Dozen 2
year                              2005
vote_count                         542
vote_average                         5
popularity                     7.10142
genres                        [Comedy]
Name: 10645, dtype: object
title                              Zathura: A Space Adventure
year                                                     2005
vote_count                                                808
vote_average                                                6
popularity                                            10.6956
genres          [Family, Fantasy, Science Fiction, Adventure]
Name: 10561, dtype: object
title                 Memoirs of a Geisha
year                                 2005
vote_count                            670
vote_average                            7
popularity                        7.68076
genres          [Drama, History, Romance]
Name: 10599, dtype: object
title           The Chronicles of Narnia: The Lion, the Witch ...
year                                                         2005
vote_count                                                   2709
vote_average                                                    6
popularity                                                18.1354
genres                               [Adventure, Family, Fantasy]
Name: 10597, dtype: object
title                                 Match Point
year                                         2005
vote_count                                   1134
vote_average                                    7
popularity                                9.02037
genres          [Drama, Thriller, Crime, Romance]
Name: 10585, dtype: object
title                     Syriana
year                         2005
vote_count                    455
vote_average                    6
popularity                5.76858
genres          [Drama, Thriller]
Name: 10538, dtype: object
title                     Walk the Line
year                               2005
vote_count                          732
vote_average                          7
popularity                      11.4764
genres          [Drama, Music, Romance]
Name: 10556, dtype: object
title           Harry Potter and the Goblet of Fire
year                                           2005
vote_count                                     5758
vote_average                                      7
popularity                                  24.9031
genres                 [Adventure, Fantasy, Family]
Name: 10554, dtype: object
title                   The Descent
year                           2005
vote_count                     1029
vote_average                      6
popularity                  8.79404
genres          [Adventure, Horror]
Name: 10550, dtype: object
title           Pride & Prejudice
year                         2005
vote_count                   1406
vote_average                    7
popularity                14.4391
genres           [Drama, Romance]
Name: 10545, dtype: object
title                  Hard Candy
year                         2005
vote_count                    726
vote_average                    6
popularity                9.62025
genres          [Drama, Thriller]
Name: 10928, dtype: object
title                        Kiss Kiss Bang Bang
year                                        2005
vote_count                                   900
vote_average                                   7
popularity                               11.7605
genres          [Action, Comedy, Crime, Mystery]
Name: 10413, dtype: object
title                            King Kong
year                                  2005
vote_count                            2403
vote_average                             6
popularity                         19.7612
genres          [Adventure, Drama, Action]
Name: 10598, dtype: object
title                 The Exorcism of Emily Rose
year                                        2005
vote_count                                   675
vote_average                                   6
popularity                                10.966
genres          [Crime, Drama, Horror, Thriller]
Name: 10383, dtype: object
title                      Red Eye
year                          2005
vote_count                     471
vote_average                     6
popularity                 6.33693
genres          [Horror, Thriller]
Name: 10305, dtype: object
title                       In Her Shoes
year                                2005
vote_count                           446
vote_average                           6
popularity                       8.63229
genres          [Comedy, Drama, Romance]
Name: 10436, dtype: object
title           Brokeback Mountain
year                          2005
vote_count                    1531
vote_average                     7
popularity                  11.787
genres            [Drama, Romance]
Name: 10450, dtype: object
title           The Legend of Zorro
year                           2005
vote_count                      909
vote_average                      5
popularity                  8.94001
genres          [Action, Adventure]
Name: 10476, dtype: object
title                     The Curse of the Were-Rabbit
year                                              2005
vote_count                                         660
vote_average                                         6
popularity                                     11.7662
genres          [Adventure, Animation, Comedy, Family]
Name: 10411, dtype: object
title           American Pie Presents: Band Camp
year                                        2005
vote_count                                   553
vote_average                                   5
popularity                               8.67163
genres                                  [Comedy]
Name: 10491, dtype: object
title             Saw II
year                2005
vote_count          1288
vote_average           6
popularity       15.3999
genres          [Horror]
Name: 10480, dtype: object
title              A History of Violence
year                                2005
vote_count                           850
vote_average                           6
popularity                       11.1197
genres          [Drama, Thriller, Crime]
Name: 10387, dtype: object
title                Jarhead
year                    2005
vote_count               776
vote_average               6
popularity           9.99703
genres          [Drama, War]
Name: 10517, dtype: object
title           Green Street Hooligans
year                              2005
vote_count                         652
vote_average                         7
popularity                     7.77262
genres                  [Crime, Drama]
Name: 10386, dtype: object
title                                   Corpse Bride
year                                            2005
vote_count                                      1957
vote_average                                       7
popularity                                     12.92
genres          [Romance, Fantasy, Animation, Music]
Name: 10385, dtype: object
title                           Flightplan
year                                  2005
vote_count                             796
vote_average                             6
popularity                         12.4199
genres          [Thriller, Drama, Mystery]
Name: 10384, dtype: object
title                            Æon Flux
year                                 2005
vote_count                            717
vote_average                            5
popularity                        12.2019
genres          [Action, Science Fiction]
Name: 10371, dtype: object
title                    Domino
year                       2005
vote_count                  450
vote_average                  6
popularity              6.39414
genres          [Action, Crime]
Name: 10369, dtype: object
title                                  Doom
year                                   2005
vote_count                              619
vote_average                              5
popularity                          11.9536
genres          [Adventure, Action, Horror]
Name: 10368, dtype: object
title                                  Into the Blue
year                                            2005
vote_count                                       466
vote_average                                       5
popularity                                   10.0221
genres          [Action, Thriller, Adventure, Crime]
Name: 10398, dtype: object
title                     Just Like Heaven
year                                  2005
vote_count                             595
vote_average                             6
popularity                         8.35177
genres          [Comedy, Fantasy, Romance]
Name: 10334, dtype: object
title                        Chicken Little
year                                   2005
vote_count                              974
vote_average                              5
popularity                          18.5846
genres          [Animation, Family, Comedy]
Name: 10520, dtype: object
title                                       The Brothers Grimm
year                                                      2005
vote_count                                                 847
vote_average                                                 5
popularity                                             15.6615
genres          [Adventure, Fantasy, Action, Comedy, Thriller]
Name: 10322, dtype: object
title                            Bewitched
year                                  2005
vote_count                             463
vote_average                             4
popularity                         9.27609
genres          [Comedy, Fantasy, Romance]
Name: 10135, dtype: object
title                 Unleashed
year                       2005
vote_count                  531
vote_average                  6
popularity              7.90583
genres          [Action, Crime]
Name: 10061, dtype: object
title                             The Skeleton Key
year                                          2005
vote_count                                     588
vote_average                                     6
popularity                                  10.948
genres          [Drama, Horror, Mystery, Thriller]
Name: 10262, dtype: object
title                                                 Serenity
year                                                      2005
vote_count                                                1287
vote_average                                                 7
popularity                                               11.92
genres          [Science Fiction, Action, Adventure, Thriller]
Name: 10240, dtype: object
title                              Sky High
year                                   2005
vote_count                              568
vote_average                              5
popularity                          8.06142
genres          [Adventure, Comedy, Family]
Name: 10226, dtype: object
title                                               The Island
year                                                      2005
vote_count                                                1813
vote_average                                                 6
popularity                                             11.4436
genres          [Action, Thriller, Science Fiction, Adventure]
Name: 10221, dtype: object
title            Wedding Crashers
year                         2005
vote_count                   1406
vote_average                    6
popularity                11.1006
genres          [Comedy, Romance]
Name: 10196, dtype: object
title                                          Fantastic Four
year                                                     2005
vote_count                                               3040
vote_average                                                5
popularity                                            19.3821
genres          [Action, Adventure, Fantasy, Science Fiction]
Name: 10192, dtype: object
title                                War of the Worlds
year                                              2005
vote_count                                        2397
vote_average                                         6
popularity                                     19.9294
genres          [Adventure, Thriller, Science Fiction]
Name: 10177, dtype: object
title           Star Wars: Episode III - Revenge of the Sith
year                                                    2005
vote_count                                              4200
vote_average                                               7
popularity                                           13.1654
genres                  [Science Fiction, Adventure, Action]
Name: 10069, dtype: object
title           The Longest Yard
year                        2005
vote_count                   804
vote_average                   6
popularity               7.34984
genres           [Comedy, Drama]
Name: 10096, dtype: object
title                      Cinderella Man
year                                 2005
vote_count                            630
vote_average                            7
popularity                        6.36388
genres          [Romance, Drama, History]
Name: 10099, dtype: object
title                    Madagascar
year                           2005
vote_count                     3322
vote_average                      6
popularity                  16.1362
genres          [Family, Animation]
Name: 10089, dtype: object
title                    Batman Begins
year                              2005
vote_count                        7511
vote_average                         7
popularity                     28.5053
genres          [Action, Crime, Drama]
Name: 10122, dtype: object
title                                     Herbie Fully Loaded

title                              Big Fish
year                                   2003
vote_count                             2064
vote_average                              7
popularity                            14.74
genres          [Adventure, Fantasy, Drama]
Name: 6994, dtype: object
title                      Love Actually
year                                2003
vote_count                          1917
vote_average                           7
popularity                       10.5868
genres          [Comedy, Romance, Drama]
Name: 6791, dtype: object
title                        Bad Santa
year                              2003
vote_count                         666
vote_average                         6
popularity                     10.9301
genres          [Drama, Comedy, Crime]
Name: 6805, dtype: object
title                      Gothika
year                          2003
vote_count                     643
vote_average                     5
popularity                 10.9391
genres          [Horror, Thriller]
Name: 6801, dtype: object
title                                 Elf
year                                 2003
vote_count                           1007
vote_average                            6
popularity                        8.75413
genres          [Comedy, Family, Fantasy]
Name: 6785, dtype: object
title                           21 Grams
year                                2003
vote_count                           943
vote_average                           7
popularity                       6.37228
genres          [Drama, Crime, Thriller]
Name: 6802, dtype: object
title           Master and Commander: The Far Side of the World
year                                                       2003
vote_count                                                  808
vote_average                                                  6
popularity                                               8.6933
genres                                              [Adventure]
Name: 6796, dtype: object
title                             Brother Bear
year                                      2003
vote_count                                1410
vote_average                                 6
popularity                             12.3009
genres          [Adventure, Animation, Family]
Name: 6740, dtype: object
title                                    The Haunted Mansion
year                                                    2003
vote_count                                               481
vote_average                                               5
popularity                                           11.6057
genres          [Thriller, Fantasy, Comedy, Family, Mystery]
Name: 6806, dtype: object
title                      Identity
year                           2003
vote_count                     1090
vote_average                      7
popularity                  17.9559
genres          [Mystery, Thriller]
Name: 6185, dtype: object
title                                                       X2
year                                                      2003
vote_count                                                3572
vote_average                                                 6
popularity                                            0.913096
genres          [Adventure, Action, Science Fiction, Thriller]
Name: 6195, dtype: object
title             The Life of David Gale
year                                2003
vote_count                           497
vote_average                           7
popularity                       9.93033
genres          [Drama, Thriller, Crime]
Name: 6049, dtype: object
title           Anger Management
year                        2003
vote_count                   937
vote_average                   5
popularity               9.40938
genres                  [Comedy]
Name: 6149, dtype: object
title            American Wedding
year                         2003
vote_count                   1158
vote_average                    6
popularity                14.3971
genres          [Comedy, Romance]
Name: 6437, dtype: object
title           Lost in Translation
year                           2003
vote_count                     1943
vote_average                      7
popularity                  11.6094
genres                      [Drama]
Name: 6562, dtype: object
title           Charlie's Angels: Full Throttle
year                                       2003
vote_count                                  930
vote_average                                  5
popularity                              7.82112
genres              [Action, Adventure, Comedy]
Name: 6354, dtype: object
title                             Matchstick Men
year                                        2003
vote_count                                   515
vote_average                                   6
popularity                               5.53927
genres          [Comedy, Drama, Crime, Thriller]
Name: 6559, dtype: object
title           Freddy vs. Jason
year                        2003
vote_count                   608
vote_average                   5
popularity               14.0157
genres                  [Horror]
Name: 6466, dtype: object
title                            S.W.A.T.
year                                 2003
vote_count                            780
vote_average                            5
popularity                         13.335
genres          [Action, Thriller, Crime]
Name: 6446, dtype: object
title           Freaky Friday
year                     2003
vote_count                919
vote_average                6
popularity              7.868
genres               [Comedy]
Name: 6444, dtype: object
title                                     Spy Kids 3-D: Game Over
year                                                         2003
vote_count                                                    525
vote_average                                                    4
popularity                                                8.02515
genres          [Action, Adventure, Comedy, Family, Science Fi...
Name: 6417, dtype: object
title                               Duplex
year                                  2003
vote_count                             500
vote_average                             5
popularity                         12.1604
genres          [Action, Comedy, Thriller]
Name: 6614, dtype: object
title           Lara Croft Tomb Raider: The Cradle of Life
year                                                  2003
vote_count                                            1443
vote_average                                             5
popularity                                         13.0763
genres              [Action, Adventure, Fantasy, Thriller]
Name: 6415, dtype: object
title           Once Upon a Time in Mexico
year                                  2003
vote_count                             605
vote_average                             6
popularity                         8.84336
genres                            [Action]
Name: 6560, dtype: object
title                        Johnny English
year                                   2003
vote_count                              875
vote_average                              6
popularity                          8.73999
genres          [Adventure, Action, Comedy]
Name: 6401, dtype: object
title           Pirates of the Caribbean: The Curse of the Bla...
year                                                         2003
vote_count                                                   7191
vote_average                                                    7
popularity                                                47.3267
genres                               [Adventure, Fantasy, Action]
Name: 6390, dtype: object
title                   Wrong Turn
year                          2003
vote_count                     652
vote_average                     6
popularity                 14.0797
genres          [Horror, Thriller]
Name: 6234, dtype: object
title                                            Bad Boys II
year                                                    2003
vote_count                                              1588
vote_average                                               6
popularity                                           8.19144
genres          [Adventure, Action, Comedy, Thriller, Crime]
Name: 6399, dtype: object
title                            Underworld
year                                   2003
vote_count                             2556
vote_average                              6
popularity                          20.6243
genres          [Fantasy, Action, Thriller]
Name: 6605, dtype: object
title            Terminator 3: Rise of the Machines
year                                           2003
vote_count                                     2177
vote_average                                      5
popularity                                  20.8189
genres          [Action, Thriller, Science Fiction]
Name: 6388, dtype: object
title                                     The Rundown
year                                             2003
vote_count                                        523
vote_average                                        6
popularity                                    8.30484
genres          [Adventure, Action, Comedy, Thriller]
Name: 6615, dtype: object
title                  The Recruit
year                          2003
vote_count                     545
vote_average                     6
popularity                 11.4855
genres          [Action, Thriller]
Name: 5921, dtype: object
title                                                 The Core
year                                                      2003
vote_count                                                 531
vote_average                                                 5
popularity                                             11.6649
genres          [Action, Thriller, Adventure, Science Fiction]
Name: 6126, dtype: object
title            School of Rock
year                       2003
vote_count                 1454
vote_average                  6
popularity              17.9514
genres          [Comedy, Music]
Name: 6714, dtype: object
title           Old School
year                  2003
vote_count             552
vote_average             6
popularity         16.1959
genres            [Comedy]
Name: 6050, dtype: object
title                                                   Daredevil
year                                                         2003
vote_count                                                   1551
vote_average                                                    5
popularity                                                11.4156
genres          [Fantasy, Action, Crime, Science Fiction, Thri...
Name: 6019, dtype: object
title                               Shanghai Knights
year                                            2003
vote_count                                       707
vote_average                                       6
popularity                                   7.46978
genres          [Action, Adventure, Comedy, Western]
Name: 6018, dtype: object
title           How to Lose a Guy in 10 Days
year                                    2003
vote_count                               873
vote_average                               6
popularity                           5.18811
genres                     [Comedy, Romance]
Name: 6017, dtype: object
title               Tears of the Sun
year                            2003
vote_count                       582
vote_average                       6
popularity                    10.615
genres          [Action, Drama, War]
Name: 6075, dtype: object
title           Final Destination 2
year                           2003
vote_count                     1046
vote_average                      5
popularity                  12.6386
genres            [Horror, Mystery]
Name: 5920, dtype: object
title                    2 Fast 2 Furious
year                                 2003
vote_count                           2087
vote_average                            6
popularity                        2.32462
genres          [Action, Crime, Thriller]
Name: 6238, dtype: object
title             Daddy Day Care
year                        2003
vote_count                   526
vote_average                   5
popularity               6.50493
genres          [Comedy, Family]
Name: 6200, dtype: object
title                                Mystic River
year                                         2003
vote_count                                   1473
vote_average                                    7
popularity                                12.6024
genres          [Thriller, Crime, Drama, Mystery]
Name: 6721, dtype: object
title                                       Hulk
year                                        2003
vote_count                                  1571
vote_average                                   5
popularity                               15.4226
genres          [Drama, Action, Science Fiction]
Name: 6385, dtype: object
title                                         Dreamcatcher
year                                                  2003
vote_count                                             574
vote_average                                             5
popularity                                         7.69485
genres          [Drama, Horror, Science Fiction, Thriller]
Name: 6112, dtype: object
title                          The Bourne Identity
year                                          2002
vote_count                                    3640
vote_average                                     7
popularity                                 21.0401
genres          [Action, Drama, Mystery, Thriller]
Name: 5284, dtype: object
title                                   Equilibrium
year                                           2002
vote_count                                     1584
vote_average                                      6
popularity                                  12.6716
genres          [Action, Science Fiction, Thriller]
Name: 5765, dtype: object
title           The Lord of the Rings: The Two Towers
year                                             2002
vote_count                                       7641
vote_average                                        8
popularity                                    29.4235
genres                   [Adventure, Fantasy, Action]
Name: 5814, dtype: object
title                                             Treasure Planet
year                                                         2002
vote_count                                                    980
vote_average                                                    7
popularity                                                16.1419
genres          [Adventure, Animation, Family, Fantasy, Scienc...
Name: 5744, dtype: object
title                             Scooby-Doo
year                                    2002
vote_count                               853
vote_average                               5
popularity                           8.59283
genres          [Mystery, Adventure, Comedy]
Name: 5285, dtype: object
title                          Spirit: Stallion of the Cimarron
year                                                       2002
vote_count                                                  870
vote_average                                                  7
popularity                                              16.7248
genres          [Western, Animation, Adventure, Comedy, Family]
Name: 5255, dtype: object
title                The Sum of All Fears
year                                 2002
vote_count                            447
vote_average                            5
popularity                        9.26814
genres          [Thriller, Action, Drama]
Name: 5266, dtype: object
title                             Insomnia
year                                  2002
vote_count                            1181
vote_average                             6
popularity                          11.425
genres          [Crime, Mystery, Thriller]
Name: 5254, dtype: object
title                      Adaptation.
year                              2002
vote_count                         649
vote_average                         7
popularity                     11.6245
genres          [Comedy, Crime, Drama]
Name: 5764, dtype: object
title                        About a Boy
year                                2002
vote_count                           627
vote_average                           6
popularity                       10.9567
genres          [Drama, Comedy, Romance]
Name: 5243, dtype: object
title                  Spider-Man
year                         2002
vote_count                   5398
vote_average                    6
popularity                29.4133
genres          [Fantasy, Action]
Name: 5215, dtype: object
title                                 28 Days Later
year                                           2002
vote_count                                     1816
vote_average                                      7
popularity                                   17.657
genres          [Horror, Thriller, Science Fiction]
Name: 6353, dtype: object
title                      The Scorpion King
year                                    2002
vote_count                               802
vote_average                               5
popularity                           9.48812
genres          [Action, Fantasy, Adventure]
Name: 5179, dtype: object
title           The Hours
year                 2002
vote_count            461
vote_average            7
popularity        14.6865
genres            [Drama]
Name: 5854, dtype: object
title              City of God
year                      2002
vote_count                1852
vote_average                 8
popularity             14.9593
genres          [Drama, Crime]
Name: 5878, dtype: object
title                  Maid in Manhattan
year                                2002
vote_count                           493
vote_average                           5
popularity                       7.29194
genres          [Comedy, Drama, Romance]
Name: 5805, dtype: object
title            Asterix & Obelix: Mission Cleopatra
year                                            2002
vote_count                                       782
vote_average                                       7
popularity                                   11.1174
genres          [Family, Fantasy, Comedy, Adventure]
Name: 9260, dtype: object
title                 Phone Booth
year                         2002
vote_count                   1087
vote_average                    6
popularity                9.14277
genres          [Thriller, Drama]
Name: 6143, dtype: object
title               Bend It Like Beckham
year                                2002
vote_count                           593
vote_average                           6
popularity                       6.26268
genres          [Comedy, Drama, Romance]
Name: 6080, dtype: object
title                                Irreversible
year                                         2002
vote_count                                    550
vote_average                                    7
popularity                                16.7638
genres          [Drama, Thriller, Crime, Mystery]
Name: 6076, dtype: object
title                                    Infernal Affairs
year                                                 2002
vote_count                                            490
vote_average                                            7
popularity                                        10.3631
genres          [Drama, Action, Thriller, Crime, Mystery]
Name: 7551, dtype: object
title            The Pianist
year                    2002
vote_count              1927
vote_average               8
popularity           14.8116
genres          [Drama, War]

title                    Scream 3
year                         2000
vote_count                    749
vote_average                    5
popularity                9.73837
genres          [Horror, Mystery]
Name: 3155, dtype: object
title                                    Hollow Man
year                                           2000
vote_count                                      645
vote_average                                      5
popularity                                   7.9121
genres          [Action, Science Fiction, Thriller]
Name: 3703, dtype: object
title                                      The Cell
year                                           2000
vote_count                                      442
vote_average                                      6
popularity                                  13.2349
genres          [Horror, Science Fiction, Thriller]
Name: 3739, dtype: object
title           Bring It On
year                   2000
vote_count              574
vote_average              5
popularity          6.40289
genres             [Comedy]
Name: 3758, dtype: object
title            Almost Famous
year                      2000
vote_count                 807
vote_average                 7
popularity              9.0867
genres          [Drama, Music]
Name: 3773, dtype: object
title           Remember the Titans
year                           2000
vote_count                      835
vote_average                      7
popularity                  6.58773
genres                      [Drama]
Name: 3792, dtype: object
title            Meet the Parents
year                         2000
vote_count                   1743
vote_average                    6
popularity                14.1783
genres          [Comedy, Romance]
Name: 3823, dtype: object
title           Requiem for a Dream
year                           2000
vote_count                     2525
vote_average                      7
popularity                  6.87483
genres               [Crime, Drama]
Name: 3824, dtype: object
title                     Billy Elliot
year                              2000
vote_count                         774
vote_average                         7
popularity                     12.1584
genres          [Drama, Comedy, Music]
Name: 3842, dtype: object
title                            Bedazzled
year                                  2000
vote_count                             526
vote_average                             5
popularity                         8.78159
genres          [Fantasy, Comedy, Romance]
Name: 3843, dtype: object
title                Crouching Tiger, Hidden Dragon
year                                           2000
vote_count                                      949
vote_average                                      7
popularity                                   19.945
genres          [Adventure, Drama, Action, Romance]
Name: 3871, dtype: object
title                         Little Nicky
year                                  2000
vote_count                             447
vote_average                             5
popularity                         6.10979
genres          [Comedy, Fantasy, Romance]
Name: 3854, dtype: object
title             Pay It Forward
year                        2000
vote_count                   447
vote_average                   7
popularity               10.4797
genres          [Drama, Romance]
Name: 3844, dtype: object
title                 The 6th Day
year                         2000
vote_count                    603
vote_average                    5
popularity                8.41311
genres          [Science Fiction]
Name: 3861, dtype: object
title                                  The Emperor's New Groove
year                                                       2000
vote_count                                                 1544
vote_average                                                  7
popularity                                              12.2974
genres          [Adventure, Animation, Comedy, Family, Fantasy]
Name: 3891, dtype: object
title           How the Grinch Stole Christmas
year                                      2000
vote_count                                1440
vote_average                                 6
popularity                             11.6425
genres               [Family, Comedy, Fantasy]
Name: 3863, dtype: object
title           Scary Movie
year                   2000
vote_count             1468
vote_average              6
popularity          12.4467
genres             [Comedy]
Name: 3663, dtype: object
title                               Coyote Ugly
year                                       2000
vote_count                                  590
vote_average                                  5
popularity                              15.6508
genres          [Comedy, Drama, Music, Romance]
Name: 3702, dtype: object
title             What Women Want
year                         2000
vote_count                   1021
vote_average                    6
popularity                9.96308
genres          [Comedy, Romance]
Name: 3893, dtype: object
title                                          X-Men
year                                            2000
vote_count                                      4172
vote_average                                       6
popularity                                  0.954467
genres          [Adventure, Action, Science Fiction]
Name: 3671, dtype: object
title           Dude, Where’s My Car?
year                             2000
vote_count                        523
vote_average                        5
popularity                    10.8902
genres                       [Comedy]
Name: 3890, dtype: object
title                           Chocolat
year                                2000
vote_count                           979
vote_average                           6
popularity                        8.9256
genres          [Comedy, Drama, Romance]
Name: 3889, dtype: object
title                      Snatch
year                         2000
vote_count                   2953
vote_average                    7
popularity                 14.014
genres          [Thriller, Crime]
Name: 3886, dtype: object
title                            What Lies Beneath
year                                          2000
vote_count                                     504
vote_average                                     6
popularity                                  9.5005
genres          [Drama, Horror, Mystery, Thriller]
Name: 3676, dtype: object
title                                  Unbreakable
year                                          2000
vote_count                                    1994
vote_average                                     6
popularity                                 14.6785
genres          [Science Fiction, Thriller, Drama]
Name: 3869, dtype: object
title                                  End of Days
year                                          1999
vote_count                                     488
vote_average                                     5
popularity                                 9.62371
genres          [Action, Fantasy, Horror, Mystery]
Name: 2996, dtype: object
title              Analyze This
year                       1999
vote_count                  512
vote_average                  6
popularity              7.63402
genres          [Comedy, Crime]
Name: 2426, dtype: object
title                           Toy Story 2
year                                   1999
vote_count                             3914
vote_average                              7
popularity                          17.5477
genres          [Animation, Comedy, Family]
Name: 2997, dtype: object
title                    The Green Mile
year                               1999
vote_count                         4166
vote_average                          8
popularity                      19.9668
genres          [Fantasy, Drama, Crime]
Name: 3030, dtype: object
title           Girl, Interrupted
year                         1999
vote_count                    747
vote_average                    7
popularity                8.28506
genres                    [Drama]
Name: 3069, dtype: object
title           South Park: Bigger, Longer & Uncut
year                                          1999
vote_count                                     916
vote_average                                     7
popularity                                 11.8181
genres                  [Animation, Comedy, Music]
Name: 2585, dtype: object
title             Eyes Wide Shut
year                        1999
vote_count                  1266
vote_average                   7
popularity               13.2685
genres          [Mystery, Drama]
Name: 2597, dtype: object
title                                  Stuart Little
year                                            1999
vote_count                                       998
vote_average                                       5
popularity                                    8.3595
genres          [Animation, Fantasy, Family, Comedy]
Name: 3040, dtype: object
title                                          Tarzan
year                                             1999
vote_count                                       1715
vote_average                                        7
popularity                                    12.4535
genres          [Adventure, Animation, Drama, Family]
Name: 2572, dtype: object
title              Office Space
year                       1999
vote_count                 1068
vote_average                  7
popularity              12.3291
genres          [Comedy, Crime]
Name: 2389, dtype: object
title                    Bicentennial Man
year                                 1999
vote_count                            998
vote_average                            6
popularity                        9.36992
genres          [Comedy, Science Fiction]
Name: 3039, dtype: object
title                                    Payback
year                                        1999
vote_count                                   557
vote_average                                   6
popularity                               9.11201
genres          [Drama, Action, Thriller, Crime]
Name: 2377, dtype: object
title                       Notting Hill
year                                1999
vote_count                          1309
vote_average                           7
popularity                       9.87404
genres          [Romance, Comedy, Drama]
Name: 2556, dtype: object
title                     Cruel Intentions
year                                  1999
vote_count                             848
vote_average                             6
popularity                         8.18107
genres          [Drama, Romance, Thriller]
Name: 2428, dtype: object
title                                  8MM
year                                  1999
vote_count                             479
vote_average                             6
popularity                         7.47372
genres          [Thriller, Crime, Mystery]
Name: 2392, dtype: object
title                          The Matrix
year                                 1999
vote_count                           9079
vote_average                            7
popularity                        33.3663
genres          [Action, Science Fiction]
Name: 2458, dtype: object
title           10 Things I Hate About You
year                                  1999
vote_count                            1768
vote_average                             7
popularity                           12.07
genres            [Comedy, Romance, Drama]
Name: 2459, dtype: object
title           Star Wars: Episode I - The Phantom Menace
year                                                 1999
vote_count                                           4526
vote_average                                            6
popularity                                        15.6491
genres               [Adventure, Action, Science Fiction]
Name: 2514, dtype: object
title                                              eXistenZ
year                                                   1999
vote_count                                              487
vote_average                                              6
popularity                                          11.4461
genres          [Action, Thriller, Science Fiction, Horror]
Name: 2486, dtype: object
title                              The Mummy
year                                    1999
vote_count                              2796
vote_average                               6
popularity                           23.9841
genres          [Adventure, Action, Fantasy]
Name: 2503, dtype: object
title                 Austin Powers: The Spy Who Shagged Me
year                                                   1999
vote_count                                             1034
vote_average                                              6
popularity                                          13.9842
genres          [Adventure, Comedy, Crime, Science Fiction]
Name: 2568, dtype: object
title                                 Sleepy Hollow
year                                           1999
vote_count                                     1774
vote_average                                      6
popularity                                  11.0724
genres          [Drama, Fantasy, Thriller, Mystery]
Name: 2964, dtype: object
title                 The World Is Not Enough
year                                     1999
vote_count                                878
vote_average                                6
popularity                            12.1301
genres          [Adventure, Action, Thriller]
Name: 2965, dtype: object
title                          Entrapment
year                                 1999
vote_count                            613
vote_average                            6
popularity                        10.6233
genres          [Romance, Drama, Mystery]
Name: 2491, dtype: object
title                                  Dogma
year                                    1999
vote_count                               842
vote_average                               6
popularity                           8.55909
genres          [Fantasy, Comedy, Adventure]
Name: 2935, dtype: object
title                      The Sixth Sense
year                                  1999
vote_count                            3223
vote_average                             7
popularity                         18.4492
genres          [Mystery, Thriller, Drama]
Name: 2647, dtype: object
title                 The Insider
year                         1999
vote_count                    489
vote_average                    7
popularity                11.3569
genres          [Drama, Thriller]
Name: 2890, dtype: object
title           Fight Club
year                  1999
vote_count            9678
vote_average             8
popularity         63.8696
genres             [Drama]
Name: 2843, dtype: object
title                                              Wild Wild West
year                                                         1999
vote_count                                                   1042
vote_average                                                    5
popularity                                                 9.8876
genres          [Action, Adventure, Comedy, Science Fiction, W...
Name: 2586, dtype: object
title                                Galaxy Quest
year                                         1999
vote_count                                    722
vote_average                                    6
popularity                                15.8314
genres          [Comedy, Family, Science Fiction]
Name: 3058, dtype: object
title                American Pie
year                         1999
vote_count                   2358
vote_average                    6
popularity                18.3442
genres          [Comedy, Romance]
Name: 2591, dtype: object
title           The Blair Witch Project
year                               1999
vote_count                         1090
vote_average                          6
popularity                      14.8384
genres                [Horror, Mystery]
Name: 2595, dtype: object
title                                 Deep Blue Sea
year                                           1999
vote_count                                      616
vote_average                                      5
popularity                                  7.49361
genres          [Action, Science Fiction, Thriller]
Name: 2607, dtype: object
title               Runaway Bride
year                         1999
vote_count                    472
vote_average                    5
popularity                8.91947
genres          [Comedy, Romance]
Name: 2609, dtype: object
title           The Virgin Suicides
year                           1999
vote_count                      841
vote_average                      7
popularity                  10.5054
genres             [Drama, Romance]
Name: 3434, dtype: object
title                                              The Iron Giant
year                                                         1999
vote_count                                                   1470
vote_average                                                    7
popularity                                                15.4415
genres          [Adventure, Animation, Family, Fantasy, Scienc...
Name: 2646, dtype: object
title           Magnolia
year                1999
vote_count           844
vote_average           7
popularity       9.09164
genres           [Drama]
Name: 3043, dtype: object
title                       The 13th Warrior
year                                    1999
vote_count                               524
vote_average                               6
popularity                            10.308
genres          [Adventure, Fantasy, Action]
Name: 2711, dtype: object
title                        The Ninth Gate
year                                   1999
vote_count                              768
vote_average                              6
popularity                          11.3163
genres          [Horror, Mystery, Thriller]
Name: 3237, dtype: object
title           American Beauty
year                       1999
vote_count                 3438
vote_average                  7
popularity              20.7266
genres                  [Drama]
Name: 2742, dtype: object
title                 The Boondock Saints
year                                 1999
vote_count                            848
vote_average                            7
popularity                        12.4579
genres          [Action, Thriller, Crime]
Name: 3157, dtype: object
title                          The Bone Collector
year                                         1999
vote_count                                    843
vote_average                                    6
popularity                                8.88441
genres          [Drama, Mystery, Thriller, Crime]
Name: 2889, dtype: object
title                 Big Daddy
year                       1999
vote_count                  898
vote_average                  6
popularity              8.01187
genres          [Comedy, Drama]
Name: 2579, dtype: object
title                    Man on the Moon
year                                1999
vote_count                           444
vote_average                           6
popularity                       13.2174
genres          [Comedy, Drama, Romance]
Name: 3057, dtype: object
title            The Talented Mr. Ripley
year                                1999
vote_count                           790
vote_average                           7
popularity                        11.655
genres          [Thriller, Crime, Drama]
Name: 3059, dtype: object
title               Being John Malkovich
year                                1999
vote_count                          1124

title                                       Eraser
year                                          1996
vote_count                                     553
vote_average                                     5
popularity                                 6.91931
genres          [Action, Drama, Mystery, Thriller]
Name: 766, dtype: object
title                                   The Nutty Professor
year                                                   1996
vote_count                                              717
vote_average                                              5
popularity                                          9.65158
genres          [Fantasy, Comedy, Romance, Science Fiction]
Name: 768, dtype: object
title                           Sleepers
year                                1996
vote_count                           729
vote_average                           7
popularity                       9.19828
genres          [Crime, Drama, Thriller]
Name: 1031, dtype: object
title                     A Time to Kill
year                                1996
vote_count                           522
vote_average                           7
popularity                        13.309
genres          [Crime, Drama, Thriller]
Name: 784, dtype: object
title                      Jerry Maguire
year                                1996
vote_count                           941
vote_average                           6
popularity                       11.8076
genres          [Comedy, Drama, Romance]
Name: 1344, dtype: object
title                                Mars Attacks!
year                                          1996
vote_count                                    1544
vote_average                                     6
popularity                                 15.6342
genres          [Comedy, Fantasy, Science Fiction]
Name: 1342, dtype: object
title           The Hunchback of Notre Dame
year                                   1996
vote_count                             1182
vote_average                              6
popularity                           13.554
genres           [Drama, Animation, Family]
Name: 763, dtype: object
title                             Scream
year                                1996
vote_count                          1520
vote_average                           7
popularity                       13.3264
genres          [Crime, Horror, Mystery]
Name: 1356, dtype: object
title           DragonHeart
year                   1996
vote_count              553
vote_average              6
popularity          23.6366
genres            [Fantasy]
Name: 643, dtype: object
title                         From Dusk Till Dawn
year                                         1996
vote_count                                   1644
vote_average                                    6
popularity                                15.3392
genres          [Horror, Action, Thriller, Crime]
Name: 69, dtype: object
title             The English Patient
year                             1996
vote_count                        559
vote_average                        7
popularity                    15.5642
genres          [Drama, Romance, War]
Name: 1142, dtype: object
title                                   Broken Arrow
year                                            1996
vote_count                                       459
vote_average                                       5
popularity                                   14.9576
genres          [Action, Adventure, Drama, Thriller]
Name: 93, dtype: object
title           Happy Gilmore
year                     1996
vote_count                767
vote_average                6
popularity            9.59226
genres               [Comedy]
Name: 102, dtype: object
title                              Fargo
year                                1996
vote_count                          2080
vote_average                           7
popularity                       12.6147
genres          [Crime, Drama, Thriller]
Name: 600, dtype: object
title                               Independence Day
year                                            1996
vote_count                                      3334
vote_average                                       6
popularity                                   17.6342
genres          [Action, Adventure, Science Fiction]
Name: 760, dtype: object
title                                 Primal Fear
year                                         1996
vote_count                                    644
vote_average                                    7
popularity                                10.3262
genres          [Crime, Drama, Mystery, Thriller]
Name: 619, dtype: object
title                                             Space Jam
year                                                   1996
vote_count                                             1335
vote_average                                              6
popularity                                          11.0543
genres          [Animation, Comedy, Drama, Family, Fantasy]
Name: 662, dtype: object
title                                The Rock
year                                     1996
vote_count                               1474
vote_average                                6
popularity                            13.2498
genres          [Action, Adventure, Thriller]
Name: 716, dtype: object
title                              Twister
year                                  1996
vote_count                             966
vote_average                             6
popularity                         8.73914
genres          [Action, Adventure, Drama]
Name: 719, dtype: object
title            Trainspotting
year                      1996
vote_count                2737
vote_average                 7
popularity             19.3485
genres          [Drama, Crime]
Name: 758, dtype: object
title                     Mission: Impossible
year                                     1996
vote_count                               2677
vote_average                                6
popularity                            15.7935
genres          [Adventure, Action, Thriller]
Name: 638, dtype: object
title           Apollo 13
year                 1995
vote_count           1637
vote_average            7
popularity        18.7615
genres            [Drama]
Name: 147, dtype: object
title             Before Sunrise
year                        1995
vote_count                   984
vote_average                   7
popularity                11.305
genres          [Drama, Romance]
Name: 212, dtype: object
title                                Jumanji
year                                    1995
vote_count                              2413
vote_average                               6
popularity                           17.0155
genres          [Adventure, Fantasy, Family]
Name: 1, dtype: object
title                    Waterworld
year                           1995
vote_count                     1017
vote_average                      5
popularity                  16.8852
genres          [Adventure, Action]
Name: 205, dtype: object
title                              Braveheart
year                                     1995
vote_count                               3404
vote_average                                7
popularity                            20.7551
genres          [Action, Drama, History, War]
Name: 108, dtype: object
title                                    Bad Boys
year                                         1995
vote_count                                   1729
vote_average                                    6
popularity                                9.26218
genres          [Action, Comedy, Crime, Thriller]
Name: 142, dtype: object
title                                     Species
year                                         1995
vote_count                                    457
vote_average                                    5
popularity                                13.4928
genres          [Science Fiction, Horror, Action]
Name: 193, dtype: object
title                             Toy Story
year                                   1995
vote_count                             5415
vote_average                              7
popularity                          21.9469
genres          [Animation, Comedy, Family]
Name: 0, dtype: object
title                     Batman Forever
year                                1995
vote_count                          1529
vote_average                           5
popularity                       13.3214
genres          [Action, Crime, Fantasy]
Name: 150, dtype: object
title                              Casper
year                                 1995
vote_count                           1045
vote_average                            6
popularity                        12.8125
genres          [Fantasy, Comedy, Family]
Name: 155, dtype: object
title                        Crimson Tide
year                                 1995
vote_count                            508
vote_average                            7
popularity                        8.65736
genres          [Action, Thriller, Drama]
Name: 158, dtype: object
title                           Desperado
year                                 1995
vote_count                            898
vote_average                            6
popularity                        6.95046
genres          [Thriller, Action, Crime]
Name: 160, dtype: object
title           The Basketball Diaries
year                              1995
vote_count                         472
vote_average                         7
popularity                     7.41514
genres                  [Drama, Crime]
Name: 144, dtype: object
title           Dilwale Dulhania Le Jayenge
year                                   1995
vote_count                              661
vote_average                              9
popularity                           34.457
genres             [Comedy, Drama, Romance]
Name: 10309, dtype: object
title           Die Hard: With a Vengeance
year                                  1995
vote_count                            2094
vote_average                             6
popularity                         15.1389
genres                  [Action, Thriller]
Name: 162, dtype: object
title           La Haine
year                1995
vote_count           695
vote_average           7
popularity       12.1082
genres           [Drama]
Name: 95, dtype: object
title           Billy Madison
year                     1995
vote_count                464
vote_average                6
popularity            6.63812
genres               [Comedy]
Name: 213, dtype: object
title             Friday
year                1995
vote_count           513
vote_average           7
popularity       14.5696
genres          [Comedy]
Name: 68, dtype: object
title                Four Rooms
year                       1995
vote_count                  539
vote_average                  6
popularity              9.02659
genres          [Crime, Comedy]
Name: 17, dtype: object
title                                      Pocahontas
year                                             1995
vote_count                                       1509
vote_average                                        6
popularity                                    13.2801
genres          [Adventure, Animation, Drama, Family]
Name: 47, dtype: object
title                 Judge Dredd
year                         1995
vote_count                    643
vote_average                    5
popularity                8.18481
genres          [Science Fiction]
Name: 170, dtype: object
title                                       Heat
year                                        1995
vote_count                                  1886
vote_average                                   7
popularity                               17.9249
genres          [Action, Crime, Drama, Thriller]
Name: 5, dtype: object
title                               GoldenEye
year                                     1995
vote_count                               1194
vote_average                                6
popularity                             14.686
genres          [Adventure, Action, Thriller]
Name: 9, dtype: object
title                             Ghost in the Shell
year                                            1995
vote_count                                       854
vote_average                                       7
popularity                                   10.6862
genres          [Action, Animation, Science Fiction]
Name: 723, dtype: object
title                   Casino
year                      1995
vote_count                1343
vote_average                 7
popularity             10.1374
genres          [Drama, Crime]
Name: 15, dtype: object
title                 The Usual Suspects
year                                1995
vote_count                          3334
vote_average                           8
popularity                       16.3025
genres          [Drama, Crime, Thriller]
Name: 49, dtype: object
title           Ace Ventura: When Nature Calls
year                                      1995
vote_count                                1128
vote_average                                 6
popularity                             8.20545
genres              [Crime, Comedy, Adventure]
Name: 18, dtype: object
title                                       Babe
year                                        1995
vote_count                                   756
vote_average                                   6
popularity                               14.4048
genres          [Fantasy, Drama, Comedy, Family]
Name: 33, dtype: object
title                           Clueless
year                                1995
vote_count                           828
vote_average                           6
popularity                       9.88238
genres          [Comedy, Drama, Romance]
Name: 38, dtype: object
title                                             Outbreak
year                                                  1995
vote_count                                             522
vote_average                                             6
popularity                                         13.6764
genres          [Action, Drama, Science Fiction, Thriller]
Name: 288, dtype: object
title               Mortal Kombat
year                         1995
vote_count                    452
vote_average                    5
popularity                10.8701
genres          [Action, Fantasy]
Name: 43, dtype: object
title                                 Twelve Monkeys
year                                            1995
vote_count                                      2470
vote_average                                       7
popularity                                   12.2973
genres          [Science Fiction, Thriller, Mystery]
Name: 31, dtype: object
title                                Se7en
year                                  1995
vote_count                            5915
vote_average                             8
popularity                         18.4574
genres          [Crime, Mystery, Thriller]
Name: 46, dtype: object
title               Natural Born Killers
year                                1994
vote_count                           927
vote_average                           6
popularity                       11.2269
genres          [Crime, Thriller, Drama]
Name: 284, dtype: object
title                    True Lies
year                          1994
vote_count                    1138
vote_average                     6
popularity                 11.3961
genres          [Action, Thriller]
Name: 375, dtype: object
title             Beverly Hills Cop III
year                               1994
vote_count                          445
vote_average                          5
popularity                      11.7878
genres          [Action, Comedy, Crime]
Name: 415, dtype: object
title                               The Return of Jafar
year                                               1994
vote_count                                          447
vote_average                                          5
popularity                                      12.0998
genres          [Family, Adventure, Animation, Romance]
Name: 1983, dtype: object
title                                       Stargate
year                                            1994
vote_count                                       942
vote_average                                       6
popularity                                   13.3289
genres          [Action, Adventure, Science Fiction]
Name: 312, dtype: object
title                            Ed Wood
year                                1994
vote_count                           639
vote_average                           7
popularity                       11.7204
genres          [Comedy, Drama, History]
Name: 231, dtype: object
title                        Legends of the Fall
year                                        1994
vote_count                                   636
vote_average                                   7
popularity                                12.199
genres          [Adventure, Drama, Romance, War]
Name: 262, dtype: object
title           Interview with the Vampire
year                                  1994
vote_count                            1558
vote_average                             7
popularity                         11.9702
genres                   [Horror, Romance]
Name: 249, dtype: object
title           Dumb and Dumber
year                       1994
vote_count                 1894
vote_average                  6
popularity              9.84456
genres                 [Comedy]
Name: 227, dtype: object
title             Clerks
year                1994
vote_count           769
vote_average           7
popularity       10.5134
genres          [Comedy]
Name: 219, dtype: object
title           The Naked Gun 33⅓: The Final Insult
year                                           1994
vote_count                                      535
vote_average                                      6
popularity                                  10.5872
genres                              [Comedy, Crime]
Name: 365, dtype: object
title                                Speed
year                                  1994
vote_count                            1814
vote_average                             6
popularity                         10.8593
genres          [Action, Adventure, Crime]
Name: 372, dtype: object
title             Leon: The Professional
year                                1994
vote_count                          4293
vote_average                           8
popularity                       20.4773
genres          [Thriller, Crime, Drama]
Name: 289, dtype: object
title                                              Maverick
year                                                   1994
vote_count                                              490
vote_average                                              6
popularity                                          15.0503
genres          [Action, Adventure, Comedy, Drama, Western]
Name: 363, dtype: object
title                                   Star Trek: Generations
year                                                      1994
vote_count                                                 461
vote_average                                                 6
popularity                                             8.10571
genres          [Science Fiction, Action, Adventure, Thriller]
Name: 324, dtype: object
title                        The Lion King
year                                  1994
vote_count                            5520
vote_average                             8
popularity                         21.6058
genres          [Family, Animation, Drama]
Name: 359, dtype: object
title                                    The Mask
year                                         1994

title           A Fish Called Wanda
year                           1988
vote_count                      576
vote_average                      7
popularity                  11.4004
genres              [Comedy, Crime]
Name: 1047, dtype: object
title                                  Akira
year                                    1988
vote_count                               792
vote_average                               7
popularity                           10.8889
genres          [Science Fiction, Animation]
Name: 1229, dtype: object
title              Beverly Hills Cop II
year                               1987
vote_count                          627
vote_average                          6
popularity                      9.20034
genres          [Action, Comedy, Crime]
Name: 3958, dtype: object
title              Wall Street
year                      1987
vote_count                 557
vote_average                 7
popularity             11.6727
genres          [Crime, Drama]
Name: 3882, dtype: object
title                                       RoboCop
year                                           1987
vote_count                                     1494
vote_average                                      7
popularity                                  13.4856
genres          [Action, Thriller, Science Fiction]
Name: 2869, dtype: object
title                          Spaceballs
year                                 1987
vote_count                            924
vote_average                            6
popularity                        9.10373
genres          [Comedy, Science Fiction]
Name: 2916, dtype: object
title           Full Metal Jacket
year                         1987
vote_count                   2595
vote_average                    7
popularity                13.9415
genres               [Drama, War]
Name: 1179, dtype: object
title                                          Lethal Weapon
year                                                    1987
vote_count                                              1367
vote_average                                               7
popularity                                           13.1838
genres          [Adventure, Action, Comedy, Thriller, Crime]
Name: 1891, dtype: object
title           Planes, Trains and Automobiles
year                                      1987
vote_count                                 567
vote_average                                 7
popularity                             9.42018
genres                                [Comedy]
Name: 3877, dtype: object
title                                                 Predator
year                                                      1987
vote_count                                                2129
vote_average                                                 7
popularity                                             18.4957
genres          [Science Fiction, Action, Adventure, Thriller]
Name: 3406, dtype: object
title                    The Living Daylights
year                                     1987
vote_count                                447
vote_average                                6
popularity                             12.189
genres          [Action, Adventure, Thriller]
Name: 3880, dtype: object
title                     The Running Man
year                                 1987
vote_count                            713
vote_average                            6
popularity                        9.38998
genres          [Action, Science Fiction]
Name: 3576, dtype: object
title              The Lost Boys
year                        1987
vote_count                   545
vote_average                   6
popularity               9.09973
genres          [Horror, Comedy]
Name: 4002, dtype: object
title                     Dirty Dancing
year                               1987
vote_count                         1371
vote_average                          7
popularity                      14.0441
genres          [Drama, Music, Romance]
Name: 1056, dtype: object
title                            The Untouchables
year                                         1987
vote_count                                   1424
vote_average                                    7
popularity                                11.0622
genres          [Crime, Drama, History, Thriller]
Name: 2085, dtype: object
title                        Evil Dead II
year                                 1987
vote_count                            760
vote_average                            7
popularity                        13.5208
genres          [Horror, Comedy, Fantasy]
Name: 1216, dtype: object
title           Good Morning, Vietnam
year                             1987
vote_count                        658
vote_average                        7
popularity                    9.02328
genres           [Comedy, Drama, War]
Name: 3328, dtype: object
title                                      The Princess Bride
year                                                     1987
vote_count                                               1518
vote_average                                                7
popularity                                            15.1527
genres          [Adventure, Family, Fantasy, Comedy, Romance]
Name: 1155, dtype: object
title           Raising Arizona
year                       1987
vote_count                  548
vote_average                  7
popularity              14.0114
genres          [Comedy, Crime]
Name: 1345, dtype: object
title               Empire of the Sun
year                             1987
vote_count                        491
vote_average                        7
popularity                    10.2209
genres          [Drama, History, War]
Name: 3977, dtype: object
title           Hellraiser
year                  1987
vote_count             464
vote_average             6
popularity         10.8131
genres            [Horror]
Name: 3793, dtype: object
title                             The Fly
year                                 1986
vote_count                           1038
vote_average                            7
popularity                        13.5346
genres          [Horror, Science Fiction]
Name: 2342, dtype: object
title              Stand by Me
year                      1986
vote_count                1568
vote_average                 7
popularity              15.207
genres          [Crime, Drama]
Name: 1214, dtype: object
title           Ferris Bueller's Day Off
year                                1986
vote_count                          1340
vote_average                           7
popularity                       12.7246
genres                          [Comedy]
Name: 2802, dtype: object
title           Star Trek IV: The Voyage Home
year                                     1986
vote_count                                490
vote_average                                6
popularity                             12.597
genres           [Science Fiction, Adventure]
Name: 1327, dtype: object
title                                           Castle in the Sky
year                                                         1986
vote_count                                                    877
vote_average                                                    7
popularity                                                11.0616
genres          [Adventure, Fantasy, Animation, Action, Family...
Name: 6212, dtype: object
title                             Highlander
year                                    1986
vote_count                               642
vote_average                               6
popularity                           16.8704
genres          [Adventure, Action, Fantasy]
Name: 1230, dtype: object
title                               Short Circuit
year                                         1986
vote_count                                    535
vote_average                                    6
popularity                                12.1712
genres          [Comedy, Family, Science Fiction]
Name: 4417, dtype: object
title              Crocodile Dundee
year                           1986
vote_count                      512
vote_average                      6
popularity                  7.79121
genres          [Adventure, Comedy]
Name: 2357, dtype: object
title                                                Aliens
year                                                   1986
vote_count                                             3282
vote_average                                              7
popularity                                          21.7612
genres          [Horror, Action, Thriller, Science Fiction]
Name: 1158, dtype: object
title                              Labyrinth
year                                    1986
vote_count                               618
vote_average                               7
popularity                           13.0097
genres          [Adventure, Family, Fantasy]
Name: 1858, dtype: object
title                 The Name of the Rose
year                                  1986
vote_count                             739
vote_average                             7
popularity                         11.4698
genres          [Drama, Thriller, Mystery]
Name: 2354, dtype: object
title                          Top Gun
year                              1986
vote_count                        1736
vote_average                         6
popularity                      20.301
genres          [Action, Romance, War]
Name: 1069, dtype: object
title                               The Karate Kid, Part II
year                                                   1986
vote_count                                              457
vote_average                                              5
popularity                                          9.23132
genres          [Adventure, Drama, Action, Romance, Family]
Name: 2308, dtype: object
title                                 Blue Velvet
year                                         1986
vote_count                                    758
vote_average                                    7
popularity                                7.88225
genres          [Crime, Drama, Mystery, Thriller]
Name: 1967, dtype: object
title                    Big Trouble in Little China
year                                            1986
vote_count                                       727
vote_average                                       7
popularity                                   11.1099
genres          [Action, Adventure, Comedy, Fantasy]
Name: 3618, dtype: object
title                        Platoon
year                            1986
vote_count                      1236
vote_average                       7
popularity                    18.207
genres          [Drama, War, Action]
Name: 1058, dtype: object
title                                Commando
year                                     1985
vote_count                                753
vote_average                                6
popularity                            10.1937
genres          [Action, Adventure, Thriller]
Name: 6515, dtype: object
title                           The Goonies
year                                   1985
vote_count                             1563
vote_average                              7
popularity                          14.2807
genres          [Adventure, Comedy, Family]
Name: 1896, dtype: object
title                        A View to a Kill
year                                     1985
vote_count                                515
vote_average                                6
popularity                            12.8408
genres          [Adventure, Action, Thriller]
Name: 2263, dtype: object
title                   Rambo: First Blood Part II
year                                          1985
vote_count                                     884
vote_average                                     6
popularity                                 11.9245
genres          [Action, Adventure, Thriller, War]
Name: 2289, dtype: object
title                                     Back to the Future
year                                                    1985
vote_count                                              6239
vote_average                                               8
popularity                                           25.7785
genres          [Adventure, Comedy, Science Fiction, Family]
Name: 1225, dtype: object
title                     Mad Max Beyond Thunderdome
year                                            1985
vote_count                                       765
vote_average                                       5
popularity                                   12.6896
genres          [Action, Adventure, Science Fiction]
Name: 3582, dtype: object
title                              Brazil
year                                 1985
vote_count                            877
vote_average                            7
popularity                        9.83729
genres          [Comedy, Science Fiction]
Name: 1157, dtype: object
title           The Breakfast Club
year                          1985
vote_count                    2189
vote_average                     7
popularity                 12.6277
genres             [Comedy, Drama]
Name: 1859, dtype: object
title           Rocky IV
year                1985
vote_count           984
vote_average           6
popularity       10.2572
genres           [Drama]
Name: 2298, dtype: object
title                      Star Trek III: The Search for Spock
year                                                      1984
vote_count                                                 443
vote_average                                                 6
popularity                                              6.1973
genres          [Science Fiction, Action, Adventure, Thriller]
Name: 1326, dtype: object
title           Indiana Jones and the Temple of Doom
year                                            1984
vote_count                                      2841
vote_average                                       7
popularity                                   15.8023
genres                           [Adventure, Action]
Name: 2006, dtype: object
title           A Nightmare on Elm Street
year                                 1984
vote_count                           1212
vote_average                            7
popularity                        13.6947
genres                           [Horror]
Name: 1299, dtype: object
title                         The NeverEnding Story
year                                           1984
vote_count                                     1031
vote_average                                      7
popularity                                  14.2259
genres          [Drama, Family, Fantasy, Adventure]
Name: 2052, dtype: object
title             Sixteen Candles
year                         1984
vote_count                    455
vote_average                    6
popularity                6.68372
genres          [Comedy, Romance]
Name: 2035, dtype: object
title                 Beverly Hills Cop
year                               1984
vote_count                          985
vote_average                          6
popularity                      8.50348
genres          [Action, Comedy, Crime]
Name: 3959, dtype: object
title                            Romancing the Stone
year                                            1984
vote_count                                       477
vote_average                                       6
popularity                                   6.82719
genres          [Action, Adventure, Comedy, Romance]
Name: 2293, dtype: object
title           Nausicaä of the Valley of the Wind
year                                          1984
vote_count                                     808
vote_average                                     7
popularity                                 11.2674
genres             [Adventure, Animation, Fantasy]
Name: 6947, dtype: object
title                                 Footloose
year                                       1984
vote_count                                  525
vote_average                                  6
popularity                               10.404
genres          [Drama, Family, Music, Romance]
Name: 3669, dtype: object
title                                           Dune
year                                            1984
vote_count                                       576
vote_average                                       6
popularity                                   9.26119
genres          [Action, Science Fiction, Adventure]
Name: 1912, dtype: object
title                                The Terminator
year                                           1984
vote_count                                     4208
vote_average                                      7
popularity                                  19.2936
genres          [Action, Thriller, Science Fiction]
Name: 1195, dtype: object
title                            Gremlins
year                                 1984
vote_count                           1629
vote_average                            6
popularity                        11.3331
genres          [Fantasy, Horror, Comedy]
Name: 1894, dtype: object
title                           Amadeus
year                               1984
vote_count                         1107
vote_average                          7
popularity                      12.6776
genres          [Drama, History, Music]
Name: 1182, dtype: object
title                Ghostbusters
year                         1984
vote_count                   2431
vote_average                    7
popularity                22.0897
genres          [Comedy, Fantasy]
Name: 2601, dtype: object
title            Police Academy
year                       1984
vote_count                  614
vote_average                  6
popularity              8.35449
genres          [Comedy, Crime]
Name: 2265, dtype: object
title           Once Upon a Time in America
year                                   1984
vote_count                             1104
vote_average                              8
popularity                          32.1829
genres                       [Drama, Crime]
Name: 1184, dtype: object
title           The Karate Kid
year                      1984
vote_count                 913
vote_average                 6
popularity             7.64499
genres                 [Drama]
Name: 2307, dtype: object
title                                                Superman III
year                                                         1983
vote_count                                                    500
vote_average                                                    5
popularity                                                9.61464
genres          [Comedy, Action, Adventure, Fantasy, Science F...
Name: 2528, dtype: object
title           Trading Places
year                      1983
vote_count                 763
vote_average                 7
popularity             14.2851
genres                [Comedy]
Name: 2922, dtype: object
title                               Octopussy
year                                     1983
vote_count                                534
vote_average                                6
popularity                            10.6193
genres          [Adventure, Action, Thriller]
Name: 7330, dtype: object
title                             Return of the Jedi
year                                            1983
vote_count                                      4763
vote_average                                       7
popularity                                   14.5861
genres          [Adventure, Action, Science Fiction]
Name: 1167, dtype: object
title                                   Videodrome
year                                          1983
vote_count                                     464
vote_average                                     7

In [20]:
qualified = qualified.sort_values('wr', ascending=False)

In [21]:
qualified.head(15)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>genres</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>[Action, Thriller, Science Fiction, Mystery, A...</td>
      <td>7.917588</td>
    </tr>
    <tr>
      <th>12481</th>
      <td>The Dark Knight</td>
      <td>2008</td>
      <td>12269</td>
      <td>8</td>
      <td>123.167</td>
      <td>[Drama, Action, Crime, Thriller]</td>
      <td>7.905871</td>
    </tr>
    <tr>
      <th>22879</th>
      <td>Interstellar</td>
      <td>2014</td>
      <td>11187</td>
      <td>8</td>
      <td>32.2135</td>
      <td>[Adventure, Drama, Science Fiction]</td>
      <td>7.897107</td>
    </tr>
    <tr>
      <th>2843</th>
      <td>Fight Club</td>
      <td>1999</td>
      <td>9678</td>
      <td>8</td>
      <td>63.8696</td>
      <td>[Drama]</td>
      <td>7.881753</td>
    </tr>
    <tr>
      <th>4863</th>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>2001</td>
      <td>8892</td>
      <td>8</td>
      <td>32.0707</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.871787</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Pulp Fiction</td>
      <td>1994</td>
      <td>8670</td>
      <td>8</td>
      <td>140.95</td>
      <td>[Thriller, Crime]</td>
      <td>7.868660</td>
    </tr>
    <tr>
      <th>314</th>
      <td>The Shawshank Redemption</td>
      <td>1994</td>
      <td>8358</td>
      <td>8</td>
      <td>51.6454</td>
      <td>[Drama, Crime]</td>
      <td>7.864000</td>
    </tr>
    <tr>
      <th>7000</th>
      <td>The Lord of the Rings: The Return of the King</td>
      <td>2003</td>
      <td>8226</td>
      <td>8</td>
      <td>29.3244</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.861927</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>[Comedy, Drama, Romance]</td>
      <td>7.860656</td>
    </tr>
    <tr>
      <th>5814</th>
      <td>The Lord of the Rings: The Two Towers</td>
      <td>2002</td>
      <td>7641</td>
      <td>8</td>
      <td>29.4235</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.851924</td>
    </tr>
    <tr>
      <th>256</th>
      <td>Star Wars</td>
      <td>1977</td>
      <td>6778</td>
      <td>8</td>
      <td>42.1497</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>7.834205</td>
    </tr>
    <tr>
      <th>1225</th>
      <td>Back to the Future</td>
      <td>1985</td>
      <td>6239</td>
      <td>8</td>
      <td>25.7785</td>
      <td>[Adventure, Comedy, Science Fiction, Family]</td>
      <td>7.820813</td>
    </tr>
    <tr>
      <th>834</th>
      <td>The Godfather</td>
      <td>1972</td>
      <td>6024</td>
      <td>8</td>
      <td>41.1093</td>
      <td>[Drama, Crime]</td>
      <td>7.814847</td>
    </tr>
    <tr>
      <th>1154</th>
      <td>The Empire Strikes Back</td>
      <td>1980</td>
      <td>5998</td>
      <td>8</td>
      <td>19.471</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>7.814099</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Se7en</td>
      <td>1995</td>
      <td>5915</td>
      <td>8</td>
      <td>18.4574</td>
      <td>[Crime, Mystery, Thriller]</td>
      <td>7.811669</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
md.apply(lambda x: pd.Series(x['genres']), axis=1).stack()

0      0          Animation
       1             Comedy
       2             Family
1      0          Adventure
       1            Fantasy
       2             Family
2      0            Romance
       1             Comedy
3      0             Comedy
       1              Drama
       2            Romance
4      0             Comedy
5      0             Action
       1              Crime
       2              Drama
       3           Thriller
6      0             Comedy
       1            Romance
7      0             Action
       1          Adventure
       2              Drama
       3             Family
8      0             Action
       1          Adventure
       2           Thriller
9      0          Adventure
       1             Action
       2           Thriller
10     0             Comedy
       1              Drama
                 ...
45446  1             Comedy
45449  0          Animation
       1             Family
45450  0            Fantasy
       1             Action
       2           Thriller
45451  0             Comedy
       1            Fantasy
45452  0        Documentary
45453  0              Crime
       1              Drama
       2           Thriller
45454  0             Comedy
       1              Drama
45456  0             Horror
       1            Mystery
       2           Thriller
45457  0            Mystery
       1             Horror
45458  0             Horror
45459  0    Science Fiction
45460  0              Drama
       1             Action
       2            Romance
45461  0              Drama
       1             Family
45462  0              Drama
45463  0             Action
       1              Drama
       2           Thriller
Length: 91106, dtype: object

In [23]:
s = md.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level = 1 ,drop=True)
s

0              Animation
0                 Comedy
0                 Family
1              Adventure
1                Fantasy
1                 Family
2                Romance
2                 Comedy
3                 Comedy
3                  Drama
3                Romance
4                 Comedy
5                 Action
5                  Crime
5                  Drama
5               Thriller
6                 Comedy
6                Romance
7                 Action
7              Adventure
7                  Drama
7                 Family
8                 Action
8              Adventure
8               Thriller
9              Adventure
9                 Action
9               Thriller
10                Comedy
10                 Drama
              ...
45446             Comedy
45449          Animation
45449             Family
45450            Fantasy
45450             Action
45450           Thriller
45451             Comedy
45451            Fantasy
45452        Documentary
45453              Crime
45453              Drama
45453           Thriller
45454             Comedy
45454              Drama
45456             Horror
45456            Mystery
45456           Thriller
45457            Mystery
45457             Horror
45458             Horror
45459    Science Fiction
45460              Drama
45460             Action
45460            Romance
45461              Drama
45461             Family
45462              Drama
45463             Action
45463              Drama
45463           Thriller
Length: 91106, dtype: object

In [24]:
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [27]:

def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [28]:
build_chart('Romance').head(15)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10309</th>
      <td>Dilwale Dulhania Le Jayenge</td>
      <td>1995</td>
      <td>661</td>
      <td>9</td>
      <td>34.457</td>
      <td>8.565285</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>7.971357</td>
    </tr>
    <tr>
      <th>876</th>
      <td>Vertigo</td>
      <td>1958</td>
      <td>1162</td>
      <td>8</td>
      <td>18.2082</td>
      <td>7.811667</td>
    </tr>
    <tr>
      <th>40251</th>
      <td>Your Name.</td>
      <td>2016</td>
      <td>1030</td>
      <td>8</td>
      <td>34.461252</td>
      <td>7.789489</td>
    </tr>
    <tr>
      <th>883</th>
      <td>Some Like It Hot</td>
      <td>1959</td>
      <td>835</td>
      <td>8</td>
      <td>11.8451</td>
      <td>7.745154</td>
    </tr>
    <tr>
      <th>1132</th>
      <td>Cinema Paradiso</td>
      <td>1988</td>
      <td>834</td>
      <td>8</td>
      <td>14.177</td>
      <td>7.744878</td>
    </tr>
    <tr>
      <th>19901</th>
      <td>Paperman</td>
      <td>2012</td>
      <td>734</td>
      <td>8</td>
      <td>7.19863</td>
      <td>7.713951</td>
    </tr>
    <tr>
      <th>37863</th>
      <td>Sing Street</td>
      <td>2016</td>
      <td>669</td>
      <td>8</td>
      <td>10.672862</td>
      <td>7.689483</td>
    </tr>
    <tr>
      <th>882</th>
      <td>The Apartment</td>
      <td>1960</td>
      <td>498</td>
      <td>8</td>
      <td>11.9943</td>
      <td>7.599317</td>
    </tr>
    <tr>
      <th>38718</th>
      <td>The Handmaiden</td>
      <td>2016</td>
      <td>453</td>
      <td>8</td>
      <td>16.727405</td>
      <td>7.566166</td>
    </tr>
    <tr>
      <th>3189</th>
      <td>City Lights</td>
      <td>1931</td>
      <td>444</td>
      <td>8</td>
      <td>10.8915</td>
      <td>7.558867</td>
    </tr>
    <tr>
      <th>24886</th>
      <td>The Way He Looks</td>
      <td>2014</td>
      <td>262</td>
      <td>8</td>
      <td>5.71127</td>
      <td>7.331363</td>
    </tr>
    <tr>
      <th>45437</th>
      <td>In a Heartbeat</td>
      <td>2017</td>
      <td>146</td>
      <td>8</td>
      <td>20.82178</td>
      <td>7.003959</td>
    </tr>
    <tr>
      <th>1639</th>
      <td>Titanic</td>
      <td>1997</td>
      <td>7770</td>
      <td>7</td>
      <td>26.8891</td>
      <td>6.981546</td>
    </tr>
    <tr>
      <th>19731</th>
      <td>Silver Linings Playbook</td>
      <td>2012</td>
      <td>4840</td>
      <td>7</td>
      <td>14.4881</td>
      <td>6.970581</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
links_small = pd.read_csv('input/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [30]:
md = md.drop([19730, 29503, 35587])

In [32]:
md['id'] = md['id'].astype('int')

In [33]:
smd = md[md['id'].isin(links_small)]
smd.isnull().sum()

adult                       0
belongs_to_collection    7425
budget                      0
genres                      0
homepage                 7125
id                          0
imdb_id                     0
original_language           0
original_title              0
overview                   12
popularity                  0
poster_path                 3
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                     0
spoken_languages            0
status                      2
tagline                  2066
title                       0
video                       0
vote_average                0
vote_count                  0
year                        0
dtype: int64

In [34]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['tagline'] + smd['overview']
smd['description'] = smd['description'].fillna('')

In [35]:
print(np.nan + 12)

nan

In [36]:
smd['description']

0        Led by Woody, Andy's toys live happily in his ...
1        Roll the dice and unleash the excitement!When ...
2        Still Yelling. Still Fighting. Still Ready for...
3        Friends are the people who let you be yourself...
4        Just When His World Is Back To Normal... He's ...
5        A Los Angeles Crime SagaObsessive master thief...
6        You are cordially invited to the most surprisi...
7        The Original Bad Boys.A mischievous young boy,...
8        Terror goes into overtime.International action...
9        No limits. No fears. No substitutes.James Bond...
10       Why can't the most powerful man in the world h...
11       When a lawyer shows up at the vampire's doorst...
12       Part Dog. Part Wolf. All Hero.An outcast half-...
13       Triumphant in Victory, Bitter in Defeat. He Ch...
14       The Course Has Been Set. There Is No Turning B...
15       No one stays at the top forever.The life of th...
16       Lose your heart and come to your senses.Rich M...
17       Twelve outrageous guests. Four scandalous requ...
18       New animals. New adventures. Same hair.Summone...
19       Get on, or GET OUT THE WAY!A vengeful New York...
20       The mob is tough, but it’s nothing like show b...
21       One man is copying the most notorious killers ...
22       In the shadows of life, In the business of dea...
23       An extraordinary encounter with another human ...
24       I Love You... The Way You Are.Ben Sanderson, a...
25       Envy, greed, jealousy and love.The evil Iago p...
26       In every woman there is the girl she left behi...
27       This film adaptation of Jane Austen's last nov...
28       Where happily ever after is just a dream.A sci...
29       In 1930's Shanghai violence was not the proble...
                               ...
39038    Raise some shell.After supervillain Shredder e...
39063    When his new album fails to sell records, pop/...
39097    The next true story from the case files of Ed ...
39118    Captain William Stanaforth is on a one-way sol...
39149    Who You Gonna Call?Following a ghost invasion ...
39224    Saving the world takes a little Hart and a big...
39287    You know his nameThe most dangerous former ope...
39288    How far will a family go to bury the truth?Dri...
39331    Human. Nature.Tarzan, having acclimated to lif...
39332    Keep America greatTwo years after choosing not...
39333    They needed hot dates. They got hot messes.Mik...
39344    In 1983, the NC State Wolfpack, coached by Jim...
39360    Life  can be a real motherDesperate to be rid ...
39386    A mother bird tries to teach her little one ho...
39463    Are you a watcher or a player?Industrious high...
39520    Christian Karl Gerhartsreiter lived a life of ...
39549    Sunspring is a short film about three people l...
39619    New York magazine’s October 2005 issue sent sh...
39663    Blood always follows money.A divorced dad and ...
39669    Kingsglaive: Final Fantasy XVThe magical kingd...
39752    A night out turns deadly when three girls brea...
39771    What happens in Vegas, stays in Vegas. Unless ...
39784    A man must cope with the loss of his wife and ...
40004    Decorated Officer. Devoted Family Man. Defendi...
40058    Village lad Sarman is drawn to big, bad Mohenj...
40224    A god incarnate. A city doomed.From the mind b...
40503    The band you know. The story you don't.The ban...
44821    Pokémon: Spell of the UnknownWhen Molly Hale's...
44826    All your favorite Pokémon characters are back,...
45265    While holidaying in the French Alps, a Swedish...
Name: description, Length: 9099, dtype: object

In [37]:
#문서 집합에서 단어 토큰을 생성하고 각 단어의 수를 세어 BOW 인코딩한 벡터를 만든다. + 가중치 
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])
print(tfidf_matrix)

  (0, 136840)	0.07718759464705006
  (0, 264113)	0.30387952009598945
  (0, 10530)	0.2930799401609535
  (0, 243441)	0.11055554348807796
  (0, 141316)	0.06263979034622161
  (0, 106654)	0.09279805284220312
  (0, 203921)	0.08404731309794934
  (0, 24126)	0.08975329559061745
  (0, 29322)	0.07597295822242066
  (0, 32250)	0.3402899285020227
  (0, 140005)	0.1291666389476973
  (0, 207924)	0.08325132345046594
  (0, 6226)	0.09481888070772156
  (0, 144369)	0.08076935717793579
  (0, 181154)	0.06719562459211752
  (0, 108551)	0.06824260207674711
  (0, 182934)	0.0976933133869845
  (0, 40994)	0.09397604186799674
  (0, 212158)	0.0982339106666728
  (0, 174041)	0.07485331602988303
  (0, 70879)	0.09136444459528242
  (0, 78142)	0.07411858432790196
  (0, 136355)	0.07193977307988235
  (0, 14334)	0.10518838664786415
  (0, 63871)	0.09666972605738713
  :	:
  (9097, 244431)	0.07716709594495275
  (9097, 5443)	0.07716709594495275
  (9097, 14256)	0.07716709594495275
  (9097, 231044)	0.07716709594495275
  (9097, 199061)	0.07716709594495275
  (9097, 4126)	0.07716709594495275
  (9098, 82475)	0.09591921295329188
  (9098, 4484)	0.19074325618078897
  (9098, 58390)	0.18890995832597954
  (9098, 93482)	0.14540644606551906
  (9098, 28600)	0.1654826490691946
  (9098, 8949)	0.2320825201528059
  (9098, 93488)	0.247979110366774
  (9098, 233238)	0.2068775570503323
  (9098, 16671)	0.23646136406902027
  (9098, 112556)	0.2561510814159518
  (9098, 51932)	0.2561510814159518
  (9098, 112557)	0.2561510814159518
  (9098, 8952)	0.2561510814159518
  (9098, 233244)	0.2561510814159518
  (9098, 82617)	0.2561510814159518
  (9098, 58391)	0.2561510814159518
  (9098, 4490)	0.2561510814159518
  (9098, 51933)	0.2561510814159518
  (9098, 16672)	0.2561510814159518

In [38]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.00680204, 0.        , ..., 0.        , 0.00344826,
        0.        ],
       [0.00680204, 1.        , 0.01537897, ..., 0.00356808, 0.00762316,
        0.        ],
       [0.        , 0.01537897, 1.        , ..., 0.        , 0.00288257,
        0.00473726],
       ...,
       [0.        , 0.00356808, 0.        , ..., 1.        , 0.07824314,
        0.        ],
       [0.00344826, 0.00762316, 0.00288257, ..., 0.07824314, 1.        ,
        0.        ],
       [0.        , 0.        , 0.00473726, ..., 0.        , 0.        ,
        1.        ]])

In [39]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9099 entries, 0 to 9098
Data columns (total 27 columns):
index                    9099 non-null int64
adult                    9099 non-null object
belongs_to_collection    1674 non-null object
budget                   9099 non-null object
genres                   9099 non-null object
homepage                 1974 non-null object
id                       9099 non-null int32
imdb_id                  9099 non-null object
original_language        9099 non-null object
original_title           9099 non-null object
overview                 9087 non-null object
popularity               9099 non-null object
poster_path              9096 non-null object
production_companies     9099 non-null object
production_countries     9099 non-null object
release_date             9099 non-null object
revenue                  9099 non-null float64
runtime                  9099 non-null float64
spoken_languages         9099 non-null object
status                   9097 non-null object
tagline                  9099 non-null object
title                    9099 non-null object
video                    9099 non-null object
vote_average             9099 non-null float64
vote_count               9099 non-null float64
year                     9099 non-null object
description              9099 non-null object
dtypes: float64(4), int32(1), int64(1), object(21)
memory usage: 1.8+ MB
None

In [42]:
def recommanedSystem(name):
    idx = indices[name]
    sims_scores = list(enumerate(cosine_sim[idx]))
    sims_scores = sorted(sims_scores, key=lambda x:x[1], reverse=True)
    sims_scores = sims_scores[1:31]
    movie_indices = [i[0] for i in sims_scores]
    return titles.iloc[movie_indices]

In [43]:
recommanedSystem('The Dark Knight')

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
6144                              Batman Begins
7933         Sherlock Holmes: A Game of Shadows
5511                            To End All Wars
4489                                      Q & A
7344                        Law Abiding Citizen
7242                  The File on Thelma Jordon
3537                               Criminal Law
2893                              Flying Tigers
1135                   Night Falls on Manhattan
8680                          The Young Savages
8917         Batman v Superman: Dawn of Justice
1240                             Batman & Robin
6740                                Rush Hour 3
1652                            The Shaggy D.A.
6667                                   Fracture
4028                                 The Rookie
8371       Justice League: Crisis on Two Earths
8719                                 By the Gun
3730                    Dr. Mabuse, the Gambler
4160                     The Master of Disguise
Name: title, dtype: object

다크 나이트 (Dark Knight)에서 우리 시스템은 이것을 '배트맨 (Batman)'영화로 식별 할 수 있었고 이후 다른 최고의 배트맨 영화를 추천했습니다. 그러나 불행히도,이 모든 시스템이 그 순간에 할 수있는 것입니다. 영화의 평판과 인기를 결정하는 캐스트, 크루, 감독 및 장르와 같은 중요한 기능을 고려하지 않기 때문에 대부분의 사람들에게별로 유용하지 않습니다. The Dark Knight를 좋아하는 사람은 Nolan 때문에 더 좋아하고 Batman Forever와 Batman Franchise의 다른 모든 표준 이하 영화를 싫어할 것입니다.

따라서 Overview와 Tagline보다 훨씬 더 암시적인 메타 데이터를 사용할 것입니다. 다음 하위 섹션에서는 장르, 키워드, 캐스트 및 대원을 고려한보다 정교한 추천서를 작성합니다.

Consider 감독, 배우, 등등

In [44]:
credits = pd.read_csv('input/credits.csv')
keywords = pd.read_csv('input/keywords.csv')

In [48]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [51]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')

In [56]:
smd = md[md['id'].isin(links_small)]

이제 우리는 캐스트, 승무원, 장르 및 크레딧을 하나의 데이터 프레임에 모두 갖게되었습니다. 다음과 같은 직관을 사용하여이 문제를 좀 더 다룰 것입니다.

승무원 : 다른 사람들이 영화의 느낌에 그다지 기여하지 않기 때문에 우리는 승무원에게서 감독을 우리의 특징으로 뽑을 것입니다.
캐스트 : 선택 캐스트는 조금 까다 롭습니다. 덜 알려진 배우와 사소한 역할은 영화에 대한 사람들의 의견에 실제로 영향을 미치지 않습니다. 따라서 주요 캐릭터와 각자의 액터 만 선택해야합니다. 임의로 크레딧 목록에 나타나는 상위 3 명의 배우를 선택합니다.

In [57]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [58]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [59]:
smd['director'] = smd['crew'].apply(get_director)

In [60]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >= 3 else x)

In [63]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [64]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [68]:
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x, x, x])

키워드
키워드를 사전에 소량 사용하여 사전에 처리합니다. 첫 번째 단계로 데이터 세트에 나타나는 모든 키워드의 빈도수를 계산합니다.

In [70]:
s = smd.apply(lambda x: pd.Series(x['keywords']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [71]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

키워드는 1에서 610 사이의 빈도로 발생합니다. 한 번만 발생하는 키워드에는 사용하지 않습니다. 따라서 안전하게 제거 할 수 있습니다. 마지막으로 Dog와 Dogs 같은 단어가 동일하게 간주되도록 모든 단어를 줄기로 변환합니다.

In [72]:
s = s[s > 1] #언급 정도가 1개 이상만 사용되도록한다.

In [73]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [75]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [76]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x] )
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ","")) for i in x])

In [78]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [82]:
for x, i in enumerate(smd['soup']):
    if x == 10:
        break
    print(i)

jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif tomhanks timallen donrickles ['johnlasseter','johnlasseter','johnlasseter'] ['johnlasseter','johnlasseter','johnlasseter'] ['johnlasseter','johnlasseter','johnlasseter'] Animation Comedy Family
boardgam disappear basedonchildren'sbook newhom reclus giantinsect robinwilliams jonathanhyde kirstendunst ['joejohnston','joejohnston','joejohnston'] ['joejohnston','joejohnston','joejohnston'] ['joejohnston','joejohnston','joejohnston'] Adventure Fantasy Family
fish bestfriend duringcreditssting waltermatthau jacklemmon ann-margret ['howarddeutch','howarddeutch','howarddeutch'] ['howarddeutch','howarddeutch','howarddeutch'] ['howarddeutch','howarddeutch','howarddeutch'] Romance Comedy
basedonnovel interracialrelationship singlemoth divorc chickflick whitneyhouston angelabassett lorettadevine ['forestwhitaker','forestwhitaker','forestwhitaker'] ['forestwhitaker','forestwhitaker','forestwhitaker'] ['forestwhitaker','forestwhitaker','forestwhitaker'] Comedy Drama Romance
babi midlifecrisi confid age daughter motherdaughterrelationship pregnanc contracept gynecologist stevemartin dianekeaton martinshort ['charlesshyer','charlesshyer','charlesshyer'] ['charlesshyer','charlesshyer','charlesshyer'] ['charlesshyer','charlesshyer','charlesshyer'] Comedy
robberi detect bank obsess chase shoot thief honor murder suspens heist betray money gang catandmous criminalmastermind cultfilm ex-con heistmovi onelastjob loner neo-noir gunfight crimeep alpacino robertdeniro valkilmer ['michaelmann','michaelmann','michaelmann'] ['michaelmann','michaelmann','michaelmann'] ['michaelmann','michaelmann','michaelmann'] Action Crime Drama Thriller
pari brotherbrotherrelationship chauffeur longisland millionair harrisonford juliaormond gregkinnear ['sydneypollack','sydneypollack','sydneypollack'] ['sydneypollack','sydneypollack','sydneypollack'] ['sydneypollack','sydneypollack','sydneypollack'] Comedy Romance
jonathantaylorthomas bradrenfro rachaelleighcook ['peterhewitt','peterhewitt','peterhewitt'] ['peterhewitt','peterhewitt','peterhewitt'] ['peterhewitt','peterhewitt','peterhewitt'] Action Adventure Drama Family
terrorist hostag explos vicepresid jean-claudevandamme powersboothe dorianharewood ['peterhyams','peterhyams','peterhyams'] ['peterhyams','peterhyams','peterhyams'] ['peterhyams','peterhyams','peterhyams'] Action Adventure Thriller
cuba falselyaccus secretident computervirus secretbas secretintelligenceservic kgb satellit specialcar cossack timebomb st.petersburgrussia ejectionseat redarmi piercebrosnan seanbean izabellascorupco ['martincampbell','martincampbell','martincampbell'] ['martincampbell','martincampbell','martincampbell'] ['martincampbell','martincampbell','martincampbell'] Adventure Action Thriller

In [84]:
count = CountVectorizer(analyzer='word', stop_words='english', ngram_range=(1, 2), min_df=0)
count_matrix = count.fit_transform(smd['soup'])
count_matrix

<9219x107377 sparse matrix of type '<class 'numpy.int64'>'
	with 240050 stored elements in Compressed Sparse Row format>

In [86]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [87]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [90]:
recommanedSystem('The Dark Knight').head(10)

8031         The Dark Knight Rises
6218                 Batman Begins
6623                  The Prestige
2085                     Following
7648                     Inception
4145                      Insomnia
3381                       Memento
8613                  Interstellar
7659    Batman: Under the Red Hood
1134                Batman Returns
Name: title, dtype: object

인기도 및 평가
우리가 추천 시스템에 대해 알아챈 한 가지는 등급과 인기도에 관계없이 영화를 추천한다는 것입니다. 배트맨과 로빈은 다크 나이트 (Dark Knight)와 비교할 때 비슷한 캐릭터가 많지만 누구에게도 추천해서는 안되는 끔찍한 영화였습니다.

따라서 우리는 나쁜 영화를 제거하고 대중적인 반응을 보이는 영화를 반환하는 메커니즘을 추가 할 것입니다.

나는 유사성 점수에 따라 상위 25 개의 영화를 가져 와서 60 번째 백분위 영화의 표를 계산할 것입니다. 그런 다음 이것을 m 값으로 사용하여 Simple Recommender 섹션에서와 같이 IMDB의 공식을 사용하여 각 영화의 가중치 등급을 계산합니다.

In [98]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:15]
    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [100]:
improved_recommendations('The Dark Knight')

title           The Dark Knight Rises
vote_count                       9263
vote_average                        7
year                             2012
Name: 8031, dtype: object
title           Batman Begins
vote_count               7511
vote_average                7
year                     2005
Name: 6218, dtype: object
title           The Prestige
vote_count              4510
vote_average               8
year                    2006
Name: 6623, dtype: object
title           Inception
vote_count          14075
vote_average            8
year                 2010
Name: 7648, dtype: object
title           Memento
vote_count         4168
vote_average          8
year               2000
Name: 3381, dtype: object
title           Interstellar
vote_count             11187
vote_average               8
year                    2014
Name: 8613, dtype: object

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>year</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7648</th>
      <td>Inception</td>
      <td>14075</td>
      <td>8</td>
      <td>2010</td>
      <td>7.917588</td>
    </tr>
    <tr>
      <th>8613</th>
      <td>Interstellar</td>
      <td>11187</td>
      <td>8</td>
      <td>2014</td>
      <td>7.897107</td>
    </tr>
    <tr>
      <th>6623</th>
      <td>The Prestige</td>
      <td>4510</td>
      <td>8</td>
      <td>2006</td>
      <td>7.758148</td>
    </tr>
    <tr>
      <th>3381</th>
      <td>Memento</td>
      <td>4168</td>
      <td>8</td>
      <td>2000</td>
      <td>7.740175</td>
    </tr>
    <tr>
      <th>8031</th>
      <td>The Dark Knight Rises</td>
      <td>9263</td>
      <td>7</td>
      <td>2012</td>
      <td>6.921448</td>
    </tr>
    <tr>
      <th>6218</th>
      <td>Batman Begins</td>
      <td>7511</td>
      <td>7</td>
      <td>2005</td>
      <td>6.904127</td>
    </tr>
  </tbody>
</table>
</div>


협업 필터링
Google의 콘텐츠 기반 엔진은 심각한 제한 사항으로 인해 어려움을 겪고 있습니다. 그것은 특정 영화에 가까운 영화를 제안 할 수 있습니다. 즉, 취향을 포착하고 여러 장르의 추천을 제공 할 수 없습니다.

또한 우리가 만든 엔진은 사용자의 개인적인 취향과 편견을 포착하지 않기 때문에 실제로 개인적인 것이 아닙니다. 영화를 기반으로 한 권장 사항을 엔진에 묻는 사람은 누구인지에 관계없이 해당 영화에 대해 동일한 권장 사항을 받게됩니다.

따라서이 섹션에서는 Collaborative Filtering이라는 기술을 사용하여 Movie Watchers에 권장 사항을 제시합니다. 협업 필터링은 사용자가 나와 비슷한 사용자가 특정 제품이나 서비스를 얼마나 많이 사용했는지 예측할 때 사용할 수 있다는 아이디어를 기반으로합니다.

나는 Collaborative Filtering을 처음부터 구현하지 않을 것이다. 대신 RMSE (Root Mean Square Error)를 최소화하고 권장 사항을 제시하기 위해 SVD (Singular Value Decomposition)와 같은 매우 강력한 알고리즘을 사용하는 서프라이즈 라이브러리를 사용합니다.

Collaborative Filtering

In [101]:
reader = Reader()

In [102]:
ratings = pd.read_csv('input/ratings_small.csv')
ratings.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
      <td>1260759144</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
      <td>1260759179</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
      <td>1260759182</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
      <td>1260759185</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
      <td>1260759205</td>
    </tr>
  </tbody>
</table>
</div>

In [104]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [106]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1

RMSE: 0.8999
MAE:  0.6931
------------
Fold 2

RMSE: 0.8941
MAE:  0.6875
------------
Fold 3

RMSE: 0.8997
MAE:  0.6925
------------
Fold 4

RMSE: 0.8954
MAE:  0.6906

------------
Fold 5

RMSE: 0.8939
MAE:  0.6901
------------
------------
Mean RMSE: 0.8966
Mean MAE : 0.6907
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.8998947958731333,
                             0.8941405724668805,
                             0.8997046532096684,
                             0.8954219159821057,
                             0.8939219515359959],
                            'mae': [0.6930500310270069,
                             0.6875069635567772,
                             0.6924632750697532,
                             0.6905910026958333,
                             0.6900622907348385]})

In [108]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [113]:
ratings[ratings['userId'] == 1]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
      <td>1260759144</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
      <td>1260759179</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
      <td>1260759182</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
      <td>1260759185</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
      <td>1260759205</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1263</td>
      <td>2.0</td>
      <td>1260759151</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>1287</td>
      <td>2.0</td>
      <td>1260759187</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1293</td>
      <td>2.0</td>
      <td>1260759148</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1339</td>
      <td>3.5</td>
      <td>1260759125</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1343</td>
      <td>2.0</td>
      <td>1260759131</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1371</td>
      <td>2.5</td>
      <td>1260759135</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>1405</td>
      <td>1.0</td>
      <td>1260759203</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1</td>
      <td>1953</td>
      <td>4.0</td>
      <td>1260759191</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>2105</td>
      <td>4.0</td>
      <td>1260759139</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1</td>
      <td>2150</td>
      <td>3.0</td>
      <td>1260759194</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1</td>
      <td>2193</td>
      <td>2.0</td>
      <td>1260759198</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1</td>
      <td>2294</td>
      <td>2.0</td>
      <td>1260759108</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1</td>
      <td>2455</td>
      <td>2.5</td>
      <td>1260759113</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1</td>
      <td>2968</td>
      <td>1.0</td>
      <td>1260759200</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>3671</td>
      <td>3.0</td>
      <td>1260759117</td>
    </tr>
  </tbody>
</table>
</div>

In [116]:
svd.predict(1, 310, 3)

Prediction(uid=1, iid=310, r_ui=3, est=2.6995416583901966, details={'was_impossible': False})

ID가 302 인 영화의 경우 예상 예측치는 2.686입니다. 이 추천 시스템의 깜짝 놀랄만 한 기능 중 하나는 영화가 무엇인지 (또는 무엇이 포함되어 있는지) 상관하지 않는다는 것입니다. 그것은 순수하게 할당 된 영화 ID를 기반으로 작동하고 다른 사용자가 영화를 예측 한 방법에 따라 등급을 예측하려고 시도합니다

In [122]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [135]:
id_map = pd.read_csv('input/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
print(id_map.head(3))
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')
id_map.head(3)

   movieId       id
0        1    862.0
1        2   8844.0
2        3  15602.0

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>movieId</th>
      <th>id</th>
    </tr>
    <tr>
      <th>title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Toy Story</th>
      <td>1</td>
      <td>862.0</td>
    </tr>
    <tr>
      <th>Jumanji</th>
      <td>2</td>
      <td>8844.0</td>
    </tr>
    <tr>
      <th>Grumpier Old Men</th>
      <td>3</td>
      <td>15602.0</td>
    </tr>
  </tbody>
</table>
</div>

In [148]:
id_map

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>movieId</th>
      <th>id</th>
    </tr>
    <tr>
      <th>title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Toy Story</th>
      <td>1</td>
      <td>862.0</td>
    </tr>
    <tr>
      <th>Jumanji</th>
      <td>2</td>
      <td>8844.0</td>
    </tr>
    <tr>
      <th>Grumpier Old Men</th>
      <td>3</td>
      <td>15602.0</td>
    </tr>
    <tr>
      <th>Waiting to Exhale</th>
      <td>4</td>
      <td>31357.0</td>
    </tr>
    <tr>
      <th>Father of the Bride Part II</th>
      <td>5</td>
      <td>11862.0</td>
    </tr>
    <tr>
      <th>Heat</th>
      <td>6</td>
      <td>949.0</td>
    </tr>
    <tr>
      <th>Sabrina</th>
      <td>7</td>
      <td>11860.0</td>
    </tr>
    <tr>
      <th>Tom and Huck</th>
      <td>8</td>
      <td>45325.0</td>
    </tr>
    <tr>
      <th>Sudden Death</th>
      <td>9</td>
      <td>9091.0</td>
    </tr>
    <tr>
      <th>GoldenEye</th>
      <td>10</td>
      <td>710.0</td>
    </tr>
    <tr>
      <th>The American President</th>
      <td>11</td>
      <td>9087.0</td>
    </tr>
    <tr>
      <th>Dracula: Dead and Loving It</th>
      <td>12</td>
      <td>12110.0</td>
    </tr>
    <tr>
      <th>Balto</th>
      <td>13</td>
      <td>21032.0</td>
    </tr>
    <tr>
      <th>Nixon</th>
      <td>14</td>
      <td>10858.0</td>
    </tr>
    <tr>
      <th>Cutthroat Island</th>
      <td>15</td>
      <td>1408.0</td>
    </tr>
    <tr>
      <th>Casino</th>
      <td>16</td>
      <td>524.0</td>
    </tr>
    <tr>
      <th>Sense and Sensibility</th>
      <td>17</td>
      <td>4584.0</td>
    </tr>
    <tr>
      <th>Four Rooms</th>
      <td>18</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Ace Ventura: When Nature Calls</th>
      <td>19</td>
      <td>9273.0</td>
    </tr>
    <tr>
      <th>Money Train</th>
      <td>20</td>
      <td>11517.0</td>
    </tr>
    <tr>
      <th>Get Shorty</th>
      <td>21</td>
      <td>8012.0</td>
    </tr>
    <tr>
      <th>Copycat</th>
      <td>22</td>
      <td>1710.0</td>
    </tr>
    <tr>
      <th>Assassins</th>
      <td>23</td>
      <td>9691.0</td>
    </tr>
    <tr>
      <th>Powder</th>
      <td>24</td>
      <td>12665.0</td>
    </tr>
    <tr>
      <th>Leaving Las Vegas</th>
      <td>25</td>
      <td>451.0</td>
    </tr>
    <tr>
      <th>Othello</th>
      <td>26</td>
      <td>16420.0</td>
    </tr>
    <tr>
      <th>Now and Then</th>
      <td>27</td>
      <td>9263.0</td>
    </tr>
    <tr>
      <th>Persuasion</th>
      <td>28</td>
      <td>17015.0</td>
    </tr>
    <tr>
      <th>The City of Lost Children</th>
      <td>29</td>
      <td>902.0</td>
    </tr>
    <tr>
      <th>Shanghai Triad</th>
      <td>30</td>
      <td>37557.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>Kill Command</th>
      <td>158956</td>
      <td>384798.0</td>
    </tr>
    <tr>
      <th>Now You See Me 2</th>
      <td>159093</td>
      <td>291805.0</td>
    </tr>
    <tr>
      <th>The Video Dead</th>
      <td>159462</td>
      <td>26677.0</td>
    </tr>
    <tr>
      <th>Teenage Mutant Ninja Turtles: Out of the Shadows</th>
      <td>159690</td>
      <td>308531.0</td>
    </tr>
    <tr>
      <th>Popstar: Never Stop Never Stopping</th>
      <td>159755</td>
      <td>341012.0</td>
    </tr>
    <tr>
      <th>The Conjuring 2</th>
      <td>159858</td>
      <td>259693.0</td>
    </tr>
    <tr>
      <th>Approaching the Unknown</th>
      <td>159972</td>
      <td>328429.0</td>
    </tr>
    <tr>
      <th>Ghostbusters</th>
      <td>160080</td>
      <td>43074.0</td>
    </tr>
    <tr>
      <th>Central Intelligence</th>
      <td>160271</td>
      <td>302699.0</td>
    </tr>
    <tr>
      <th>Jason Bourne</th>
      <td>160438</td>
      <td>324668.0</td>
    </tr>
    <tr>
      <th>The Maid's Room</th>
      <td>160440</td>
      <td>278348.0</td>
    </tr>
    <tr>
      <th>The Legend of Tarzan</th>
      <td>160563</td>
      <td>258489.0</td>
    </tr>
    <tr>
      <th>The Purge: Election Year</th>
      <td>160565</td>
      <td>316727.0</td>
    </tr>
    <tr>
      <th>Mike and Dave Need Wedding Dates</th>
      <td>160567</td>
      <td>316023.0</td>
    </tr>
    <tr>
      <th>Survive and Advance</th>
      <td>160590</td>
      <td>177869.0</td>
    </tr>
    <tr>
      <th>Tallulah</th>
      <td>160656</td>
      <td>353571.0</td>
    </tr>
    <tr>
      <th>Piper</th>
      <td>160718</td>
      <td>399106.0</td>
    </tr>
    <tr>
      <th>Nerve</th>
      <td>160954</td>
      <td>328387.0</td>
    </tr>
    <tr>
      <th>My Friend Rockefeller</th>
      <td>161084</td>
      <td>368620.0</td>
    </tr>
    <tr>
      <th>Sunspring</th>
      <td>161155</td>
      <td>401387.0</td>
    </tr>
    <tr>
      <th>Author: The JT LeRoy Story</th>
      <td>161336</td>
      <td>373348.0</td>
    </tr>
    <tr>
      <th>Hell or High Water</th>
      <td>161582</td>
      <td>338766.0</td>
    </tr>
    <tr>
      <th>Kingsglaive: Final Fantasy XV</th>
      <td>161594</td>
      <td>390734.0</td>
    </tr>
    <tr>
      <th>Body</th>
      <td>161830</td>
      <td>314420.0</td>
    </tr>
    <tr>
      <th>Sharknado 4: The 4th Awakens</th>
      <td>161918</td>
      <td>390989.0</td>
    </tr>
    <tr>
      <th>The Last Brickmaker in America</th>
      <td>161944</td>
      <td>159550.0</td>
    </tr>
    <tr>
      <th>Rustom</th>
      <td>162542</td>
      <td>392572.0</td>
    </tr>
    <tr>
      <th>Mohenjo Daro</th>
      <td>162672</td>
      <td>402672.0</td>
    </tr>
    <tr>
      <th>Shin Godzilla</th>
      <td>163056</td>
      <td>315011.0</td>
    </tr>
    <tr>
      <th>The Beatles: Eight Days a Week - The Touring Years</th>
      <td>163949</td>
      <td>391698.0</td>
    </tr>
  </tbody>
</table>
<p>9219 rows × 2 columns</p>
</div>

In [138]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [150]:
hybrid(3, 'The Dark Knight')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>year</th>
      <th>id</th>
      <th>est</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6623</th>
      <td>The Prestige</td>
      <td>4510.0</td>
      <td>8.0</td>
      <td>2006</td>
      <td>1124</td>
      <td>4.099173</td>
    </tr>
    <tr>
      <th>8613</th>
      <td>Interstellar</td>
      <td>11187.0</td>
      <td>8.1</td>
      <td>2014</td>
      <td>157336</td>
      <td>4.063391</td>
    </tr>
    <tr>
      <th>3381</th>
      <td>Memento</td>
      <td>4168.0</td>
      <td>8.1</td>
      <td>2000</td>
      <td>77</td>
      <td>4.055961</td>
    </tr>
    <tr>
      <th>7648</th>
      <td>Inception</td>
      <td>14075.0</td>
      <td>8.1</td>
      <td>2010</td>
      <td>27205</td>
      <td>3.773408</td>
    </tr>
    <tr>
      <th>8031</th>
      <td>The Dark Knight Rises</td>
      <td>9263.0</td>
      <td>7.6</td>
      <td>2012</td>
      <td>49026</td>
      <td>3.661777</td>
    </tr>
    <tr>
      <th>6218</th>
      <td>Batman Begins</td>
      <td>7511.0</td>
      <td>7.5</td>
      <td>2005</td>
      <td>272</td>
      <td>3.654163</td>
    </tr>
    <tr>
      <th>5943</th>
      <td>Thursday</td>
      <td>84.0</td>
      <td>7.0</td>
      <td>1998</td>
      <td>9812</td>
      <td>3.640293</td>
    </tr>
    <tr>
      <th>5809</th>
      <td>Point Blank</td>
      <td>97.0</td>
      <td>7.1</td>
      <td>1967</td>
      <td>26039</td>
      <td>3.610704</td>
    </tr>
    <tr>
      <th>8001</th>
      <td>Batman: Year One</td>
      <td>255.0</td>
      <td>7.1</td>
      <td>2011</td>
      <td>69735</td>
      <td>3.519598</td>
    </tr>
    <tr>
      <th>7582</th>
      <td>Defendor</td>
      <td>197.0</td>
      <td>6.5</td>
      <td>2009</td>
      <td>34769</td>
      <td>3.516293</td>
    </tr>
  </tbody>
</table>
</div>