In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from ast import literal_eval # 문자열 모형의 딕트를 스근하게 딕트로 바꾸어 준다. 
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [2]:
md = pd.read_csv('input/movies_metadata.csv')

In [3]:
md.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [5]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

genres data

In [9]:
md['genres'] = md['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

v는 영화의 득표수
m은 차트에 나열되기 위한 최소한의 투표수
R은 영화의 평균 평점
C는 전체 보고서에 평균 투표

In [12]:
md['year'] = md['release_date'].apply(lambda x:str(x).split('-')[0] if x != np.nan else np.nan)

In [13]:
vote_count = md['vote_count']
vote_average = md['vote_average']
m = vote_count.quantile(0.95)
c = vote_average.mean()
c

5.618207215134185

In [26]:
def get_wr(x):
    v = x['vote_count']
    r = x['vote_average']
    return (v / (v + m) * r) + (m/(v+m)*c)

In [23]:

qualified = md[(md['vote_count'].notnull()) & (md['vote_average'].notnull()) & (md['vote_count'] >= m)][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype(int)
qualified['vote_average'] = qualified['vote_average'].astype(int)

In [24]:
qualified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2274 entries, 0 to 45014
Data columns (total 6 columns):
title           2274 non-null object
year            2274 non-null object
vote_count      2274 non-null int32
vote_average    2274 non-null int32
popularity      2274 non-null object
genres          2274 non-null object
dtypes: int32(2), object(4)
memory usage: 106.6+ KB

In [28]:
qualified['wr'] = qualified.apply(get_wr, axis=1)

In [31]:
qualified = qualified.sort_values('wr', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>level_0</th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>Crime</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>6</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>0</th>
      <td>7</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>9</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>10</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45446</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45449</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45449</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45450</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45450</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45450</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45451</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45451</td>
      <td>Fantasy</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45452</td>
      <td>Documentary</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45453</td>
      <td>Crime</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45453</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45453</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45454</td>
      <td>Comedy</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45454</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45456</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45456</td>
      <td>Mystery</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45456</td>
      <td>Thriller</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45457</td>
      <td>Mystery</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45457</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45458</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45459</td>
      <td>Science Fiction</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45460</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45460</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45460</td>
      <td>Romance</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45461</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45461</td>
      <td>Family</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45462</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>0</th>
      <td>45463</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45463</td>
      <td>Drama</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45463</td>
      <td>Thriller</td>
    </tr>
  </tbody>
</table>
<p>91106 rows × 2 columns</p>
</div>

0              Animation
0                 Comedy
0                 Family
1              Adventure
1                Fantasy
1                 Family
2                Romance
2                 Comedy
3                 Comedy
3                  Drama
3                Romance
4                 Comedy
5                 Action
5                  Crime
5                  Drama
5               Thriller
6                 Comedy
6                Romance
7                 Action
7              Adventure
7                  Drama
7                 Family
8                 Action
8              Adventure
8               Thriller
9              Adventure
9                 Action
9               Thriller
10                Comedy
10                 Drama
              ...
45446             Comedy
45449          Animation
45449             Family
45450            Fantasy
45450             Action
45450           Thriller
45451             Comedy
45451            Fantasy
45452        Documentary
45453              Crime
45453              Drama
45453           Thriller
45454             Comedy
45454              Drama
45456             Horror
45456            Mystery
45456           Thriller
45457            Mystery
45457             Horror
45458             Horror
45459    Science Fiction
45460              Drama
45460             Action
45460            Romance
45461              Drama
45461             Family
45462              Drama
45463             Action
45463              Drama
45463           Thriller
Length: 91106, dtype: object

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10309</th>
      <td>Dilwale Dulhania Le Jayenge</td>
      <td>1995</td>
      <td>661</td>
      <td>9</td>
      <td>34.457</td>
      <td>8.565285</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>7.971357</td>
    </tr>
    <tr>
      <th>876</th>
      <td>Vertigo</td>
      <td>1958</td>
      <td>1162</td>
      <td>8</td>
      <td>18.2082</td>
      <td>7.811667</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
print(md['genres'].apply(lambda x: pd.Series(md['genres'])).stack().reset_index())

In [72]:
chart_bar('Adventure').head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>7.906526</td>
    </tr>
    <tr>
      <th>22879</th>
      <td>Interstellar</td>
      <td>2014</td>
      <td>11187</td>
      <td>8</td>
      <td>32.2135</td>
      <td>7.883426</td>
    </tr>
    <tr>
      <th>4863</th>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>2001</td>
      <td>8892</td>
      <td>8</td>
      <td>32.0707</td>
      <td>7.854939</td>
    </tr>
  </tbody>
</table>
</div>