In [133]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from ast import literal_eval # 문자열 모형의 딕트를 스근하게 딕트로 바꾸어 준다. 
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [135]:
md = pd.read_csv('movieRecommaned/input/movies_metadata.csv')

In [134]:
md.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [136]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

genres data

In [137]:
md['genres'] = md['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

v는 영화의 득표수
m은 차트에 나열되기 위한 최소한의 투표수
R은 영화의 평균 평점
C는 전체 보고서에 평균 투표

In [138]:
md['year'] = md['release_date'].apply(lambda x:str(x).split('-')[0] if x != np.nan else np.nan)

In [139]:
vote_count = md['vote_count']
vote_average = md['vote_average']
m = vote_count.quantile(0.95)
c = vote_average.mean()
c

5.618207215134185

In [140]:
def get_wr(x):
    v = x['vote_count']
    r = x['vote_average']
    return (v / (v + m) * r) + (m/(v+m)*c)

In [141]:

qualified = md[(md['vote_count'].notnull()) & (md['vote_average'].notnull()) & (md['vote_count'] >= m)][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype(int)
qualified['vote_average'] = qualified['vote_average'].astype(int)

In [142]:
qualified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2274 entries, 0 to 45014
Data columns (total 6 columns):
title           2274 non-null object
year            2274 non-null object
vote_count      2274 non-null int32
vote_average    2274 non-null int32
popularity      2274 non-null object
genres          2274 non-null object
dtypes: int32(2), object(4)
memory usage: 106.6+ KB

In [143]:
qualified['wr'] = qualified.apply(get_wr, axis=1)

In [144]:
qualified = qualified.sort_values('wr', ascending=False)

In [145]:
s_gen = md.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level=1, drop=True)

In [146]:
s_gen.name = 'genres' 
s_gen = md.drop('genres', axis=1).join(s_gen)

In [147]:
def bar_chart(genres, percent=0.85):
    df = s_gen[s_gen['genres'] == genres]
    vote_count = df[df['vote_count'].notnull()]['vote_count']
    vote_average = df[df['vote_average'].notnull()]['vote_average']
    m = vote_count.quantile(percent)
    c = vote_average.mean()
    qualified = df[(df['vote_count'].notnull()) & (df['vote_count'] >= m) & df['vote_average'].notnull()][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype(int)
    qualified['vote_average'] = qualified['vote_average'].astype(int)
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * c), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    return qualified

In [148]:
bar_chart('Adventure').head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>7.920697</td>
    </tr>
    <tr>
      <th>22879</th>
      <td>Interstellar</td>
      <td>2014</td>
      <td>11187</td>
      <td>8</td>
      <td>32.2135</td>
      <td>7.901099</td>
    </tr>
    <tr>
      <th>4863</th>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>2001</td>
      <td>8892</td>
      <td>8</td>
      <td>32.0707</td>
      <td>7.876930</td>
    </tr>
    <tr>
      <th>7000</th>
      <td>The Lord of the Rings: The Return of the King</td>
      <td>2003</td>
      <td>8226</td>
      <td>8</td>
      <td>29.3244</td>
      <td>7.867537</td>
    </tr>
    <tr>
      <th>5814</th>
      <td>The Lord of the Rings: The Two Towers</td>
      <td>2002</td>
      <td>7641</td>
      <td>8</td>
      <td>29.4235</td>
      <td>7.858018</td>
    </tr>
    <tr>
      <th>256</th>
      <td>Star Wars</td>
      <td>1977</td>
      <td>6778</td>
      <td>8</td>
      <td>42.1497</td>
      <td>7.841181</td>
    </tr>
    <tr>
      <th>1225</th>
      <td>Back to the Future</td>
      <td>1985</td>
      <td>6239</td>
      <td>8</td>
      <td>25.7785</td>
      <td>7.828477</td>
    </tr>
    <tr>
      <th>1154</th>
      <td>The Empire Strikes Back</td>
      <td>1980</td>
      <td>5998</td>
      <td>8</td>
      <td>19.471</td>
      <td>7.822115</td>
    </tr>
    <tr>
      <th>5481</th>
      <td>Spirited Away</td>
      <td>2001</td>
      <td>3968</td>
      <td>8</td>
      <td>41.0489</td>
      <td>7.741285</td>
    </tr>
    <tr>
      <th>9698</th>
      <td>Howl's Moving Castle</td>
      <td>2004</td>
      <td>2049</td>
      <td>8</td>
      <td>16.136</td>
      <td>7.546475</td>
    </tr>
  </tbody>
</table>
</div>

In [149]:
bar_chart('Romance').head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10309</th>
      <td>Dilwale Dulhania Le Jayenge</td>
      <td>1995</td>
      <td>661</td>
      <td>9</td>
      <td>34.457</td>
      <td>8.613461</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>7.975754</td>
    </tr>
    <tr>
      <th>876</th>
      <td>Vertigo</td>
      <td>1958</td>
      <td>1162</td>
      <td>8</td>
      <td>18.2082</td>
      <td>7.840579</td>
    </tr>
  </tbody>
</table>
</div>

In [150]:
bar_chart('Thriller').head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>7.962878</td>
    </tr>
    <tr>
      <th>12481</th>
      <td>The Dark Knight</td>
      <td>2008</td>
      <td>12269</td>
      <td>8</td>
      <td>123.167</td>
      <td>7.957511</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Pulp Fiction</td>
      <td>1994</td>
      <td>8670</td>
      <td>8</td>
      <td>140.95</td>
      <td>7.940315</td>
    </tr>
  </tbody>
</table>
</div>

In [151]:
link_small = pd.read_csv('movieRecommaned/input/links_small.csv')
link_small = link_small[link_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [152]:
md = md.drop([19730, 29503, 35587])

In [153]:
md['id'] = md['id'].astype('int')

In [154]:
smd = md[md['id'].isin(link_small)]

In [155]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [156]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [157]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [158]:
smd = smd.reset_index()

In [159]:
titles = smd['title']
indces = pd.Series(smd.index, index=titles)

In [160]:
def getrecommandations(title):
    index = indces[title]
    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores] 
    return titles.iloc[movie_indices]

In [161]:
getrecommandations('The Dark Knight')

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
6144                              Batman Begins
7933         Sherlock Holmes: A Game of Shadows
5511                            To End All Wars
4489                                      Q & A
7344                        Law Abiding Citizen
7242                  The File on Thelma Jordon
3537                               Criminal Law
2893                              Flying Tigers
1135                   Night Falls on Manhattan
8680                          The Young Savages
8917         Batman v Superman: Dawn of Justice
1240                             Batman & Robin
6740                                Rush Hour 3
1652                            The Shaggy D.A.
6667                                   Fracture
4028                                 The Rookie
8371       Justice League: Crisis on Two Earths
8719                                 By the Gun
3730                    Dr. Mabuse, the Gambler
4160                     The Master of Disguise
Name: title, dtype: object

In [162]:
credits = pd.read_csv('movieRecommaned/input/credits.csv')
keywords = pd.read_csv('movieRecommaned/input/keywords.csv')

In [163]:
keywords['id'] = keywords['id'].astype(int)
credits['id'] = credits['id'].astype(int)
md['id'] = md['id'].astype(int)

In [164]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')

In [165]:
smd = md[md['id'].isin(link_small)]

In [166]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x :len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [167]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [168]:
smd['director'] = smd['crew'].apply(get_director)

In [169]:
smd['cast'] = smd['cast'].apply(lambda x : [i['name'] for i in x] if isinstance(x, list) else [])

In [170]:
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) > 3 else x)

In [171]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

내가하려는 일은 장르, 감독, 주인공 및 키워드로 구성된 모든 영화에 대한 메타 데이터 덤프를 만드는 것입니다. 그런 다음 Count Vectorizer를 사용하여 Description Recommender에서했던 것처럼 카운트 매트릭스를 만듭니다. 나머지 단계는 이전에했던 것과 유사합니다. 코사인 유사성을 계산하고 가장 유사한 영화를 반환합니다.

다음은 장르와 크레디트 데이터 준비시 수행하는 단계입니다.

Strip Spaces를 선택하고 모든 기능에서 소문자로 변환하십시오. 이렇게하면 우리 엔진이 Johnny Depp와 Johnny Galecki를 혼동하지 않게됩니다.
총 감독에게 세 번 더 비중을 부여하라.

In [172]:
smd['cast'] = smd['cast'].apply(lambda x : [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype(str).apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x, x, x])

In [173]:
s = smd.apply(lambda x: pd.Series(x['keywords']), axis=1).stack().reset_index(level=1, drop=True)

In [174]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
dtype: int64

In [175]:
s = s[s > 1]

In [176]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [177]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [178]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)

In [179]:
smd['keywords'] = smd['keywords'].apply(lambda x :[stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [180]:
smd['soup'] = smd['keywords']+smd['cast']+smd['director']+smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [181]:
count = CountVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [182]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [183]:
smd = smd.reset_index()
titles = smd['title']
indces = pd.Series(smd.index, index=smd['title'])

In [184]:
indces

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Kill Command                                          9189
Now You See Me 2                                      9190
The Video Dead                                        9191
Teenage Mutant Ninja Turtles: Out of the Shadows      9192
Popstar: Never Stop Never Stopping                    9193
The Conjuring 2                                       9194
Approaching the Unknown                               9195
Ghostbusters                                          9196
Central Intelligence                                  9197
Jason Bourne                                          9198
The Maid's Room                                       9199
The Legend of Tarzan                                  9200
The Purge: Election Year                              9201
Mike and Dave Need Wedding Dates                      9202
Survive and Advance                                   9203
Tallulah                                              9204
Piper                                                 9205
Nerve                                                 9206
My Friend Rockefeller                                 9207
Sunspring                                             9208
Author: The JT LeRoy Story                            9209
Hell or High Water                                    9210
Kingsglaive: Final Fantasy XV                         9211
Body                                                  9212
Sharknado 4: The 4th Awakens                          9213
The Last Brickmaker in America                        9214
Rustom                                                9215
Mohenjo Daro                                          9216
Shin Godzilla                                         9217
The Beatles: Eight Days a Week - The Touring Years    9218
Length: 9219, dtype: int64

In [185]:
getrecommandations('The Dark Knight')

8031                 The Dark Knight Rises
6218                         Batman Begins
6623                          The Prestige
2085                             Following
7648                             Inception
4145                              Insomnia
3381                               Memento
8613                          Interstellar
7659            Batman: Under the Red Hood
1134                        Batman Returns
8927               Kidnapping Mr. Heineken
5943                              Thursday
1260                        Batman & Robin
9024    Batman v Superman: Dawn of Justice
4021                  The Long Good Friday
5809                           Point Blank
7362       Gangster's Paradise: Jerusalema
7561                           Harry Brown
7582                              Defendor
8001                      Batman: Year One
2754                          Death Wish 3
132                         Batman Forever
2131                              Superman
2448                            Nighthawks
5098                          The Enforcer
8026                    Bullet to the Head
8727          Revenge of the Green Dragons
9121                          İtirazım Var
7133                            RockNRolla
217                       The Glass Shield
Name: title, dtype: object

In [186]:
def improved_recommendations(title):
    index = indces[title]
    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indecs = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indecs][['title', 'vote_count', 'vote_average', 'year']]
    vote_count = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_average = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    c = vote_average.mean()
    m = vote_count.quantile(0.6)
    qualified = movies[(movies['vote_count'].notnull()) & (movies['vote_average'].notnull()) & (movies['vote_count']>m)]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(get_wr, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [187]:
reader = Reader()

In [188]:
raitings = pd.read_csv('movieRecommaned/input/ratings_small.csv')
raitings.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
      <td>1260759144</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
      <td>1260759179</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
      <td>1260759182</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
      <td>1260759185</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
      <td>1260759205</td>
    </tr>
  </tbody>
</table>
</div>

In [189]:
data = Dataset.load_from_df(raitings[['userId', 'movieId', 'rating']], reader=reader)
data.split(n_folds=5)

In [190]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1

RMSE: 0.8971
MAE:  0.6897
------------
Fold 2

RMSE: 0.8988
MAE:  0.6929
------------
Fold 3

RMSE: 0.8916
MAE:  0.6860
------------
Fold 4

RMSE: 0.9028
MAE:  0.6993
------------
Fold 5

RMSE: 0.8954
MAE:  0.6864
------------
------------
Mean RMSE: 0.8971
Mean MAE : 0.6909
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.8970519585613387,
                             0.8988150172342702,
                             0.891615252774923,
                             0.9027996776472405,
                             0.8953991009253148],
                            'mae': [0.6897055888313983,
                             0.69291446597807,
                             0.6859795759190649,
                             0.6992638811528139,
                             0.686421115802861]})

In [191]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [192]:
raitings[raitings['userId']==1]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
      <td>1260759144</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
      <td>1260759179</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
      <td>1260759182</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
      <td>1260759185</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
      <td>1260759205</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1263</td>
      <td>2.0</td>
      <td>1260759151</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>1287</td>
      <td>2.0</td>
      <td>1260759187</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1293</td>
      <td>2.0</td>
      <td>1260759148</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1339</td>
      <td>3.5</td>
      <td>1260759125</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1343</td>
      <td>2.0</td>
      <td>1260759131</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1371</td>
      <td>2.5</td>
      <td>1260759135</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>1405</td>
      <td>1.0</td>
      <td>1260759203</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1</td>
      <td>1953</td>
      <td>4.0</td>
      <td>1260759191</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>2105</td>
      <td>4.0</td>
      <td>1260759139</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1</td>
      <td>2150</td>
      <td>3.0</td>
      <td>1260759194</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1</td>
      <td>2193</td>
      <td>2.0</td>
      <td>1260759198</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1</td>
      <td>2294</td>
      <td>2.0</td>
      <td>1260759108</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1</td>
      <td>2455</td>
      <td>2.5</td>
      <td>1260759113</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1</td>
      <td>2968</td>
      <td>1.0</td>
      <td>1260759200</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>3671</td>
      <td>3.0</td>
      <td>1260759117</td>
    </tr>
  </tbody>
</table>
</div>

In [193]:
svd.predict(1, 302)

Prediction(uid=1, iid=302, r_ui=None, est=2.6777398570856326, details={'was_impossible': False})

In [194]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [195]:
id_map = pd.read_csv('movieRecommaned/input/links_small.csv')[['movieId','tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']

In [196]:
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')

In [197]:
indices_map = id_map.set_index('id')

In [198]:
def hybrid(userId, title):
    indces[title]

In [199]:
indces

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Kill Command                                          9189
Now You See Me 2                                      9190
The Video Dead                                        9191
Teenage Mutant Ninja Turtles: Out of the Shadows      9192
Popstar: Never Stop Never Stopping                    9193
The Conjuring 2                                       9194
Approaching the Unknown                               9195
Ghostbusters                                          9196
Central Intelligence                                  9197
Jason Bourne                                          9198
The Maid's Room                                       9199
The Legend of Tarzan                                  9200
The Purge: Election Year                              9201
Mike and Dave Need Wedding Dates                      9202
Survive and Advance                                   9203
Tallulah                                              9204
Piper                                                 9205
Nerve                                                 9206
My Friend Rockefeller                                 9207
Sunspring                                             9208
Author: The JT LeRoy Story                            9209
Hell or High Water                                    9210
Kingsglaive: Final Fantasy XV                         9211
Body                                                  9212
Sharknado 4: The 4th Awakens                          9213
The Last Brickmaker in America                        9214
Rustom                                                9215
Mohenjo Daro                                          9216
Shin Godzilla                                         9217
The Beatles: Eight Days a Week - The Touring Years    9218
Length: 9219, dtype: int64